openapi: 3.2.0
info:
  title: Store Shipping Carrier API
  description: Documentation for store API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Shipping Carrier
paths:
  /store/shipping-carrier:
    post:
      operationId: create-shipping-carrier
      summary: Create Shipping Carrier
      description: The "Create Shipping Carrier" API allows adding a new shipping carrier.
      parameters:
      - name: Authorization
        in: header
        description: Access Token
        required: true
        schema:
          type: string
          example: Bearer 9c48df2694a849b6089f9d0d3513efe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShippingCarrierDto'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShippingCarrierResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Shipping Carrier
      security:
      - Location-Access: []
    get:
      operationId: list-shipping-carriers
      summary: List Shipping Carriers
      description: The "List Shipping Carrier" API allows to retrieve a list of shipping carrier.
      parameters:
      - name: Authorization
        in: header
        description: Access Token
        required: true
        schema:
          type: string
          example: Bearer 9c48df2694a849b6089f9d0d3513efe
      - name: altId
        required: true
        in: query
        description: Location Id or Agency Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altType
        required: true
        in: query
        schema:
          enum:
          - location
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListShippingCarrierResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Shipping Carrier
      security:
      - Location-Access: []
  /store/shipping-carrier/{shippingCarrierId}:
    get:
      operationId: get-shipping-carriers
      summary: Get Shipping Carrier
      description: The "List Shipping Carrier" API allows to retrieve a paginated list of shipping carrier.
      parameters:
      - name: Authorization
        in: header
        description: Access Token
        required: true
        schema:
          type: string
          example: Bearer 9c48df2694a849b6089f9d0d3513efe
      - name: shippingCarrierId
        required: true
        in: path
        description: ID of the shipping carrier that needs to be returned
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altId
        required: true
        in: query
        description: Location Id or Agency Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altType
        required: true
        in: query
        schema:
          enum:
          - location
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShippingCarrierResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Shipping Carrier
      security:
      - Location-Access: []
    put:
      operationId: update-shipping-carrier
      summary: Update Shipping Carrier
      description: The "update Shipping Carrier" API allows update a shipping carrier to the system.
      parameters:
      - name: Authorization
        in: header
        description: Access Token
        required: true
        schema:
          type: string
          example: Bearer 9c48df2694a849b6089f9d0d3513efe
      - name: shippingCarrierId
        required: true
        in: path
        description: ID of the shipping carrier that needs to be returned
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShippingCarrierDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShippingCarrierResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Shipping Carrier
      security:
      - Location-Access: []
    delete:
      operationId: delete-shipping-carrier
      summary: Delete shipping carrier
      description: Delete specific shipping carrier with Id :shippingCarrierId
      parameters:
      - name: Authorization
        in: header
        description: Access Token
        required: true
        schema:
          type: string
          example: Bearer 9c48df2694a849b6089f9d0d3513efe
      - name: shippingCarrierId
        required: true
        in: path
        description: ID of the shipping carrier that needs to be returned
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altId
        required: true
        in: query
        description: Location Id or Agency Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altType
        required: true
        in: query
        schema:
          enum:
          - location
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteShippingCarrierResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Shipping Carrier
      security:
      - Location-Access: []
components:
  schemas:
    ShippingCarrierSchema:
      type: object
      properties:
        altId:
          type: string
          description: Location Id or Agency Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          enum:
          - location
        name:
          type: string
          description: Name of the shipping carrier
          example: FedEx
        callbackUrl:
          type: string
          description: The URL endpoint that GHL needs to retrieve shipping rates. This must be a public URL.
          example: https://example.com/get-shipping-rates
        services:
          description: An array of available shipping carrier services
          type: array
          items:
            $ref: '#/components/schemas/ShippingCarrierServiceDto'
        allowsMultipleServiceSelection:
          type: boolean
          description: The seller can choose multiple services while creating shipping rates if this is true.
          example: true
        _id:
          type: string
          description: The unique identifier for the product.
          example: 655b33a82209e60b6adb87a5
        marketplaceAppId:
          type: string
          description: The unique identifier for the marketplace app.
          example: 655b33a82209e60b6adb87a5
        createdAt:
          type: string
          description: created at
          example: '2023-12-12T09:27:42.355Z'
        updatedAt:
          type: string
          description: updated at
          example: '2023-12-12T09:27:42.355Z'
      required:
      - altId
      - altType
      - name
      - callbackUrl
      - _id
      - marketplaceAppId
      - createdAt
      - updatedAt
    DeleteShippingCarrierResponseDto:
      type: object
      properties:
        status:
          type: boolean
          description: Status of api action
          example: true
        message:
          type: string
          description: Success message
          example: Successfully created
      required:
      - status
    UpdateShippingCarrierDto:
      type: object
      properties:
        altId:
          type: string
          description: Location Id or Agency Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          enum:
          - location
        name:
          type: string
          description: Name of the shipping carrier
          example: FedEx
        callbackUrl:
          type: string
          description: The URL endpoint that GHL needs to retrieve shipping rates. This must be a public URL.
          example: https://example.com/get-shipping-rates
        services:
          description: An array of available shipping carrier services
          type: array
          items:
            $ref: '#/components/schemas/ShippingCarrierServiceDto'
        allowsMultipleServiceSelection:
          type: boolean
          description: The seller can choose multiple services while creating shipping rates if this is true.
          example: true
    ListShippingCarrierResponseDto:
      type: object
      properties:
        status:
          type: boolean
          description: Status of api action
          example: true
        message:
          type: string
          description: Success message
          example: Successfully created
        data:
          description: An array of items
          type: array
          items:
            $ref: '#/components/schemas/ShippingCarrierSchema'
      required:
      - status
      - data
    GetShippingCarrierResponseDto:
      type: object
      properties:
        status:
          type: boolean
          description: Status of api action
          example: true
        message:
          type: string
          description: Success message
          example: Successfully created
        data:
          description: Shipping carrier data
          allOf:
          - $ref: '#/components/schemas/ShippingCarrierSchema'
      required:
      - status
      - data
    UpdateShippingCarrierResponseDto:
      type: object
      properties:
        status:
          type: boolean
          description: Status of api action
          example: true
        message:
          type: string
          description: Success message
          example: Successfully created
        data:
          description: Shipping carrier data
          allOf:
          - $ref: '#/components/schemas/ShippingCarrierSchema'
      required:
      - status
      - data
    ShippingCarrierServiceDto:
      type: object
      properties:
        name:
          type: string
          description: Name of the shipping carrier service
          example: Priority Mail Express International
        value:
          type: string
          description: Value of the shipping carrier service
          example: PriorityMailExpressInternational
      required:
      - name
      - value
    CreateShippingCarrierResponseDto:
      type: object
      properties:
        status:
          type: boolean
          description: Status of api action
          example: true
        message:
          type: string
          description: Success message
          example: Successfully created
        data:
          description: Shipping carrier data
          allOf:
          - $ref: '#/components/schemas/ShippingCarrierSchema'
      required:
      - status
      - data
    CreateShippingCarrierDto:
      type: object
      properties:
        altId:
          type: string
          description: Location Id or Agency Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          enum:
          - location
        name:
          type: string
          description: Name of the shipping carrier
          example: FedEx
        callbackUrl:
          type: string
          description: The URL endpoint that GHL needs to retrieve shipping rates. This must be a public URL.
          example: https://example.com/get-shipping-rates
        services:
          description: An array of available shipping carrier services
          type: array
          items:
            $ref: '#/components/schemas/ShippingCarrierServiceDto'
        allowsMultipleServiceSelection:
          type: boolean
          description: The seller can choose multiple services while creating shipping rates if this is true.
          example: true
      required:
      - altId
      - altType
      - name
      - callbackUrl
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
