openapi: 3.2.0
info:
  title: Social Media Posting Category API
  description: Documentation for Social Media Posting API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Category
  description: Documentation for Social Media Posting API
paths:
  /social-media-posting/{locationId}/categories:
    get:
      operationId: get-categories-location-id
      summary: Get categories by location id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: locationId
        required: true
        in: path
        description: Location Id
        example: ve9EPM428h8vShlRW1KT
        schema:
          type: string
      - name: searchText
        required: false
        in: query
        description: Search text string
        example: test
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Limit
        example: '10'
        schema:
          type: string
      - name: skip
        required: false
        in: query
        description: Skip
        example: '0'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetByLocationIdResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Category
      security:
      - bearer:
        - socialplanner/category.readonly
  /social-media-posting/{locationId}/categories/{id}:
    get:
      operationId: get-categories-id
      summary: Get categories by id
      parameters:
      - name: Authorization
        in: header
        description: Access Token
        required: true
        schema:
          type: string
          example: Bearer 9c48df2694a849b6089f9d0d3513efe
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: id
        required: true
        in: path
        description: Category Id
        example: 6284c43d519161e96cc09c13
        schema:
          type: string
      - name: locationId
        required: true
        in: path
        description: Location Id
        example: 6284c43d519161e96cc09c13
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetByIdResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Category
      security:
      - bearer: []
components:
  schemas:
    GetCategorySchema:
      type: object
      properties:
        category:
          description: Category Schema
          allOf:
          - $ref: '#/components/schemas/GetByIdResponseSchema'
    GetByLocationIdResponseSchema:
      type: object
      properties:
        count:
          type: number
          description: Count
          example: 3
        categories:
          description: Meta Data
          type: array
          items:
            $ref: '#/components/schemas/CategorySchema'
      required:
      - count
      - categories
    GetByLocationIdResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success or Failure
          example: true
        statusCode:
          type: number
          description: Status Code
          example: 200
        message:
          type: string
          description: Message
          example: Fetched Categories by Location ID
        results:
          description: Requested Results
          allOf:
          - $ref: '#/components/schemas/GetByLocationIdResponseSchema'
      required:
      - success
      - statusCode
      - message
    GetByIdResponseSchema:
      type: object
      properties:
        name:
          type: string
          description: Category Name
          example: Primary
        primaryColor:
          type: string
          description: Color For Category
          example: '#32a852'
        secondaryColor:
          type: string
          description: Secondary Color
          example: '#32a852'
        locationId:
          type: string
          description: Location ID
          example: Lx1EI6YIgQYMQi0ytFXv
        _id:
          type: string
          description: ID
          example: Lx1EI6YIgQYMQi0ytFXv
        createdBy:
          type: string
          description: Created By User
          example: Lx1EI6YIgQYMQi0ytFXv
        deleted:
          type: boolean
          description: Deleted Value
          example: false
        message:
          type: string
          description: Message
          example: Category not found
        createdAt:
          format: date-time
          type: string
          example: '2023-08-02T00:00:00.000Z'
        updatedAt:
          format: date-time
          type: string
          example: '2023-08-02T00:00:00.000Z'
      required:
      - deleted
    GetByIdResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success or Failure
          example: true
        statusCode:
          type: number
          description: Status Code
          example: 200
        message:
          type: string
          description: Message
          example: Fetched Category
        results:
          description: Requested Results
          allOf:
          - $ref: '#/components/schemas/GetCategorySchema'
      required:
      - success
      - statusCode
      - message
    CategorySchema:
      type: object
      properties:
        name:
          type: string
          description: Category Name
          example: Primary
        primaryColor:
          type: string
          description: Color For Category
          example: '#FFFFFF'
        secondaryColor:
          type: string
          description: Secondary Color
          example: '#FFFFFF'
        locationId:
          type: string
          description: Location ID
          example: Lx1EI6YIgQYMQi0ytFXv
        _id:
          type: string
          description: ID
          example: Lx1EI6YIgQYMQi0ytFXv
        createdBy:
          type: string
          description: Created By User
          example: Lx1EI6YIgQYMQi0ytFXv
        deleted:
          type: boolean
          description: Deleted Value
          example: false
        createdAt:
          format: date-time
          type: string
          example: '2023-08-02T00:00:00.000Z'
        updatedAt:
          format: date-time
          type: string
          example: '2023-08-02T00:00:00.000Z'
      required:
      - deleted
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
x-tagGroups:
  name: Social Planner
  tags:
  - Oauth | Google
  - Post
  - Account
  - Oauth | Facebook
  - Oauth | Instagram
  - Oauth | LinkedIn
  - Oauth | Twitter
  - CSV
  - Oauth | Tiktok
  - Category
  - Tag
  - Statistics
