openapi: 3.2.0
info:
  title: Ad Manager LinkedIn Integration API
  description: Documentation for Ad-publishing API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: LinkedIn Integration
  description: Documentation for Ad-publishing API
paths:
  /ad-publishing/linkedin/integration:
    get:
      operationId: li-get-integration
      summary: Get LinkedIn integration
      description: Retrieve the LinkedIn Ads integration details for a location
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
          example: '2021-07-28'
      - name: locationId
        required: true
        in: query
        description: Location identifier
        schema:
          example: HChooFuiyPpVYzeJ4HMe
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - adPublishing.readonly
      tags:
      - LinkedIn Integration
    post:
      operationId: li-create-integration
      summary: Create LinkedIn integration
      description: Create a LinkedIn Ads integration for a location with ad account details
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
          example: '2021-07-28'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkedinIntegrationDTO'
      responses:
        '201':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - adPublishing.write
      tags:
      - LinkedIn Integration
  /ad-publishing/linkedin/ad-accounts:
    get:
      operationId: li-get-ad-accounts
      summary: Get LinkedIn ad accounts
      description: Retrieve LinkedIn Ads accounts available for the connected user
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
          example: '2021-07-28'
      - name: locationId
        required: true
        in: query
        description: Location identifier
        schema:
          example: HChooFuiyPpVYzeJ4HMe
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - adPublishing.readonly
      tags:
      - LinkedIn Integration
  /ad-publishing/linkedin/ad-account:
    get:
      operationId: li-get-ad-account-details
      summary: Get ad account details
      description: Retrieve details of a specific LinkedIn ad account
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
          example: '2021-07-28'
      - name: locationId
        required: true
        in: query
        description: Location identifier
        schema:
          example: HChooFuiyPpVYzeJ4HMe
          type: string
      - name: adAccountId
        required: true
        in: query
        description: Ad account identifier
        schema:
          example: '12345678'
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - adPublishing.readonly
      tags:
      - LinkedIn Integration
    delete:
      operationId: li-delete-ad-account
      summary: Delete ad account
      description: Remove a LinkedIn ad account connection from a location
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
          example: '2021-07-28'
      - name: locationId
        required: true
        in: query
        description: Location identifier
        schema:
          example: HChooFuiyPpVYzeJ4HMe
          type: string
      - name: adAccountId
        required: true
        in: query
        description: Ad account identifier
        schema:
          example: '12345678'
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - adPublishing.write
      tags:
      - LinkedIn Integration
  /ad-publishing/linkedin/me:
    get:
      operationId: li-get-current-user
      summary: Get current LinkedIn user
      description: Retrieve the authenticated LinkedIn user info for a location
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
          example: '2021-07-28'
      - name: locationId
        required: true
        in: query
        description: Location identifier
        schema:
          example: HChooFuiyPpVYzeJ4HMe
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - adPublishing.readonly
      tags:
      - LinkedIn Integration
components:
  schemas:
    CreateLinkedinIntegrationDTO:
      type: object
      properties:
        locationId:
          type: string
          description: Location identifier
          example: loc_123
        adAccountId:
          type: string
          description: Ad account identifier
          example: '12345678'
        adAccountName:
          type: string
          description: Ad account name
          example: My Ad Account
        currencyCode:
          type: string
          description: Currency code
          example: USD
        organizationId:
          type: string
          description: Organization identifier
          example: '12345678'
      required:
      - locationId
      - adAccountId
      - adAccountName
      - currencyCode
      - organizationId
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
    Agency-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency.
      type: http
x-tagGroups:
  name: Ad Manager
  tags:
  - Facebook Integration
  - Facebook Ads
  - Facebook Reporting
  - Google Integration
  - Google Ads
  - Google Reporting
  - LinkedIn Integration
  - LinkedIn Ads
  - LinkedIn Reporting
  - Reselling
  - Snapshots
