openapi: 3.2.0
info:
  title: Invoice API
  description: Documentation for invoice API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Invoice
  description: Documentation for invoice API
paths:
  /invoices/generate-invoice-number:
    get:
      operationId: generate-invoice-number
      summary: Generate Invoice Number
      description: Get the next invoice number for the given location
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: altId
        required: true
        in: query
        description: Location Id
        schema:
          type: string
      - name: altType
        required: true
        in: query
        schema:
          enum:
          - location
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateInvoiceNumberResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.readonly
      - Agency-Access:
        - invoices.readonly
  /invoices/settings:
    get:
      operationId: get-invoice-settings
      summary: Get Invoice Settings
      description: Get the invoice settings for the given location
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: altId
        required: true
        in: query
        description: Location Id or Agency Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altType
        required: true
        in: query
        schema:
          enum:
          - location
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoiceSettingsResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.readonly
      - Agency-Access:
        - invoices.readonly
  /invoices/{invoiceId}:
    get:
      operationId: get-invoice
      summary: Get invoice
      description: API to get invoice by invoice id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altId
        required: true
        in: query
        description: location Id / company Id based on altType
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altType
        required: true
        in: query
        description: Alt Type
        schema:
          example: location
          enum:
          - location
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoiceResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.readonly
      - Agency-Access:
        - invoices.readonly
    put:
      operationId: update-invoice
      summary: Update invoice
      description: API to update invoice by invoice id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInvoiceResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.write
      - Agency-Access:
        - invoices.write
    delete:
      operationId: delete-invoice
      summary: Delete invoice
      description: API to delete invoice by invoice id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altId
        required: true
        in: query
        description: location Id / company Id based on altType
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altType
        required: true
        in: query
        description: Alt Type
        schema:
          example: location
          enum:
          - location
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInvoiceResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                UnableToFindInvoiceResponse:
                  value:
                    statusCode: 400
                    message: Unable to find an invoice with the given invoice id
                DeleteDraftInvoiceBadResponse:
                  value:
                    statusCode: 400
                    message: Invoice status need to be draft to delete an invoice
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.write
      - Agency-Access:
        - invoices.write
  /invoices/{invoiceId}/late-fees-configuration:
    patch:
      operationId: update-invoice-late-fees-configuration
      summary: Update invoice late fees configuration
      description: API to update invoice late fees configuration by invoice id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceLateFeesConfigurationDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInvoiceResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access: []
      - Agency-Access: []
  /invoices/{invoiceId}/void:
    post:
      operationId: void-invoice
      summary: Void invoice
      description: API to delete invoice by invoice id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidInvoiceDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidInvoiceResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                UnableToFindInvoiceResponse:
                  value:
                    statusCode: 400
                    message: Unable to find an invoice with the given invoice id
                VoidDraftInvoiceBadResponse:
                  value:
                    statusCode: 400
                    message: Can not void draft invoice. You can delete draft invoice!
                VoidProviderInvoiceBadResponse:
                  value:
                    statusCode: 400
                    message: To void an invoice which has received payment through the payment provider, the corresponding transaction needs to be refunded first
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.write
      - Agency-Access:
        - invoices.write
  /invoices/{invoiceId}/send:
    post:
      operationId: send-invoice
      summary: Send invoice
      description: API to send invoice by invoice id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendInvoiceDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendInvoicesResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.write
      - Agency-Access:
        - invoices.write
  /invoices/{invoiceId}/record-payment:
    post:
      operationId: record-invoice
      summary: Record a manual payment for an invoice
      description: API to record manual payment for an invoice by invoice id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordPaymentDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordPaymentResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.write
      - Agency-Access:
        - invoices.write
  /invoices/stats/last-visited-at:
    patch:
      operationId: update-invoice-last-visited-at
      summary: Update invoice last visited at
      description: API to update invoice last visited at by invoice id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchInvoiceStatsLastViewedDto'
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
      tags:
      - Invoice
      security:
      - Location-Access: []
      - Agency-Access: []
  /invoices/:
    post:
      operationId: create-invoice
      summary: Create Invoice
      description: API to create an invoice
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.write
      - Agency-Access:
        - invoices.write
    get:
      operationId: list-invoices
      summary: List invoices
      description: API to get list of invoices
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: altId
        required: true
        in: query
        description: location Id / company Id based on altType
        schema:
          example: 6578278e879ad2646715ba9c
          type: string
      - name: altType
        required: true
        in: query
        description: Alt Type
        schema:
          example: location
          enum:
          - location
          type: string
      - name: status
        required: false
        in: query
        description: status to be filtered
        schema:
          type: string
      - name: startAt
        required: false
        in: query
        description: startAt in YYYY-MM-DD format
        schema:
          example: '2023-01-01'
          type: string
      - name: endAt
        required: false
        in: query
        description: endAt in YYYY-MM-DD format
        schema:
          example: '2023-01-01'
          type: string
      - name: search
        required: false
        in: query
        description: To search for an invoice by id / name / email / phoneNo
        schema:
          example: Alex
          type: string
      - name: paymentMode
        required: false
        in: query
        description: payment mode
        schema:
          example: live
          enum:
          - default
          - live
          - test
          type: string
      - name: contactId
        required: false
        in: query
        description: Contact ID for the invoice
        schema:
          example: AmuzcoPBpgKeccNsFlib
          type: string
      - name: limit
        required: true
        in: query
        description: Limit the number of items to return
        schema:
          example: 10
          type: string
      - name: offset
        required: true
        in: query
        description: Number of items to skip
        schema:
          example: 10
          type: string
      - name: sortField
        required: false
        in: query
        description: The field on which sorting should be applied
        schema:
          example: issueDate
          enum:
          - issueDate
          type: string
      - name: sortOrder
        required: false
        in: query
        description: The order of sort which should be applied for the sortField
        schema:
          example: descend
          enum:
          - ascend
          - descend
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInvoicesResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Invoice
      security:
      - Location-Access:
        - invoices.readonly
      - Agency-Access:
        - invoices.readonly
components:
  schemas:
    BusinessDetailsDto:
      type: object
      properties:
        logoUrl:
          type: string
          description: Business Logo URL
          example: https://example.com/logo.png
        name:
          type: string
          description: Business Name
          example: ABC Corp.
        phoneNo:
          type: string
          description: Business Phone Number
          example: +1-214-559-6993
        address:
          description: Business Address
          example: 9931 Beechwood, TX
          allOf:
          - $ref: '#/components/schemas/AddressDto'
        website:
          type: string
          description: Business Website Link
          example: wwww.example.com
        customValues:
          description: Custom Values
          type: array
          items:
            type: string
    AutoPaymentDetailsDto:
      type: object
      properties:
        enable:
          type: boolean
        type:
          type: string
        paymentMethodId:
          type: string
        customerId:
          type: string
        card:
          $ref: '#/components/schemas/CardDto'
        usBankAccount:
          $ref: '#/components/schemas/USBankAccountDto'
        sepaDirectDebit:
          $ref: '#/components/schemas/SepaDirectDebitDTO'
        bacsDirectDebit:
          $ref: '#/components/schemas/BacsDirectDebitDTO'
        becsDirectDebit:
          $ref: '#/components/schemas/BecsDirectDebitDTO'
        cardId:
          type: string
        provider:
          type: object
      required:
      - enable
    AdditionalEmailsDto:
      type: object
      properties:
        email:
          type: string
          example: alex@example.com
      required:
      - email
    ListInvoicesResponseDto:
      type: object
      properties:
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/GetInvoiceResponseDto'
        total:
          type: number
          description: Total number of invoices
          example: 100
      required:
      - invoices
      - total
    VoidInvoiceDto:
      type: object
      properties:
        altId:
          type: string
          description: location Id / company Id based on altType
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          description: Alt Type
          enum:
          - location
          example: location
      required:
      - altId
      - altType
    InvoiceSettingsBusinessDetailsDto:
      type: object
      properties:
        logoUrl:
          type: string
        name:
          type: string
        phoneNo:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        website:
          type: string
        customValues:
          type: array
          items:
            type: string
      required:
      - name
    VoidInvoiceResponseDto:
      type: object
      properties:
        _id:
          type: string
          description: Invoice Id
          example: 6578278e879ad2646715ba9c
        status:
          type: string
          description: Invoice Status
          example: draft
          enum:
          - draft
          - sent
          - payment_processing
          - paid
          - void
          - partially_paid
        liveMode:
          type: boolean
          description: Live Mode
          example: false
        amountPaid:
          type: number
          description: Amount Paid
          example: 0
        altId:
          type: string
          description: Location Id or Agency Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          enum:
          - location
        name:
          type: string
          description: Name of the invoice
          example: New Invoice
        businessDetails:
          type: object
          description: Business Details
          example:
            name: Alex
            address:
              addressLine1: 9931 Beechwood
              city: St. Houston
              state: TX
              countryCode: USA
              postalCode: 559-6993
            phoneNo: +1-214-559-6993
            website: www.example.com
        invoiceNumber:
          type: number
          description: Invoice Number
          example: '19'
        currency:
          type: string
          description: Currency
          example: USD
        contactDetails:
          type: object
          description: Contact Details
          example:
            id: c6tZZU0rJBf30ZXx9Gli
            phoneNo: +1-214-559-6993
            email: alex@example.com
            customFields: []
            name: Alex
            address:
              countryCode: US
        issueDate:
          type: string
          description: Issue date in YYYY-MM-DD format
          example: '2023-01-01'
        dueDate:
          type: string
          description: Due date in YYYY-MM-DD format
          example: '2023-01-01'
        discount:
          type: object
          description: Discount
          example:
            type: percentage
            value: 0
        invoiceItems:
          description: Invoice Items
          example:
          - taxes: []
            _id: c6tZZU0rJBf30ZXx9Gli
            productId: c6tZZU0rJBf30ZXx9Gli
            priceId: c6tZZU0rJBf30ZXx9Gli
            currency: USD
            name: Macbook Pro
            qty: 1
            amount: 999
          type: array
          items:
            type: string
        total:
          type: number
          description: Total Amount
          example: 999
        title:
          type: string
          description: Title
          example: INVOICE
        amountDue:
          type: number
          description: Total Amount Due
          example: 999
        createdAt:
          type: string
          description: created at
          example: '2023-12-12T09:27:42.355Z'
        updatedAt:
          type: string
          description: updated at
          example: '2023-12-12T09:27:42.355Z'
        automaticTaxesEnabled:
          type: boolean
          description: Automatic taxes enabled for the Invoice
          example: true
        automaticTaxesCalculated:
          type: boolean
          description: Is Automatic taxes calculated for the Invoice items
          example: true
        paymentSchedule:
          type: object
          description: split invoice into payment schedule summing up to full invoice amount
      required:
      - _id
      - status
      - liveMode
      - amountPaid
      - altId
      - altType
      - name
      - businessDetails
      - invoiceNumber
      - currency
      - contactDetails
      - issueDate
      - dueDate
      - invoiceItems
      - total
      - title
      - amountDue
      - createdAt
      - updatedAt
    CustomNotificationDto:
      type: object
      properties:
        customerSendInvoice:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        teamPaymentSuccess:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        customerPaymentSuccess:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        teamAutoPaymentSuccess:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        customerAutoPaymentSuccess:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        teamPaymentFailure:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        customerPaymentFailure:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        teamAutoPaymentFailure:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        customerAutoPaymentFailure:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        customerAutoPaymentInfo:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        customerAutoPaymentAmountChanged:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        teamAutoPaymentSkip:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        teamRecurringSendInvoiceFailed:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        customerSendEstimate:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        teamEstimateAccepted:
          $ref: '#/components/schemas/CustomNotificationItemDto'
        teamEstimateDeclined:
          $ref: '#/components/schemas/CustomNotificationItemDto'
      required:
      - customerSendInvoice
      - teamPaymentSuccess
      - customerPaymentSuccess
      - teamAutoPaymentSuccess
      - customerAutoPaymentSuccess
      - teamPaymentFailure
      - customerPaymentFailure
      - teamAutoPaymentFailure
      - customerAutoPaymentFailure
      - customerAutoPaymentInfo
      - customerAutoPaymentAmountChanged
      - teamAutoPaymentSkip
      - teamRecurringSendInvoiceFailed
      - customerSendEstimate
      - teamEstimateAccepted
      - teamEstimateDeclined
    PaymentMethodDto:
      type: object
      properties:
        stripe:
          description: Payment Method
          allOf:
          - $ref: '#/components/schemas/StripePaymentMethodDto'
      required:
      - stripe
    USBankAccountDto:
      type: object
      properties:
        bank_name:
          type: string
        last4:
          type: string
      required:
      - bank_name
      - last4
    BecsDirectDebitDTO:
      type: object
      properties:
        bsb_number:
          type: string
        last4:
          type: string
      required:
      - bsb_number
      - last4
    DeleteInvoiceResponseDto:
      type: object
      properties:
        _id:
          type: string
          description: Invoice Id
          example: 6578278e879ad2646715ba9c
        status:
          type: string
          description: Invoice Status
          example: draft
          enum:
          - draft
          - sent
          - payment_processing
          - paid
          - void
          - partially_paid
        liveMode:
          type: boolean
          description: Live Mode
          example: false
        amountPaid:
          type: number
          description: Amount Paid
          example: 0
        altId:
          type: string
          description: Location Id or Agency Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          enum:
          - location
        name:
          type: string
          description: Name of the invoice
          example: New Invoice
        businessDetails:
          type: object
          description: Business Details
          example:
            name: Alex
            address:
              addressLine1: 9931 Beechwood
              city: St. Houston
              state: TX
              countryCode: USA
              postalCode: 559-6993
            phoneNo: +1-214-559-6993
            website: www.example.com
        invoiceNumber:
          type: number
          description: Invoice Number
          example: '19'
        currency:
          type: string
          description: Currency
          example: USD
        contactDetails:
          type: object
          description: Contact Details
          example:
            id: c6tZZU0rJBf30ZXx9Gli
            phoneNo: +1-214-559-6993
            email: alex@example.com
            customFields: []
            name: Alex
            address:
              countryCode: US
        issueDate:
          type: string
          description: Issue date in YYYY-MM-DD format
          example: '2023-01-01'
        dueDate:
          type: string
          description: Due date in YYYY-MM-DD format
          example: '2023-01-01'
        discount:
          type: object
          description: Discount
          example:
            type: percentage
            value: 0
        invoiceItems:
          description: Invoice Items
          example:
          - taxes: []
            _id: c6tZZU0rJBf30ZXx9Gli
            productId: c6tZZU0rJBf30ZXx9Gli
            priceId: c6tZZU0rJBf30ZXx9Gli
            currency: USD
            name: Macbook Pro
            qty: 1
            amount: 999
          type: array
          items:
            type: string
        total:
          type: number
          description: Total Amount
          example: 999
        title:
          type: string
          description: Title
          example: INVOICE
        amountDue:
          type: number
          description: Total Amount Due
          example: 999
        createdAt:
          type: string
          description: created at
          example: '2023-12-12T09:27:42.355Z'
        updatedAt:
          type: string
          description: updated at
          example: '2023-12-12T09:27:42.355Z'
        automaticTaxesEnabled:
          type: boolean
          description: Automatic taxes enabled for the Invoice
          example: true
        automaticTaxesCalculated:
          type: boolean
          description: Is Automatic taxes calculated for the Invoice items
          example: true
        paymentSchedule:
          type: object
          description: split invoice into payment schedule summing up to full invoice amount
      required:
      - _id
      - status
      - liveMode
      - amountPaid
      - altId
      - altType
      - name
      - businessDetails
      - invoiceNumber
      - currency
      - contactDetails
      - issueDate
      - dueDate
      - invoiceItems
      - total
      - title
      - amountDue
      - createdAt
      - updatedAt
    RecordPaymentDto:
      type: object
      properties:
        altId:
          type: string
          description: location Id / company Id based on altType
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          description: Alt Type
          enum:
          - location
          example: location
        mode:
          type: string
          description: manual payment method
          enum:
          - cash
          - card
          - cheque
          - bank_transfer
          - other
          example: card
        card:
          $ref: '#/components/schemas/CardDto'
        cheque:
          $ref: '#/components/schemas/ChequeDto'
        notes:
          type: string
          description: Any note to be recorded with the transaction
          example: This was a direct payment
        amount:
          type: number
          description: Amount to be paid against the invoice.
          example: 999
        meta:
          type: object
        paymentScheduleIds:
          description: Payment Schedule Ids to be recorded against the invoice.
          example:
          - 6578278e879ad2646715ba9c
          type: array
          items:
            type: string
        fulfilledAt:
          type: string
          description: Updated At to be recorded against the invoice.
          example: '2025-03-19T05:03:00.000Z'
      required:
      - altId
      - altType
      - mode
      - card
      - cheque
      - notes
    InvoiceItemDto:
      type: object
      properties:
        name:
          type: string
          description: Invoice Item Name
          example: ABC Product
        description:
          type: string
          description: Invoice descriptions
          example: ABC Corp.
        productId:
          type: string
          description: Product Id
          example: 6578278e879ad2646715ba9c
        priceId:
          type: string
          description: Price Id
          example: 6578278e879ad2646715ba9c
        currency:
          type: string
          description: Currency
          example: USD
        amount:
          type: number
          description: Product amount
          example: 999
        qty:
          type: number
          description: Product Quantity
          example: 1
        taxes:
          description: Tax
          type: array
          items:
            $ref: '#/components/schemas/ItemTaxDto'
        automaticTaxCategoryId:
          type: string
          description: Tax category id for calculating automatic tax
          example: 6578278e879ad2646715ba9c
        isSetupFeeItem:
          type: boolean
          description: Setupfee item, only created when 1st invoice of recurring schedule is generated
        type:
          type: string
          description: Price type of the item
          example: one_time
          enum:
          - one_time
          - recurring
        taxInclusive:
          type: boolean
          description: true if item amount is tax inclusive
          example: true
          default: false
      required:
      - name
      - currency
      - amount
      - qty
    SendInvoiceDto:
      type: object
      properties:
        altId:
          type: string
          description: location Id / company Id based on altType
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          description: Alt Type
          enum:
          - location
          example: location
        userId:
          type: string
          description: Please ensure that the UserId corresponds to an authorized personnel, either by an employee ID or agency ID, to access this location. This account will serve as the primary channel for all future communications and updates.
          example: 6578278e879ad2646715ba9c
        action:
          type: string
          enum:
          - sms_and_email
          - send_manually
          - email
          - sms
        liveMode:
          type: boolean
        sentFrom:
          description: sender details for invoice, valid only if invoice is not sent manually
          allOf:
          - $ref: '#/components/schemas/InvoiceSettingsSenderConfigurationDto'
        autoPayment:
          description: auto-payment configuration
          allOf:
          - $ref: '#/components/schemas/AutoPaymentDetailsDto'
      required:
      - altId
      - altType
      - userId
      - action
      - liveMode
    InvoiceSettingsSenderConfigurationDto:
      type: object
      properties:
        fromName:
          type: string
          description: Sender name to be used while sending email notification
          example: Alex
        fromEmail:
          type: string
          description: Email id to be used while sending email notification
          example: alex@example.com
    LateFeesGraceDto:
      type: object
      properties:
        intervalCount:
          type: number
          description: Late fees grace interval count
          example: 10
        interval:
          type: string
          description: Late fees grace interval
          example: day
          enum:
          - day
      required:
      - intervalCount
      - interval
    PatchInvoiceStatsLastViewedDto:
      type: object
      properties:
        invoiceId:
          type: string
          description: Invoice Id
          example: 6578278e879ad2646715ba9c
      required:
      - invoiceId
    PaymentScheduleDto:
      type: object
      properties:
        type:
          type: string
          description: Payment schedule type
          enum:
          - fixed
          - percentage
          example: percentage
        schedules:
          description: payment schedule item
          type: array
          items:
            type: string
      required:
      - type
      - schedules
    GetInvoiceSettingsResponseDto:
      type: object
      properties:
        altId:
          type: string
          description: Sub-Account Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          description: Alt Type
          enum:
          - location
          example: location
        termsNote:
          type: string
          description: Terms and conditions for invoices
          example: Payment is due within 30 days.
        estimatesTermsNote:
          type: string
          description: Terms and conditions for estimates
          example: This estimate is valid for 30 days.
        title:
          type: string
          description: Title for invoices
          example: INVOICE
          maxLength: 40
        estimatesTitle:
          type: string
          description: Title for estimates
          example: ESTIMATE
          maxLength: 40
        invoiceNumberPrefix:
          type: string
          description: Prefix for invoice numbers
          example: INV-
          maxLength: 10
        estimateNumberPrefix:
          type: string
          description: Prefix for estimate numbers
          example: EST-
          maxLength: 10
        dueAfterXDays:
          type: number
          description: Number of days after which invoice is due
          example: 30
        estimatesExpireAfterXDays:
          type: number
          description: Number of days after which estimate expires
          example: 30
        minimumPercentagePartialPayment:
          type: number
          description: Minimum percentage for partial payment
          example: 25
        customFields:
          description: Custom fields array
          example:
          - 6578278e879ad2646715baxc
          - 6901e9fb77ac4d701ba0b996
          maxItems: 3
          type: array
          items:
            type: string
        customNotification:
          description: Custom notification settings
          allOf:
          - $ref: '#/components/schemas/CustomNotificationDto'
        businessDetails:
          description: Business details
          allOf:
          - $ref: '#/components/schemas/InvoiceSettingsBusinessDetailsDto'
        senderConfiguration:
          description: Sender configuration
          allOf:
          - $ref: '#/components/schemas/InvoiceSettingsSenderConfigurationDto'
        productSettings:
          description: Product settings
          allOf:
          - $ref: '#/components/schemas/InvoiceProductSettingsDto'
        reminderSettings:
          description: Reminder settings
          allOf:
          - $ref: '#/components/schemas/ReminderSettingsDto'
        lateFeesConfiguration:
          description: Late fees configuration
          allOf:
          - $ref: '#/components/schemas/LateFeesConfigurationDto'
        tipsConfiguration:
          description: Tips configuration
          allOf:
          - $ref: '#/components/schemas/TipsConfigurationDto'
        paymentMethods:
          description: Payment methods configuration
          allOf:
          - $ref: '#/components/schemas/PaymentMethodDto'
    LateFeesFrequencyDto:
      type: object
      properties:
        intervalCount:
          type: number
          description: Late fees interval count
          example: 10
        interval:
          type: string
          description: Late fees interval
          example: day
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - one_time
      required:
      - intervalCount
      - interval
    AttachmentsDto:
      type: object
      properties:
        id:
          type: string
          description: Id of the file selected
          example: 6241712be68f7a98102ba272
        name:
          type: string
          description: 'Name of the file '
          example: Electronics.pdf
        url:
          type: string
          description: URL of the file
          example: https://example.com/digital-delivery
        type:
          type: string
          description: Type of the file
        size:
          type: number
          description: Size of the file
          example: 10000
      required:
      - id
      - name
      - url
      - type
      - size
    Address:
      type: object
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        state:
          type: string
        countryCode:
          type: string
          enum:
          - AF
          - AX
          - AL
          - DZ
          - AS
          - AD
          - AO
          - AI
          - AQ
          - AG
          - AR
          - AM
          - AW
          - AU
          - AT
          - AZ
          - BS
          - BH
          - BD
          - BB
          - BY
          - BE
          - BZ
          - BJ
          - BM
          - BT
          - BO
          - BA
          - BW
          - BV
          - BR
          - IO
          - BN
          - BG
          - BF
          - BI
          - KH
          - CM
          - CA
          - CV
          - KY
          - CF
          - TD
          - CL
          - CN
          - CX
          - CC
          - CO
          - KM
          - CG
          - CD
          - CK
          - CR
          - CI
          - HR
          - CU
          - CY
          - CZ
          - DK
          - DJ
          - DM
          - DO
          - EC
          - EG
          - SV
          - GQ
          - ER
          - EE
          - ET
          - FK
          - FO
          - FJ
          - FI
          - FR
          - GF
          - PF
          - TF
          - GA
          - GM
          - GE
          - DE
          - GH
          - GI
          - GR
          - GL
          - GD
          - GP
          - GU
          - GT
          - GG
          - GN
          - GW
          - GY
          - HT
          - HM
          - VA
          - HN
          - HK
          - HU
          - IS
          - IN
          - ID
          - IR
          - IQ
          - IE
          - IM
          - IL
          - IT
          - JM
          - JP
          - JE
          - JO
          - KZ
          - KE
          - KI
          - KP
          - KR
          - XK
          - KW
          - KG
          - LA
          - LV
          - LB
          - LS
          - LR
          - LY
          - LI
          - LT
          - LU
          - MO
          - MK
          - MG
          - MW
          - MY
          - MV
          - ML
          - MT
          - MH
          - MQ
          - MR
          - MU
          - YT
          - MX
          - FM
          - MD
          - MC
          - MN
          - ME
          - MS
          - MA
          - MZ
          - MM
          - NA
          - NR
          - NP
          - NL
          - AN
          - NC
          - NZ
          - NI
          - NE
          - NG
          - NU
          - NF
          - MP
          - 'NO'
          - OM
          - PK
          - PW
          - PS
          - PA
          - PG
          - PY
          - PE
          - PH
          - PN
          - PL
          - PT
          - PR
          - QA
          - RE
          - RO
          - RU
          - RW
          - SH
          - KN
          - LC
          - MF
          - PM
          - VC
          - WS
          - SM
          - ST
          - SA
          - SN
          - RS
          - SC
          - SL
          - SG
          - SX
          - SK
          - SI
          - SB
          - SO
          - ZA
          - GS
          - ES
          - LK
          - SD
          - SR
          - SJ
          - SZ
          - SE
          - CH
          - SY
          - TW
          - TJ
          - TZ
          - TH
          - TL
          - TG
          - TK
          - TO
          - TT
          - TN
          - TR
          - TM
          - TC
          - TV
          - UG
          - GB
          - UA
          - AE
          - US
          - UM
          - UY
          - UZ
          - VU
          - VE
          - VN
          - VG
          - VI
          - WF
          - EH
          - YE
          - ZM
          - ZW
        postalCode:
          type: string
    BacsDirectDebitDTO:
      type: object
      properties:
        sort_code:
          type: string
        last4:
          type: string
      required:
      - sort_code
      - last4
    InvoiceProductSettingsDto:
      type: object
      properties:
        enableImportProductDescription:
          type: boolean
          description: Flag indicating if the product description import is enabled or not
          example: true
        descriptionOptional:
          type: boolean
          description: Flag indicating if the product description is optional or not
          example: true
    ProcessingFeeDto:
      type: object
      properties:
        charges:
          description: charges for the processing fee
          items:
            type: array
          type: array
        collectedMiscellaneousCharges:
          type: number
          description: collected miscellaneous charges
          example: 10
        paidCharges:
          description: paid miscellaneous charges
          type: array
          items:
            $ref: '#/components/schemas/ProcessingFeePaidChargeDto'
      required:
      - charges
    RecordPaymentResponseDto:
      type: object
      properties:
        success:
          type: boolean
          description: status
          example: true
        invoice:
          $ref: '#/components/schemas/DefaultInvoiceResponseDto'
      required:
      - success
      - invoice
    StripePaymentMethodDto:
      type: object
      properties:
        enableBankDebitOnly:
          type: boolean
          description: Enable Bank Debit Only
          example: false
      required:
      - enableBankDebitOnly
    CardDto:
      type: object
      properties:
        brand:
          type: string
        last4:
          type: string
      required:
      - brand
      - last4
    CreateInvoiceResponseDto:
      type: object
      properties:
        _id:
          type: string
          description: Invoice Id
          example: 6578278e879ad2646715ba9c
        status:
          type: string
          description: Invoice Status
          example: draft
          enum:
          - draft
          - sent
          - payment_processing
          - paid
          - void
          - partially_paid
        liveMode:
          type: boolean
          description: Live Mode
          example: false
        amountPaid:
          type: number
          description: Amount Paid
          example: 0
        altId:
          type: string
          description: Location Id or Agency Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          enum:
          - location
        name:
          type: string
          description: Name of the invoice
          example: New Invoice
        businessDetails:
          type: object
          description: Business Details
          example:
            name: Alex
            address:
              addressLine1: 9931 Beechwood
              city: St. Houston
              state: TX
              countryCode: USA
              postalCode: 559-6993
            phoneNo: +1-214-559-6993
            website: www.example.com
        invoiceNumber:
          type: number
          description: Invoice Number
          example: '19'
        currency:
          type: string
          description: Currency
          example: USD
        contactDetails:
          type: object
          description: Contact Details
          example:
            id: c6tZZU0rJBf30ZXx9Gli
            phoneNo: +1-214-559-6993
            email: alex@example.com
            customFields: []
            name: Alex
            address:
              countryCode: US
        issueDate:
          type: string
          description: Issue date in YYYY-MM-DD format
          example: '2023-01-01'
        dueDate:
          type: string
          description: Due date in YYYY-MM-DD format
          example: '2023-01-01'
        discount:
          type: object
          description: Discount
          example:
            type: percentage
            value: 0
        invoiceItems:
          description: Invoice Items
          example:
          - taxes: []
            _id: c6tZZU0rJBf30ZXx9Gli
            productId: c6tZZU0rJBf30ZXx9Gli
            priceId: c6tZZU0rJBf30ZXx9Gli
            currency: USD
            name: Macbook Pro
            qty: 1
            amount: 999
          type: array
          items:
            type: string
        total:
          type: number
          description: Total Amount
          example: 999
        title:
          type: string
          description: Title
          example: INVOICE
        amountDue:
          type: number
          description: Total Amount Due
          example: 999
        createdAt:
          type: string
          description: created at
          example: '2023-12-12T09:27:42.355Z'
        updatedAt:
          type: string
          description: updated at
          example: '2023-12-12T09:27:42.355Z'
        automaticTaxesEnabled:
          type: boolean
          description: Automatic taxes enabled for the Invoice
          example: true
        automaticTaxesCalculated:
          type: boolean
          description: Is Automatic taxes calculated for the Invoice items
          example: true
        paymentSchedule:
          type: object
          description: split invoice into payment schedule summing up to full invoice amount
      required:
      - _id
      - status
      - liveMode
      - amountPaid
      - altId
      - altType
      - name
      - businessDetails
      - invoiceNumber
      - currency
      - contactDetails
      - issueDate
      - dueDate
      - invoiceItems
      - total
      - title
      - amountDue
      - createdAt
      - updatedAt
    UpdateInvoiceLateFeesConfigurationDto:
      type: object
      properties:
        altId:
          type: string
          description: location Id / company Id based on altType
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          description: Alt Type
          enum:
          - location
          example: location
        lateFeesConfiguration:
          description: late fees configuration
          allOf:
          - $ref: '#/components/schemas/LateFeesConfigurationDto'
      required:
      - altId
      - altType
      - lateFeesConfiguration
    CreateInvoiceDto:
      type: object
      properties:
        altId:
          type: string
          description: location Id / company Id based on altType
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          description: Alt Type
          enum:
          - location
          example: location
        name:
          type: string
          description: Invoice Name
          example: New Invoice
        businessDetails:
          $ref: '#/components/schemas/BusinessDetailsDto'
        currency:
          type: string
          description: Currency code
          example: USD
        items:
          description: An array of items for the invoice.
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItemDto'
        discount:
          $ref: '#/components/schemas/DiscountDto'
        termsNotes:
          type: string
          description: Terms notes, Also supports HTML markups
          example: <p>This is a default terms.</p>
        title:
          type: string
          description: Title for the invoice
          example: INVOICE
        contactDetails:
          description: Contact information to send the invoice to
          allOf:
          - $ref: '#/components/schemas/ContactDetailsDto'
        invoiceNumber:
          type: string
          description: Invoice Number
          example: '1001'
        issueDate:
          type: string
          description: Issue date in YYYY-MM-DD format
          example: '2023-01-01'
        dueDate:
          type: string
          description: Due date in YYYY-MM-DD format
          example: '2023-01-14'
        sentTo:
          $ref: '#/components/schemas/SentToDto'
        liveMode:
          type: boolean
        automaticTaxesEnabled:
          type: boolean
          description: Automatic taxes enabled for the Invoice
          example: true
        paymentSchedule:
          description: split invoice into payment schedule summing up to full invoice amount
          allOf:
          - $ref: '#/components/schemas/PaymentScheduleDto'
        lateFeesConfiguration:
          description: late fees configuration
          allOf:
          - $ref: '#/components/schemas/LateFeesConfigurationDto'
        tipsConfiguration:
          description: tips configuration for the invoice
          allOf:
          - $ref: '#/components/schemas/TipsConfigurationDto'
        invoiceNumberPrefix:
          type: string
          description: prefix for invoice number
          example: INV-
        paymentMethods:
          description: Payment Methods for Invoices
          allOf:
          - $ref: '#/components/schemas/PaymentMethodDto'
        attachments:
          description: attachments for the invoice
          type: array
          items:
            $ref: '#/components/schemas/AttachmentsDto'
        miscellaneousCharges:
          description: miscellaneous charges for the invoice
          allOf:
          - $ref: '#/components/schemas/ProcessingFeeDto'
      required:
      - altId
      - altType
      - name
      - businessDetails
      - currency
      - items
      - discount
      - contactDetails
      - issueDate
      - sentTo
      - liveMode
    ReminderDto:
      type: object
      properties:
        enabled:
          type: boolean
          description: Flag indicating if the reminder is enabled or not
          example: true
        emailTemplate:
          type: string
          description: Email template to be used for sending reminders
          example: default
        smsTemplate:
          type: string
          description: SMS template to be used for sending reminders
          example: default
        emailSubject:
          type: string
          description: Subject of the reminder
          example: Reminder
        reminderId:
          type: string
          description: Unique identifier for the reminder
          example: 9333e45f-a27d-4659-90e5-76c5ef06d094
        reminderName:
          type: string
          description: Name of the reminder
          example: Special Reminder
        reminderTime:
          type: string
          description: Time condition for the reminder
          example: before
          enum:
          - before
          - after
        intervalType:
          type: string
          description: Interval type for the reminder
          example: daily
          enum:
          - yearly
          - monthly
          - weekly
          - daily
          - hourly
          - minutely
          - secondly
        maxReminders:
          type: number
          description: Maximum number of reminders that can be sent
          example: 3
        reminderInvoiceCondition:
          type: string
          description: Condition for sending the reminder
          example: invoice_sent
          enum:
          - invoice_sent
          - invoice_overdue
        reminderNumber:
          type: number
          description: frequency gap of the reminder to exeucte
          example: 10
        startTime:
          type: string
          description: Business Hour Start Time
          example: 9:00 AM
        endTime:
          type: string
          description: Business Hour End Time
          example: 5:00 PM
        timezone:
          type: string
          description: Timezone at which reminder will be sent
          example: businessTZ
      required:
      - enabled
      - emailTemplate
      - smsTemplate
      - emailSubject
      - reminderId
      - reminderName
      - reminderTime
      - intervalType
      - maxReminders
      - reminderInvoiceCondition
      - reminderNumber
    SentToDto:
      type: object
      properties:
        email:
          description: Email Address
          example:
          - alex@example.com
          type: array
          items:
            type: string
        emailCc:
          description: cc to be kept in any sent out emails
          example:
          - alex@example.com
          type: array
          items:
            type: string
        emailBcc:
          description: bcc to be kept in any sent out emails
          example:
          - alex@example.com
          type: array
          items:
            type: string
        phoneNo:
          description: Contact Phone Number
          example:
          - +1-214-559-6993
          type: array
          items:
            type: string
      required:
      - email
    DiscountDto:
      type: object
      properties:
        value:
          type: number
          description: Discount Value
          example: 10
          default: 0
        type:
          type: string
          description: Discount type
          enum:
          - percentage
          - fixed
          example: percentage
          default: percentage
        validOnProductIds:
          description: Product Ids on which discount is applicable
          example: '[ ''6579751d56f60276e5bd4154'' ]'
          type: array
          items:
            type: string
      required:
      - type
    ProcessingFeePaidChargeDto:
      type: object
      properties:
        name:
          type: string
          description: name of the processing fee
          example: Processing Fee
        charge:
          type: number
          description: charge for the processing fee
          example: 10
        amount:
          type: number
          description: amount of the processing fee
          example: 10
        _id:
          type: string
          description: id of the processing fee
          example: 673d01d7d547648a8dab6211
      required:
      - name
      - charge
      - amount
      - _id
    UpdateInvoiceDto:
      type: object
      properties:
        altId:
          type: string
          description: location Id / company Id based on altType
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          description: Alt Type
          enum:
          - location
          example: location
        name:
          type: string
          description: Name to be updated
          example: New Invoice
        title:
          type: string
          description: Title for the invoice
          example: INVOICE
        currency:
          type: string
          description: Currency
          example: USD
        description:
          type: string
          description: Description
          example: ABC Corp payments
        businessDetails:
          description: Business details which need to be updated
          example:
            name: Alex
            address:
              addressLine1: 9931 Beechwood
              city: St. Houston
              state: TX
              countryCode: USA
              postalCode: 559-6993
            phoneNo: +1-214-559-6993
            website: www.example.com
          allOf:
          - $ref: '#/components/schemas/BusinessDetailsDto'
        invoiceNumber:
          type: string
          description: Invoice Number
          example: '1001'
        contactId:
          type: string
          description: Id of the contact which you need to send the invoice
          example: 6578278e879ad2646715ba9c
        contactDetails:
          $ref: '#/components/schemas/ContactDetailsDto'
        termsNotes:
          type: string
          description: Terms notes, Also supports HTML markups
          example: <p>This is a default terms.</p>
        discount:
          $ref: '#/components/schemas/DiscountDto'
        invoiceItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItemDto'
        automaticTaxesEnabled:
          type: boolean
          description: Automatic taxes enabled for the Invoice
          example: true
        liveMode:
          type: boolean
          description: Payment mode
        issueDate:
          type: string
          description: Issue date in YYYY-MM-DD format
          example: '2023-01-01'
        dueDate:
          type: string
          description: Due date in YYYY-MM-DD format
          example: '2023-01-14'
        paymentSchedule:
          description: split invoice into payment schedule summing up to full invoice amount
          allOf:
          - $ref: '#/components/schemas/PaymentScheduleDto'
        tipsConfiguration:
          description: tips configuration for the invoice
          allOf:
          - $ref: '#/components/schemas/TipsConfigurationDto'
        xeroDetails:
          type: object
        invoiceNumberPrefix:
          type: string
          description: prefix for invoice number
          example: INV-
        paymentMethods:
          description: Payment Methods for Invoices
          allOf:
          - $ref: '#/components/schemas/PaymentMethodDto'
        attachments:
          description: attachments for the invoice
          type: array
          items:
            $ref: '#/components/schemas/AttachmentsDto'
        miscellaneousCharges:
          description: miscellaneous charges for the invoice
          allOf:
          - $ref: '#/components/schemas/ProcessingFeeDto'
      required:
      - altId
      - altType
      - name
      - currency
      - invoiceItems
      - issueDate
      - dueDate
    AddressDto:
      type: object
      properties:
        addressLine1:
          type: string
          description: Address Line 1
          example: 9931 Beechwood
        addressLine2:
          type: string
          description: Address Line 2
          example: Beechwood
        city:
          type: string
          description: City
          example: St. Houston
        state:
          type: string
          description: State
          example: TX
        countryCode:
          type: string
          description: Country Code
          example: US
        postalCode:
          type: string
          description: Postal Code
          example: 559-6993
    RemindersConfigurationDto:
      type: object
      properties:
        reminderExecutionDetailsList:
          description: List of reminders
          allOf:
          - $ref: '#/components/schemas/ReminderExecutionDetailsList'
        reminderSettings:
          description: Reminder settings
          allOf:
          - $ref: '#/components/schemas/ReminderSettingsDto'
      required:
      - reminderExecutionDetailsList
      - reminderSettings
    ReminderExecutionDetailsList:
      type: object
      properties: {}
    ReminderSettingsDto:
      type: object
      properties:
        defaultEmailTemplateId:
          type: string
          description: default template Id of reminder
          example: dhwjqi2899012990w2u
        reminders:
          description: List of reminders
          type: array
          items:
            $ref: '#/components/schemas/ReminderDto'
      required:
      - defaultEmailTemplateId
      - reminders
    ContactDetailsDto:
      type: object
      properties:
        id:
          type: string
          description: Contact ID
          example: 6578278e879ad2646715ba9c
        name:
          type: string
          description: Contact Name
          example: Alex
        phoneNo:
          type: string
          description: Contact Phone Number
          example: '+1234567890'
        email:
          type: string
          description: Contact Email
          example: alex@example.com
        additionalEmails:
          description: Secondary email addresses for the contact to be saved
          type: array
          items:
            $ref: '#/components/schemas/AdditionalEmailsDto'
        companyName:
          type: string
          description: Contact Company Name
          example: ABC Corp.
        address:
          $ref: '#/components/schemas/AddressDto'
        customFields:
          description: Custom Values
          type: array
          items:
            type: string
      required:
      - id
      - name
      - phoneNo
      - email
    GenerateInvoiceNumberResponseDto:
      type: object
      properties:
        invoiceNumber:
          type: number
          description: Invoice Number
          example: '19'
    UpdateInvoiceResponseDto:
      type: object
      properties:
        _id:
          type: string
          description: Invoice Id
          example: 6578278e879ad2646715ba9c
        status:
          type: string
          description: Invoice Status
          example: draft
          enum:
          - draft
          - sent
          - payment_processing
          - paid
          - void
          - partially_paid
        liveMode:
          type: boolean
          description: Live Mode
          example: false
        amountPaid:
          type: number
          description: Amount Paid
          example: 0
        altId:
          type: string
          description: Location Id or Agency Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          enum:
          - location
        name:
          type: string
          description: Name of the invoice
          example: New Invoice
        businessDetails:
          type: object
          description: Business Details
          example:
            name: Alex
            address:
              addressLine1: 9931 Beechwood
              city: St. Houston
              state: TX
              countryCode: USA
              postalCode: 559-6993
            phoneNo: +1-214-559-6993
            website: www.example.com
        invoiceNumber:
          type: number
          description: Invoice Number
          example: '19'
        currency:
          type: string
          description: Currency
          example: USD
        contactDetails:
          type: object
          description: Contact Details
          example:
            id: c6tZZU0rJBf30ZXx9Gli
            phoneNo: +1-214-559-6993
            email: alex@example.com
            customFields: []
            name: Alex
            address:
              countryCode: US
        issueDate:
          type: string
          description: Issue date in YYYY-MM-DD format
          example: '2023-01-01'
        dueDate:
          type: string
          description: Due date in YYYY-MM-DD format
          example: '2023-01-01'
        discount:
          type: object
          description: Discount
          example:
            type: percentage
            value: 0
        invoiceItems:
          description: Invoice Items
          example:
          - taxes: []
            _id: c6tZZU0rJBf30ZXx9Gli
            productId: c6tZZU0rJBf30ZXx9Gli
            priceId: c6tZZU0rJBf30ZXx9Gli
            currency: USD
            name: Macbook Pro
            qty: 1
            amount: 999
          type: array
          items:
            type: string
        total:
          type: number
          description: Total Amount
          example: 999
        title:
          type: string
          description: Title
          example: INVOICE
        amountDue:
          type: number
          description: Total Amount Due
          example: 999
        createdAt:
          type: string
          description: created at
          example: '2023-12-12T09:27:42.355Z'
        updatedAt:
          type: string
          description: updated at
          example: '2023-12-12T09:27:42.355Z'
        automaticTaxesEnabled:
          type: boolean
          description: Automatic taxes enabled for the Invoice
          example: true
        automaticTaxesCalculated:
          type: boolean
          description: Is Automatic taxes calculated for the Invoice items
          example: true
        paymentSchedule:
          type: object
          description: split invoice into payment schedule summing up to full invoice amount
      required:
      - _id
      - status
      - liveMode
      - amountPaid
      - altId
      - altType
      - name
      - businessDetails
      - invoiceNumber
      - currency
      - contactDetails
      - issueDate
      - dueDate
      - invoiceItems
      - total
      - title
      - amountDue
      - createdAt
      - updatedAt
    SepaDirectDebitDTO:
      type: object
      properties:
        bank_code:
          type: string
        last4:
          type: string
        branch_code:
          type: string
      required:
      - bank_code
      - last4
      - branch_code
    CustomNotificationItemDto:
      type: object
      properties:
        enabled:
          type: boolean
          description: Flag indicating if the notification is enabled or not
        emailTemplate:
          type: string
          description: Template to be used for sending email
        smsTemplate:
          type: string
          description: Template to be used for sending sms
        fromName:
          type: string
          description: Name to be used while sending email
          example: Alex
        fromEmail:
          type: string
          description: Email address to be used for sending email
          example: alex@example.com
        emailSubject:
          type: string
          description: Subject of email which is sent out
          example: Thank you for purchasing
        defaultEmailTemplateId:
          type: string
          description: Default email TemplateId to be used for sending via email
          example: dhwjqi2899012990w2u
      required:
      - enabled
      - emailTemplate
      - smsTemplate
    SendInvoicesResponseDto:
      type: object
      properties:
        invoice:
          $ref: '#/components/schemas/DefaultInvoiceResponseDto'
        smsData:
          type: object
        emailData:
          type: object
      required:
      - invoice
      - smsData
      - emailData
    GetInvoiceResponseDto:
      type: object
      properties:
        _id:
          type: string
          description: Invoice Id
          example: 6578278e879ad2646715ba9c
        status:
          type: string
          description: Invoice Status
          example: draft
          enum:
          - draft
          - sent
          - payment_processing
          - paid
          - void
          - partially_paid
        liveMode:
          type: boolean
          description: Live Mode
          example: false
        amountPaid:
          type: number
          description: Amount Paid
          example: 0
        altId:
          type: string
          description: Location Id or Agency Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          enum:
          - location
        name:
          type: string
          description: Name of the invoice
          example: New Invoice
        businessDetails:
          type: object
          description: Business Details
          example:
            name: Alex
            address:
              addressLine1: 9931 Beechwood
              city: St. Houston
              state: TX
              countryCode: USA
              postalCode: 559-6993
            phoneNo: +1-214-559-6993
            website: www.example.com
        invoiceNumber:
          type: number
          description: Invoice Number
          example: '19'
        currency:
          type: string
          description: Currency
          example: USD
        contactDetails:
          type: object
          description: Contact Details
          example:
            id: c6tZZU0rJBf30ZXx9Gli
            phoneNo: +1-214-559-6993
            email: alex@example.com
            customFields: []
            name: Alex
            address:
              countryCode: US
        issueDate:
          type: string
          description: Issue date in YYYY-MM-DD format
          example: '2023-01-01'
        dueDate:
          type: string
          description: Due date in YYYY-MM-DD format
          example: '2023-01-01'
        discount:
          type: object
          description: Discount
          example:
            type: percentage
            value: 0
        invoiceItems:
          description: Invoice Items
          example:
          - taxes: []
            _id: c6tZZU0rJBf30ZXx9Gli
            productId: c6tZZU0rJBf30ZXx9Gli
            priceId: c6tZZU0rJBf30ZXx9Gli
            currency: USD
            name: Macbook Pro
            qty: 1
            amount: 999
          type: array
          items:
            type: string
        total:
          type: number
          description: Total Amount
          example: 999
        title:
          type: string
          description: Title
          example: INVOICE
        amountDue:
          type: number
          description: Total Amount Due
          example: 999
        createdAt:
          type: string
          description: created at
          example: '2023-12-12T09:27:42.355Z'
        updatedAt:
          type: string
          description: updated at
          example: '2023-12-12T09:27:42.355Z'
        automaticTaxesEnabled:
          type: boolean
          description: Automatic taxes enabled for the Invoice
          example: true
        automaticTaxesCalculated:
          type: boolean
          description: Is Automatic taxes calculated for the Invoice items
          example: true
        paymentSchedule:
          type: object
          description: split invoice into payment schedule summing up to full invoice amount
        totalSummary:
          $ref: '#/components/schemas/TotalSummaryDto'
        remindersConfiguration:
          description: Reminders Configuration
          allOf:
          - $ref: '#/components/schemas/RemindersConfigurationDto'
      required:
      - _id
      - status
      - liveMode
      - amountPaid
      - altId
      - altType
      - name
      - businessDetails
      - invoiceNumber
      - currency
      - contactDetails
      - issueDate
      - dueDate
      - invoiceItems
      - total
      - title
      - amountDue
      - createdAt
      - updatedAt
      - totalSummary
    TotalSummaryDto:
      type: object
      properties:
        subTotal:
          type: number
          description: subTotal
          example: 999
        discount:
          type: number
          description: discount
          example: 0
        tax:
          type: number
          description: tax
          example: 0
      required:
      - subTotal
      - discount
      - tax
    DefaultInvoiceResponseDto:
      type: object
      properties:
        _id:
          type: string
          description: Invoice Id
          example: 6578278e879ad2646715ba9c
        status:
          type: string
          description: Invoice Status
          example: draft
          enum:
          - draft
          - sent
          - payment_processing
          - paid
          - void
          - partially_paid
        liveMode:
          type: boolean
          description: Live Mode
          example: false
        amountPaid:
          type: number
          description: Amount Paid
          example: 0
        altId:
          type: string
          description: Location Id or Agency Id
          example: 6578278e879ad2646715ba9c
        altType:
          type: string
          enum:
          - location
        name:
          type: string
          description: Name of the invoice
          example: New Invoice
        businessDetails:
          type: object
          description: Business Details
          example:
            name: Alex
            address:
              addressLine1: 9931 Beechwood
              city: St. Houston
              state: TX
              countryCode: USA
              postalCode: 559-6993
            phoneNo: +1-214-559-6993
            website: www.example.com
        invoiceNumber:
          type: number
          description: Invoice Number
          example: '19'
        currency:
          type: string
          description: Currency
          example: USD
        contactDetails:
          type: object
          description: Contact Details
          example:
            id: c6tZZU0rJBf30ZXx9Gli
            phoneNo: +1-214-559-6993
            email: alex@example.com
            customFields: []
            name: Alex
            address:
              countryCode: US
        issueDate:
          type: string
          description: Issue date in YYYY-MM-DD format
          example: '2023-01-01'
        dueDate:
          type: string
          description: Due date in YYYY-MM-DD format
          example: '2023-01-01'
        discount:
          type: object
          description: Discount
          example:
            type: percentage
            value: 0
        invoiceItems:
          description: Invoice Items
          example:
          - taxes: []
            _id: c6tZZU0rJBf30ZXx9Gli
            productId: c6tZZU0rJBf30ZXx9Gli
            priceId: c6tZZU0rJBf30ZXx9Gli
            currency: USD
            name: Macbook Pro
            qty: 1
            amount: 999
          type: array
          items:
            type: string
        total:
          type: number
          description: Total Amount
          example: 999
        title:
          type: string
          description: Title
          example: INVOICE
        amountDue:
          type: number
          description: Total Amount Due
          example: 999
        createdAt:
          type: string
          description: created at
          example: '2023-12-12T09:27:42.355Z'
        updatedAt:
          type: string
          description: updated at
          example: '2023-12-12T09:27:42.355Z'
        automaticTaxesEnabled:
          type: boolean
          description: Automatic taxes enabled for the Invoice
          example: true
        automaticTaxesCalculated:
          type: boolean
          description: Is Automatic taxes calculated for the Invoice items
          example: true
        paymentSchedule:
          type: object
          description: split invoice into payment schedule summing up to full invoice amount
      required:
      - _id
      - status
      - liveMode
      - amountPaid
      - altId
      - altType
      - name
      - businessDetails
      - invoiceNumber
      - currency
      - contactDetails
      - issueDate
      - dueDate
      - invoiceItems
      - total
      - title
      - amountDue
      - createdAt
      - updatedAt
    ItemTaxDto:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        rate:
          type: number
        calculation:
          type: string
          enum:
          - exclusive
        description:
          type: string
        taxId:
          type: string
      required:
      - _id
      - name
      - rate
    LateFeesConfigurationDto:
      type: object
      properties:
        enable:
          type: boolean
          description: Enable late fees
          example: true
        value:
          type: number
          description: Late Fees Value
          example: 10
        type:
          type: string
          description: Late Fees Type
          example: fixed
          enum:
          - fixed
          - percentage
        frequency:
          description: Late Fees Frequency
          allOf:
          - $ref: '#/components/schemas/LateFeesFrequencyDto'
        grace:
          description: Late Fees Grace
          allOf:
          - $ref: '#/components/schemas/LateFeesGraceDto'
        maxLateFees:
          description: Max late fees payable
          allOf:
          - $ref: '#/components/schemas/LateFeesMaxFeesDto'
      required:
      - enable
      - value
      - type
      - frequency
    LateFeesMaxFeesDto:
      type: object
      properties:
        type:
          type: string
          example: fixed
          enum:
          - fixed
        value:
          type: number
          example: '10'
          description: Max late fees to pay
      required:
      - type
      - value
    ChequeDto:
      type: object
      properties:
        number:
          type: string
          description: check number
          example: 129-129-129-912
      required:
      - number
    TipsConfigurationDto:
      type: object
      properties:
        tipsPercentage:
          description: Percentage of tips allowed
          example:
          - 5
          - 10
          - 15
          type: array
          items:
            type: string
        tipsEnabled:
          type: boolean
          description: Tips enabled status
          example: true
      required:
      - tipsPercentage
      - tipsEnabled
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
    Agency-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency.
      type: http
x-tagGroups:
  name: Invoice
  tags:
  - Invoice
  - Template
  - Schedule
  - Text2Pay
  - Estimate
