openapi: 3.2.0
info:
  title: Contacts Workflow API
  description: Documentation for Contacts API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Workflow
  description: Documentation for Contacts API
paths:
  /contacts/{contactId}/workflow/{workflowId}:
    post:
      operationId: add-contact-to-workflow
      summary: Add Contact to Workflow
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      - name: workflowId
        required: true
        in: path
        description: Workflow Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsWorkflowSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Workflow
      security:
      - bearer:
        - contacts.write
    delete:
      operationId: delete-contact-from-workflow
      summary: Delete Contact from Workflow
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      - name: workflowId
        required: true
        in: path
        description: Workflow Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsWorkflowSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Workflow
      security:
      - bearer:
        - contacts.write
components:
  schemas:
    ContactsWorkflowSuccessfulResponseDto:
      type: object
      properties:
        succeded:
          type: boolean
          example: true
    CreateWorkflowDto:
      type: object
      properties:
        eventStartTime:
          type: string
          example: '2021-06-23T03:30:00+01:00'
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
    Agency-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency.
      type: http
x-tagGroups:
  name: Contacts
  tags:
  - Contacts
  - Tasks
  - Appointments
  - Tags
  - Notes
  - Campaigns
  - Workflow
  - Bulk
  - Search
  - Followers
