openapi: 3.2.0
info:
  title: Social Media Posting Account API
  description: Documentation for Social Media Posting API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Account
  description: Documentation for Social Media Posting API
paths:
  /social-media-posting/{locationId}/accounts:
    get:
      operationId: get-account
      summary: Get Accounts
      description: Get list of accounts and groups
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: locationId
        required: true
        in: path
        description: Location Id
        example: ve9EPM428h8vShlRW1KT
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsListResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Account
      security:
      - bearer:
        - socialplanner/account.readonly
  /social-media-posting/{locationId}/accounts/{id}:
    delete:
      operationId: delete-account
      summary: Delete Account
      description: Delete account and account from group
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: locationId
        required: true
        in: path
        description: Location Id
        example: ve9EPM428h8vShlRW1KT
        schema:
          type: string
      - name: id
        required: true
        in: path
        description: Id
        example: 65fac446d599990d1313c1dd
        schema:
          type: string
      - name: companyId
        required: false
        in: query
        description: Company ID
        example: sdfdsfdsfEWEsdfsdsW32dd
        schema:
          type: string
      - name: userId
        required: false
        in: query
        description: User ID
        example: sdfdsfdsfEWEsdfsdsW32dd
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndAccountDeleteResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Account
      security:
      - bearer: []
components:
  schemas:
    LocationAndAccountDeleteResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success or Failure
          example: true
        statusCode:
          type: number
          description: Status Code
          example: 200
        message:
          type: string
          description: Message
          example: Deleted Account
        results:
          description: Requested Results
          allOf:
          - $ref: '#/components/schemas/DeleteAccountResponseSchema'
      required:
      - success
      - statusCode
      - message
    GetAccountSchema:
      type: object
      properties:
        id:
          type: string
          example: aF3KhyL8JIuBwzK3m7Ly_Lx1EI6YIgQYMQi0ytFXv_12554616564525983496
        oauthId:
          type: string
          example: aF3KhyL8JIuBwzK3m7Ly
        profileId:
          type: string
          example: aF3KhyL8JIuBwzK3m7Ly
        name:
          type: string
          example: Sample Account
        platform:
          type: string
          description: 'platform must be one of the following values: google, facebook, instagram, linkedin, twitter, tiktok'
          example: google
        type:
          type: string
          example: location
        expire:
          type: string
          example: '2024-03-11T19:29:59.785Z'
        isExpired:
          type: boolean
          example: false
        meta:
          type: object
          example:
            hasGoogleUpdated: true
            canDelete: true
    DeleteAccountResponseSchema:
      type: object
      properties:
        locationId:
          type: string
          description: Location Id
          example: ve9EPM428h8vShlRW1KT
        id:
          type: string
          description: Id
          example: 65fac446d599990d1313c1dd
    GetGroupSchema:
      type: object
      properties:
        id:
          type: string
          description: Group Id
          example: 6284c43d519161e96cc09c13
        name:
          type: string
          description: name of group
          example: Primary
        accountIds:
          example:
          - 6494063f4260855c1c5776b5_mhoUgTPkz19vjF5Qu7Av_2774080328752823730
          type: array
          items:
            type: string
      required:
      - id
      - name
      - accountIds
    AccountsListResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success or Failure
          example: true
        statusCode:
          type: number
          description: Status Code
          example: 200
        message:
          type: string
          description: Message
          example: Fetched Accounts
        results:
          description: Requested Results
          allOf:
          - $ref: '#/components/schemas/AccountsListResponseSchema'
      required:
      - success
      - statusCode
      - message
    AccountsListResponseSchema:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/GetAccountSchema'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/GetGroupSchema'
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
x-tagGroups:
  name: Social Planner
  tags:
  - Oauth | Google
  - Post
  - Account
  - Oauth | Facebook
  - Oauth | Instagram
  - Oauth | LinkedIn
  - Oauth | Twitter
  - CSV
  - Oauth | Tiktok
  - Category
  - Tag
  - Statistics
