openapi: 3.2.0
info:
  title: Social Media Posting Statistics API
  description: Documentation for Social Media Posting API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Statistics
  description: Documentation for Social Media Posting API
paths:
  /social-media-posting/statistics:
    post:
      operationId: get-social-media-statistics
      summary: Get Social Media Statistics
      description: Retrieve analytics data for multiple social media accounts. Provides metrics for the last 7 days with comparison to the previous 7 days. Supports filtering by platforms and specific connected accounts.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: locationId
        required: true
        in: query
        description: Location ID
        example: w37swmmLbA02zgqKPpxITe2
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                profileIds:
                  type: array
                  description: Array of connected social media account IDs to fetch analytics for. This can be found as 'profileId' in /accounts api.
                  items:
                    type: string
                  example:
                  - 67a5a9aa776c837de4aa5b12
                  minItems: 1
                platforms:
                  type: array
                  description: 'Array of social media platforms to filter analytics by. If not provided, all platforms will be included. NOTE: Linkedin (PAGE only) and Tiktok (BUSINESS only) are supported.'
                  items:
                    type: string
                    enum:
                    - facebook
                    - instagram
                    - linkedin
                    - google
                    - pinterest
                    - youtube
                    - tiktok
                  example:
                  - facebook
                  - instagram
              required:
              - profileIds
      responses:
        '201':
          description: Successfully retrieved analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object
                    description: Analytics data grouped by metrics and platforms
                    properties:
                      dayRange:
                        type: array
                        description: Array of day names for the analytics period
                        items:
                          type: string
                        example:
                        - Mon
                        - Tue
                        - Wed
                        - Thu
                        - Fri
                        - Sat
                        - Sun
                      totals:
                        type: object
                        description: Aggregated metrics totals
                        properties:
                          posts:
                            type: number
                          likes:
                            type: number
                          followers:
                            type: number
                          impressions:
                            type: number
                          comments:
                            type: number
                      postPerformance:
                        type: object
                        description: Post performance metrics over time
                        properties:
                          posts:
                            type: object
                            additionalProperties:
                              type: array
                              items:
                                type: number
                          impressions:
                            type: array
                            items:
                              type: number
                          likes:
                            type: array
                            items:
                              type: number
                          comments:
                            type: array
                            items:
                              type: number
                      breakdowns:
                        type: object
                        description: Detailed breakdowns by metric and platform
                        properties:
                          posts:
                            type: object
                            properties:
                              total:
                                type: number
                              totalChange:
                                type: number
                              platforms:
                                type: object
                                additionalProperties:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                    change:
                                      type: number
                          impressions:
                            type: object
                            properties:
                              total:
                                type: number
                              totalChange:
                                type: number
                              platforms:
                                type: object
                                additionalProperties:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                    change:
                                      type: number
                          reach:
                            type: object
                            properties:
                              total:
                                type: number
                              totalChange:
                                type: number
                              platforms:
                                type: object
                                additionalProperties:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                    change:
                                      type: number
                          engagement:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                likes:
                                  type: number
                                comments:
                                  type: number
                                shares:
                                  type: number
                                change:
                                  type: number
                      platformTotals:
                        type: object
                        description: Platform-wise totals with time series data
                        properties:
                          impressions:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                total:
                                  type: number
                                series:
                                  type: array
                                  items:
                                    type: number
                          followers:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                total:
                                  type: number
                                series:
                                  type: array
                                  items:
                                    type: number
                          likes:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                total:
                                  type: number
                                series:
                                  type: array
                                  items:
                                    type: number
                      demographics:
                        type: object
                        description: Demographic data breakdown
                        properties:
                          gender:
                            type: object
                            properties:
                              totals:
                                type: object
                                properties:
                                  male:
                                    type: object
                                    properties:
                                      total:
                                        type: number
                                      percentage:
                                        type: number
                                  female:
                                    type: object
                                    properties:
                                      total:
                                        type: number
                                      percentage:
                                        type: number
                                  unknown:
                                    type: object
                                    properties:
                                      total:
                                        type: number
                                      percentage:
                                        type: number
                          age:
                            type: object
                            properties:
                              totals:
                                type: object
                                properties:
                                  13-17:
                                    type: number
                                  18-24:
                                    type: number
                                  25-34:
                                    type: number
                                  35-44:
                                    type: number
                                  45-54:
                                    type: number
                                  55-64:
                                    type: number
                                  65+:
                                    type: number
                  message:
                    type: string
                    example: Analytics Built Successfully
                  traceId:
                    type: string
                    example: 42fc8dd8-d55b-475f-944f-9efb90d77564
                example:
                  results:
                    dayRange:
                    - Mon
                    - Tue
                    - Wed
                    - Thu
                    - Fri
                    - Sat
                    - Sun
                    totals:
                      posts: 0
                      likes: 0
                      followers: 0
                      impressions: 0
                      comments: 0
                    postPerformance:
                      posts:
                        google:
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                      impressions:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      likes:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      comments:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                    breakdowns:
                      posts:
                        total: 0
                        totalChange: 0
                        platforms:
                          google:
                            value: 0
                            change: 0
                      impressions:
                        total: 0
                        totalChange: 0
                        platforms:
                          google:
                            value: 0
                            change: 0
                      reach:
                        total: 0
                        totalChange: 0
                        platforms:
                          google:
                            value: 0
                            change: 0
                      engagement:
                        google:
                          likes: 0
                          comments: 0
                          shares: 0
                          change: 0
                    platformTotals:
                      impressions:
                        google:
                          total: 0
                          series:
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                      followers:
                        google:
                          total: 0
                          series:
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                      likes:
                        google:
                          total: 0
                          series:
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                    demographics:
                      gender:
                        totals:
                          male:
                            total: 0
                            percentage: 0
                          female:
                            total: 0
                            percentage: 0
                          unknown:
                            total: 0
                            percentage: 0
                      age:
                        totals:
                          13-17: 0
                          18-24: 0
                          25-34: 0
                          35-44: 0
                          45-54: 0
                          55-64: 0
                          65+: 0
                  message: Analytics Built Successfully
                  traceId: 42fc8dd8-d55b-475f-944f-9efb90d77564
        '400':
          description: Bad Request - Occurs when more than 100 accounts are requested or invalid parameters are provided
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized - Invalid or missing authentication credentials
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity - Invalid request body format
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Statistics
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
x-tagGroups:
  name: Social Planner
  tags:
  - Oauth | Google
  - Post
  - Account
  - Oauth | Facebook
  - Oauth | Instagram
  - Oauth | LinkedIn
  - Oauth | Twitter
  - CSV
  - Oauth | Tiktok
  - Category
  - Tag
  - Statistics
