openapi: 3.2.0
info:
  title: Contacts Appointments API
  description: Documentation for Contacts API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Appointments
  description: Documentation for Contacts API
paths:
  /contacts/{contactId}/appointments:
    get:
      operationId: get-appointments-for-contact
      summary: Get Appointments for Contact
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Appointments
      security:
      - bearer:
        - contacts.readonly
components:
  schemas:
    GetEventsSuccessfulResponseDto:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/GetEventSchema'
    GetEventSchema:
      type: object
      properties:
        id:
          type: string
          example: YS3jaqqeehkR2Is80miy
        calendarId:
          type: string
          example: YlWd2wuCAZQzh2cH1fVZ
        status:
          type: string
          example: booked
        title:
          type: string
          example: Test
        assignedUserId:
          type: string
          example: YlWd2wuCAZQzh2cH1fVZ
        notes:
          type: string
          example: test
        startTime:
          type: string
          example: '2021-07-16 11:00:00'
        endTime:
          type: string
          example: '2021-07-16 11:30:00'
        address:
          type: string
          example: Address
        locationId:
          type: string
          example: YlWd2wuCAZQzh2cH1fVZ
        contactId:
          type: string
          example: YlWd2wuCAZQzh2cH1fVZ
        groupId:
          type: string
          example: YlWd2wuCAZQzh2cH1fVZ
        appointmentStatus:
          type: string
          example: booked
        users:
          example:
          - YlWd2wuCAZQzh2cH1fVZ
          - YlWd2wuCAZQzh2cH1fVZ
          type: array
          items:
            type: string
        dateAdded:
          type: string
          example: '2021-07-16 11:00:00'
        dateUpdated:
          type: string
          example: '2021-07-16 11:30:00'
        assignedResources:
          example:
          - YlWd2wuCAZQzh2cH1fVZ
          - YlWd2wuCAZQzh2cH1fVZ
          type: array
          items:
            type: string
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
    Agency-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency.
      type: http
x-tagGroups:
  name: Contacts
  tags:
  - Contacts
  - Tasks
  - Appointments
  - Tags
  - Notes
  - Campaigns
  - Workflow
  - Bulk
  - Search
  - Followers
