openapi: 3.2.0
info:
  title: Social Media Posting Tag API
  description: Documentation for Social Media Posting API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Tag
  description: Documentation for Social Media Posting API
paths:
  /social-media-posting/{locationId}/tags:
    get:
      operationId: get-tags-location-id
      summary: Get tags by location id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: locationId
        required: true
        in: path
        description: Location Id
        example: ve9EPM428h8vShlRW1KT
        schema:
          type: string
      - name: searchText
        required: false
        in: query
        description: Search text string
        example: test
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Limit
        example: 10
        schema:
          type: string
      - name: skip
        required: false
        in: query
        description: Skip
        example: 0
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTagsByLocationIdResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Tag
      security:
      - bearer: []
  /social-media-posting/{locationId}/tags/details:
    post:
      operationId: get-tags-by-ids
      summary: Get tags by ids
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: locationId
        required: true
        in: path
        description: Location Id
        example: ve9EPM428h8vShlRW1KT
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTagDTO'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTagsByIdResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Tag
      security:
      - bearer: []
components:
  schemas:
    GetTagsByIdResponseSchema:
      type: object
      properties:
        tags:
          description: Social Media Tag Data
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaTagSchema'
        count:
          type: number
          description: Count
          example: 3
      required:
      - tags
    GetTagsByLocationIdResponseSchema:
      type: object
      properties:
        tags:
          description: Tags Data
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaTagSchema'
        count:
          type: number
          description: Count
          example: 3
    UpdateTagDTO:
      type: object
      properties:
        tagIds:
          description: Array of Tag Ids
          example:
          - 65fbdcfecc884f07e645ea8b
          type: array
          items:
            type: string
      required:
      - tagIds
    SocialMediaTagSchema:
      type: object
      properties:
        tag:
          type: string
          description: Tag Name
          example: Primary Tag
        locationId:
          type: string
          description: Location Id
          example: Lx1EI6YIgQYMQi0ytFXv
        _id:
          type: string
          description: ID
          example: Lx1EI6YIgQYMQi0ytFXv
        createdBy:
          type: string
          description: Created By User Id
          example: Lx1EI6YIgQYMQi0ytFXv
        deleted:
          type: boolean
          description: Deleted boolean value
          example: false
        createdAt:
          format: date-time
          type: string
          example: '2023-08-02T00:00:00.000Z'
        updatedAt:
          format: date-time
          type: string
          example: '2023-08-02T00:00:00.000Z'
    GetTagsByLocationIdResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success or Failure
          example: true
        statusCode:
          type: number
          description: Status Code
          example: 200
        message:
          type: string
          description: Message
          example: Fetched Tags by Location ID
        results:
          description: Requested Results
          allOf:
          - $ref: '#/components/schemas/GetTagsByLocationIdResponseSchema'
      required:
      - success
      - statusCode
      - message
    GetTagsByIdResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success or Failure
          example: true
        statusCode:
          type: number
          description: Status Code
          example: 201
        message:
          type: string
          description: Message
          example: Fetched Tags by Tag IDs
        results:
          description: Requested Results
          allOf:
          - $ref: '#/components/schemas/GetTagsByIdResponseSchema'
      required:
      - success
      - statusCode
      - message
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
x-tagGroups:
  name: Social Planner
  tags:
  - Oauth | Google
  - Post
  - Account
  - Oauth | Facebook
  - Oauth | Instagram
  - Oauth | LinkedIn
  - Oauth | Twitter
  - CSV
  - Oauth | Tiktok
  - Category
  - Tag
  - Statistics
