openapi: 3.2.0
info:
  title: Calendars Calendar Notifications API
  description: Documentation for Calendars API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Calendar Notifications
  description: Documentation for Calendars API
paths:
  /calendars/{calendarId}/notifications:
    get:
      operationId: get-event-notification
      summary: Get notifications
      description: Get calendar notifications based on query
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: calendarId
        required: true
        in: path
        schema:
          type: string
      - name: isActive
        required: false
        in: query
        schema:
          type: boolean
      - name: deleted
        required: false
        in: query
        schema:
          type: boolean
      - name: limit
        required: false
        in: query
        description: Number of records to return
        schema:
          default: 100
          type: number
      - name: skip
        required: false
        in: query
        description: Number of records to skip
        schema:
          default: 0
          type: number
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CalendarNotificationResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
      tags:
      - Calendar Notifications
      security:
      - bearer:
        - calendars/events.readonly
    post:
      operationId: create-event-notification
      summary: Create notification
      description: Create Calendar notifications, either one or multiple. All notification settings must be for single calendar only
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: calendarId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCalendarNotificationDTO'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CalendarNotificationResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
      tags:
      - Calendar Notifications
      security:
      - bearer:
        - calendars/events.write
  /calendars/{calendarId}/notifications/{notificationId}:
    get:
      operationId: find-event-notification
      summary: Get notification
      description: Find Event notification by notificationId
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: calendarId
        required: true
        in: path
        schema:
          type: string
      - name: notificationId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarNotificationResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
      tags:
      - Calendar Notifications
      security:
      - bearer:
        - calendars/events.readonly
    put:
      operationId: update-event-notification
      summary: Update notification
      description: Update Event notification by id
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: calendarId
        required: true
        in: path
        schema:
          type: string
      - name: notificationId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCalendarNotificationsDTO'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarNotificationDeleteResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
      tags:
      - Calendar Notifications
      security:
      - bearer:
        - calendars/events.write
    delete:
      operationId: delete-event-notification
      summary: Delete Notification
      description: Delete notification
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: calendarId
        required: true
        in: path
        schema:
          type: string
      - name: notificationId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarNotificationDeleteResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
      tags:
      - Calendar Notifications
      security:
      - bearer:
        - calendars/events.write
components:
  schemas:
    CreateCalendarNotificationDTO:
      type: object
      properties:
        receiverType:
          type: string
          description: notification recipient type
          enum:
          - contact
          - guest
          - assignedUser
          - emails
          - phoneNumbers
          - business
        channel:
          type: string
          description: Notification channel
          enum:
          - email
          - inApp
          - sms
          - whatsapp
        notificationType:
          type: string
          description: Notification type
          enum:
          - booked
          - confirmation
          - cancellation
          - reminder
          - followup
          - reschedule
        isActive:
          type: boolean
          description: Is the notification active
          default: true
        templateId:
          type: string
          description: Template ID for email notification. Not necessary for in-App notification
        body:
          type: string
          description: Body  for email notification. Not necessary for in-App notification
        subject:
          type: string
          description: Subject  for email notification. Not necessary for in-App notification
        afterTime:
          description: Specifies the time after which the follow-up notification should be sent. This is not required for other notification types.
          example:
          - timeOffset: 1
            unit: hours
          type: array
          items:
            $ref: '#/components/schemas/SchedulesDTO'
        beforeTime:
          description: Specifies the time before which the reminder notification should be sent. This is not required for other notification types.
          example:
          - timeOffset: 1
            unit: hours
          type: array
          items:
            $ref: '#/components/schemas/SchedulesDTO'
        additionalEmailIds:
          description: Additional email addresses to receive notifications.
          example:
          - example1@email.com
          - example2@email.com
          type: array
          items:
            type: string
        additionalPhoneNumbers:
          description: Additional phone numbers to receive notifications.
          example:
          - '+919876744444'
          - '+919876744445'
          type: array
          items:
            type: string
        selectedUsers:
          description: Selected users for in-App and business email notifications. Supports user IDs and special keyword "sub_account_admin"
          example:
          - userId1
          - userId2
          - sub_account_admin
          type: array
          items:
            type: string
        fromAddress:
          type: string
          description: from address for email notification
        fromName:
          type: string
          description: from name for email/sms notification
        fromNumber:
          type: string
          description: from number for sms notification
      required:
      - receiverType
      - channel
      - notificationType
    CalendarNotificationDeleteResponseDTO:
      type: object
      properties:
        message:
          type: string
          description: Result of delete/update operation
      required:
      - message
    SchedulesDTO:
      type: object
      properties:
        timeOffset:
          type: number
        unit:
          type: string
    CalendarNotificationResponseDTO:
      type: object
      properties:
        _id:
          type: string
          description: Notification ID
        receiverType:
          type: string
          example: contact
          enum:
          - contact
          - guest
          - assignedUser
          - emails
          - phoneNumbers
          - business
        additionalEmailIds:
          example:
          - example1@email.com
          - example2@email.com
          type: array
          items:
            type: string
        additionalPhoneNumbers:
          example:
          - '+919876744444'
          - '+919876744445'
          type: array
          items:
            type: string
        channel:
          type: string
          example: email
          enum:
          - email
          - inApp
          - sms
          - whatsapp
        notificationType:
          type: string
          example: confirmation
          enum:
          - booked
          - confirmation
          - cancellation
          - reminder
          - followup
          - reschedule
        isActive:
          type: boolean
          example: true
        additionalWhatsappNumbers:
          example:
          - '+919876744444'
          - '+919876744445'
          type: array
          items:
            type: string
        templateId:
          type: string
          example: 0as9d8as0d
        body:
          type: string
          example: This is a test notification
        subject:
          type: string
          example: Test Notification
        afterTime:
          example:
          - timeOffset: 1
            unit: hours
          type: array
          items:
            $ref: '#/components/schemas/SchedulesDTO'
        beforeTime:
          example:
          - timeOffset: 1
            unit: hours
          type: array
          items:
            $ref: '#/components/schemas/SchedulesDTO'
        selectedUsers:
          example:
          - user1
          - user2
          type: array
          items:
            type: string
        deleted:
          type: boolean
          example: false
    UpdateCalendarNotificationsDTO:
      type: object
      properties:
        receiverType:
          type: string
          description: Notification recipient type
          enum:
          - contact
          - guest
          - assignedUser
          - emails
          - phoneNumbers
          - business
        additionalEmailIds:
          description: Additional email addresses to receive notifications.
          example:
          - example1@email.com
          - example2@email.com
          type: array
          items:
            type: string
        additionalPhoneNumbers:
          description: Additional phone numbers to receive notifications.
          example:
          - '+919876744444'
          - '+919876744445'
          type: array
          items:
            type: string
        selectedUsers:
          description: Selected users for in-App and business email notifications. Supports user IDs and special keyword "sub_account_admin"
          example:
          - userId1
          - userId2
          - sub_account_admin
          type: array
          items:
            type: string
        channel:
          type: string
          description: Notification channel
          enum:
          - email
          - inApp
          - sms
          - whatsapp
        notificationType:
          type: string
          description: Notification type
          enum:
          - booked
          - confirmation
          - cancellation
          - reminder
          - followup
          - reschedule
        isActive:
          type: boolean
          description: Is the notification active
          default: true
        deleted:
          type: boolean
          description: Marks the notification as deleted (soft delete)
          default: false
        templateId:
          type: string
          description: Template ID for email notification
        body:
          type: string
          description: Body  for email notification. Not necessary for in-App notification
        subject:
          type: string
          description: Subject  for email notification. Not necessary for in-App notification
        afterTime:
          description: Specifies the time after which the follow-up notification should be sent. This is not required for other notification types.
          example:
          - timeOffset: 1
            unit: hours
          type: array
          items:
            $ref: '#/components/schemas/SchedulesDTO'
        beforeTime:
          description: Specifies the time before which the reminder notification should be sent. This is not required for other notification types.
          example:
          - timeOffset: 1
            unit: hours
          type: array
          items:
            $ref: '#/components/schemas/SchedulesDTO'
        fromAddress:
          type: string
          description: From address for email notification
        fromNumber:
          type: string
          description: from number for sms notification
        fromName:
          type: string
          description: From name for email/sms notification
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
    Agency-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency.
      type: http
x-tagGroups:
  name: Calendars
  tags:
  - Calendars
  - Calendar Groups
  - Calendar Events
  - Appointment Notes
  - 'Calendar Resources: Rooms & Equipments'
  - Calendar Notifications
  - Availability
