openapi: 3.2.0
info:
  title: Funnels Funnel API
  description: Documentation for funnels API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Funnel
  description: Documentation for funnels API
paths:
  /funnels/funnel/list:
    get:
      operationId: getFunnels
      summary: Fetch List of Funnels
      description: Retrieves a list of all funnels based on the given query parameters.
      parameters:
      - name: locationId
        required: true
        in: query
        schema:
          type: string
      - name: type
        required: false
        in: query
        schema:
          type: string
      - name: category
        required: false
        in: query
        schema:
          type: string
      - name: offset
        required: false
        in: query
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          type: string
      - name: parentId
        required: false
        in: query
        schema:
          type: string
      - name: name
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response - List of funnels returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelListResponseDTO'
      tags:
      - Funnel
      security:
      - Location-Access: []
  /funnels/page:
    get:
      operationId: getPagesByFunnelId
      summary: Fetch list of funnel pages
      description: Retrieves a list of all funnel pages based on the given query parameters.
      parameters:
      - name: locationId
        required: true
        in: query
        schema:
          type: string
      - name: funnelId
        required: true
        in: query
        schema:
          type: string
      - name: name
        required: false
        in: query
        schema:
          type: string
      - name: limit
        required: true
        in: query
        schema:
          type: number
      - name: offset
        required: true
        in: query
        schema:
          type: number
      responses:
        '200':
          description: Successful response - List of funnel pages returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelPageResponseDTO'
      tags:
      - Funnel
      security:
      - Location-Access: []
  /funnels/page/count:
    get:
      operationId: getPagesCountByFunnelId
      summary: Fetch count of funnel pages
      description: Retrieves count of all funnel pages based on the given query parameters.
      parameters:
      - name: locationId
        required: true
        in: query
        schema:
          type: string
      - name: funnelId
        required: true
        in: query
        schema:
          type: string
      - name: name
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response - Count of funnel pages returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelPageCountResponseDTO'
      tags:
      - Funnel
      security:
      - Location-Access: []
components:
  schemas:
    FunnelPageCountResponseDTO:
      type: object
      properties:
        count:
          type: number
          example: 20
      required:
      - count
    FunnelPageResponseDTO:
      type: object
      properties:
        _id:
          type: string
          example: 0yJbP3q7t7pLmeTWRAE2
        locationId:
          type: string
          example: ojQjykmwNIU88vfsfzvH
        funnelId:
          type: string
          example: iucJ6TdFZiddhq9f6znh
        name:
          type: string
          example: Home
        stepId:
          type: string
          example: 343bf634-3aa6-4ade-b963-2d3cd0bf2ede
        deleted:
          type: string
          example: false
        updatedAt:
          type: string
          example: '2024-04-18T12:25:23.029Z'
      required:
      - locationId
      - name
      - funnelId
      - stepId
      - deleted
      - updatedAt
      - _id
    FunnelListResponseDTO:
      type: object
      properties:
        funnels:
          type: object
          example:
            _id: SkIDfu0S4m3NYQyvWHC6
            dateAdded: '2024-04-29T15:00:05.681Z'
            dateUpdated: '2024-04-29T15:00:28.465Z'
            deleted: false
            domainId: ''
            locationId: ojQjykmwNIU88vfsfzvH
            name: Chaitanya Copy
            orderFormVersion: 2
            originId: hAmyh7jrJH5FfEEKAJ9z
            steps:
            - id: f5d178c0-8bbb-4cd4-927c-691c68a62c59
              name: Step 1
              originId: 80b2f227-5bc8-4ca5-980d-817745ea4e8b
              pages:
              - 2IhBmBcQRx9JXV1JZsRt
              products: []
              sequence: 1
              type: optin_funnel_page
              url: /newtestifypath
            type: funnel
            updatedAt: '2024-04-29T15:00:34.233Z'
            faviconUrl: ''
            globalSectionVersion: 1
            globalSectionsPath: funnel/SkIDfu0S4m3NYQyvWHC6/global-sections-1
            globalSectionsUrl: https://firebasestorage.googleapis.com/v0/b/highlevel-staging.appspot.com/o/funnel%2FSkIDfu0S4m3NYQyvWHC6%2Fglobal-sections-1?alt=media&token=9cc5c211-093b-4751-aeba-19282ac92955
            isStoreActive: false
            trackingCodeBody: ''
            trackingCodeHead: ''
            url: /chaitanya
        count:
          type: number
          example: 24
        traceId:
          type: string
          example: 03774d31-a57e-4b4f-95c7-315ce61969f1
      required:
      - funnels
      - count
      - traceId
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
x-tagGroups:
  name: Funnels
  tags:
  - Funnel
  - Products
  - Prices
  - Integrations
  - Redirect
