openapi: 3.2.0
info:
  title: Contacts API
  description: Documentation for Contacts API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Contacts
  description: Documentation for Contacts API
paths:
  /contacts/{contactId}:
    get:
      operationId: get-contact
      summary: Get Contact
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: ocQHyuzHvysMo5N5VsXc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsByIdSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Contacts
      security:
      - bearer:
        - contacts.readonly
    put:
      operationId: update-contact
      summary: Update Contact
      description: Please find the list of acceptable values for the `country` field here
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: ocQHyuzHvysMo5N5VsXc
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateContactsSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Contacts
      security:
      - bearer:
        - contacts.write
    delete:
      operationId: delete-contact
      summary: Delete Contact
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: ocQHyuzHvysMo5N5VsXc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteContactsSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Contacts
      security:
      - bearer:
        - contacts.write
  /contacts/upsert:
    post:
      operationId: upsert-contact
      summary: Upsert Contact
      description: 'Please find the list of acceptable values for the `country` field here


        The Upsert API will adhere to the configuration defined under the “Allow Duplicate Contact” setting at the Location level. If the setting is configured to check both Email and Phone, the API will attempt to identify an existing contact based on the priority sequence specified in the setting, and will create or update the contact accordingly.


        If two separate contacts already exist—one with the same email and another with the same phone—and an upsert request includes both the email and phone, the API will update the contact that matches the first field in the configured sequence, and ignore the second field to prevent duplication.'
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertContactDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertContactsSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Contacts
      security:
      - bearer:
        - contacts.write
  /contacts/business/{businessId}:
    get:
      operationId: get-contacts-by-businessId
      summary: Get Contacts By BusinessId
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: businessId
        required: true
        in: path
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          default: '25'
          example: '10'
          type: string
      - name: locationId
        required: true
        in: query
        schema:
          example: 5DP4iH6HLkQsiKESj6rh
          type: string
      - name: skip
        required: false
        in: query
        schema:
          default: '0'
          example: '10'
          type: string
      - name: query
        required: false
        in: query
        schema:
          example: contact name
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsSearchSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Contacts
      security:
      - bearer:
        - contacts.readonly
  /contacts/:
    post:
      operationId: create-contact
      summary: Create Contact
      description: Please find the list of acceptable values for the `country` field here
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactDto'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContactsSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Contacts
      security:
      - bearer:
        - contacts.write
    get:
      operationId: get-contacts
      summary: Get Contacts
      description: 'Get Contacts


        **Note:** This API endpoint is deprecated. Please use the Search Contacts endpoint instead.'
      deprecated: true
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: locationId
        required: true
        in: query
        description: Location Id
        schema:
          example: ve9EPM428h8vShlRW1KT
          type: string
      - name: startAfterId
        required: false
        in: query
        description: Start After Id
        schema:
          example: UIaE1WjAwWKdlyD7osQI
          type: string
      - name: startAfter
        required: false
        in: query
        description: Start Afte
        schema:
          example: 1603870249758
          type: number
      - name: query
        required: false
        in: query
        description: Contact Query
        schema:
          example: John
          type: string
      - name: limit
        required: false
        in: query
        description: Limit Per Page records count. will allow maximum up to 100 and default will be 20
        schema:
          default: 20
          example: 20
          type: number
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsSearchSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Contacts
      security:
      - bearer:
        - contacts.readonly
components:
  schemas:
    DndSettingsSchema:
      type: object
      properties:
        Call:
          $ref: '#/components/schemas/DndSettingSchema'
        Email:
          $ref: '#/components/schemas/DndSettingSchema'
        SMS:
          $ref: '#/components/schemas/DndSettingSchema'
        WhatsApp:
          $ref: '#/components/schemas/DndSettingSchema'
        GMB:
          $ref: '#/components/schemas/DndSettingSchema'
        FB:
          $ref: '#/components/schemas/DndSettingSchema'
    CustomFieldSchema:
      type: object
      properties:
        id:
          type: string
          example: MgobCB14YMVKuE4Ka8p1
        value:
          type: string
          example: name
    DeleteContactsSuccessfulResponseDto:
      type: object
      properties:
        succeded:
          type: boolean
          example: true
    MonetoryField:
      type: object
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          type: object
          example: 100.5
      required:
      - id
    ContactsSearchSuccessfulResponseDto:
      type: object
      properties:
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/ContactsSearchSchema'
        count:
          type: number
          example: 10
    FileField:
      type: object
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          type: object
          example:
            f31175d4-2b06-4fc6-b7bc-74cd814c68cb:
              meta:
                fieldname: 1HeGizb13P0odwgOgKSs
                originalname: IMG_20231215_164412935.jpg
                encoding: 7bit
                mimetype: image/jpeg
                size: 1786611
                uuid: f31175d4-2b06-4fc6-b7bc-74cd814c68cb
              url: https://services.leadconnectorhq.com/documents/download/w2M9qTZ0ZJz8rGt02jdJ
              documentId: w2M9qTZ0ZJz8rGt02jdJ
      required:
      - id
    InboundDndSettingSchema:
      type: object
      properties:
        status:
          type: string
          enum:
          - active
          - inactive
        message:
          type: string
      required:
      - status
    SingleSelectField:
      type: object
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          type: string
          example: My Selected Option
      required:
      - id
    AttributionSource:
      type: object
      properties:
        url:
          type: string
          example: Trigger Link
        campaign:
          type:
          - string
          - 'null'
        utmSource:
          type:
          - string
          - 'null'
        utmMedium:
          type:
          - string
          - 'null'
        utmContent:
          type:
          - string
          - 'null'
        referrer:
          type:
          - string
          - 'null'
          example: 'https: //www.google.com'
        campaignId:
          type:
          - string
          - 'null'
        fbclid:
          type:
          - string
          - 'null'
        gclid:
          type:
          - string
          - 'null'
          example: CjOKCQjwnNyUBhCZARISAI9AYIFtNnIcWcYGIOQINz_ZoFI5SSLRRugSoPZoiEu27IZBY£1-MAIWmEaAo2VEALW_WCB
        msclikid:
          type:
          - string
          - 'null'
        dclid:
          type:
          - string
          - 'null'
        fbc:
          type:
          - string
          - 'null'
        fbp:
          type:
          - string
          - 'null'
          example: fb. 1.1674748390986.1171287961
        fbEventId:
          type:
          - string
          - 'null'
          example: Mozilla/5.0
        userAgent:
          type:
          - string
          - 'null'
          example: Mozilla/5.0
        ip:
          type:
          - string
          - 'null'
          example: 58.111.106.198
        medium:
          type:
          - string
          - 'null'
          example: survey
        mediumId:
          type:
          - string
          - 'null'
          example: FglfHAn30PRwsZVyQlKp
      required:
      - url
    UpsertContactsSuccessfulResponseDto:
      type: object
      properties:
        new:
          type: boolean
          example: true
        contact:
          $ref: '#/components/schemas/GetContectByIdSchema'
        traceId:
          type: string
    DndSettingSchema:
      type: object
      properties:
        status:
          type: string
          enum:
          - active
          - inactive
          - permanent
        message:
          type: string
        code:
          type: string
      required:
      - status
    UpdateContactsSuccessfulResponseDto:
      type: object
      properties:
        succeded:
          type: boolean
          example: true
        contact:
          $ref: '#/components/schemas/GetContectByIdSchema'
    TextField:
      type: object
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          type: string
          example: My Text
      required:
      - id
    RadioField:
      type: object
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          type: string
          example: My Selected Option
      required:
      - id
    LargeTextField:
      type: object
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          type: string
          example: My Text
      required:
      - id
    CheckboxField:
      type: object
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          example:
          - test
          - test2
          type: array
          items:
            type: string
      required:
      - id
    NumericField:
      type: object
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          type: object
          example: 100
      required:
      - id
    CreateContactsSuccessfulResponseDto:
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/CreateContactSchema'
    CreateContactDto:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
          example: Rosan
        lastName:
          type:
          - string
          - 'null'
          example: Deo
        name:
          type:
          - string
          - 'null'
          example: Rosan Deo
        email:
          type:
          - string
          - 'null'
          example: rosan@deos.com
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
        gender:
          type: string
          example: male
        phone:
          type:
          - string
          - 'null'
          example: +1 888-888-8888
        address1:
          type:
          - string
          - 'null'
          example: 3535 1st St N
        city:
          type:
          - string
          - 'null'
          example: Dolomite
        state:
          type:
          - string
          - 'null'
          example: AL
        postalCode:
          type: string
          example: '35061'
        website:
          type:
          - string
          - 'null'
          example: https://www.tesla.com
        timezone:
          type:
          - string
          - 'null'
          example: America/Chihuahua
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/DndSettingsSchema'
        inboundDndSettings:
          $ref: '#/components/schemas/InboundDndSettingsSchema'
        tags:
          example:
          - nisi sint commodo amet
          - consequat
          type: array
          items:
            type: string
        customFields:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/TextField'
            - $ref: '#/components/schemas/LargeTextField'
            - $ref: '#/components/schemas/SingleSelectField'
            - $ref: '#/components/schemas/RadioField'
            - $ref: '#/components/schemas/NumericField'
            - $ref: '#/components/schemas/MonetoryField'
            - $ref: '#/components/schemas/CheckboxField'
            - $ref: '#/components/schemas/MultiSelectField'
            - $ref: '#/components/schemas/FileField'
        source:
          type: string
          example: public api
        dateOfBirth:
          type:
          - object
          - 'null'
          description: 'The birth date of the contact. Supported formats: YYYY/MM/DD, MM/DD/YYYY, YYYY-MM-DD, MM-DD-YYYY, YYYY.MM.DD, MM.DD.YYYY, YYYY_MM_DD, MM_DD_YYYY'
          example: '1990-09-25'
        country:
          type: string
          example: US
        companyName:
          type:
          - string
          - 'null'
          example: DGS VolMAX
        assignedTo:
          type: string
          example: y0BeYjuRIlDwsDcOHOJo
          description: User's Id
      required:
      - locationId
    GetContectByIdSchema:
      type: object
      properties:
        id:
          type: string
          example: seD4PfOuKoVMLkEZqohJ
        name:
          type: string
          example: rubika deo
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
        firstName:
          type: string
          example: rubika
        lastName:
          type: string
          example: Deo
        email:
          type: string
          example: rubika@deos.com
        emailLowerCase:
          type: string
          example: rubika@deos.com
        timezone:
          type: string
          example: Asia/Calcutta
        companyName:
          type: string
          example: DGS VolMAX
        phone:
          type: string
          example: '+18832327657'
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/DndSettingsSchema'
        type:
          type: string
          example: read
        source:
          type: string
          example: public api
        assignedTo:
          type: string
          example: ve9EPM428h8vShlRW1KT
        address1:
          type: string
          example: 3535 1st St N
        city:
          type: string
          example: ruDolomitebika
        state:
          type: string
          example: AL
        country:
          type: string
          example: US
        postalCode:
          type: string
          example: '35061'
        website:
          type: string
          example: https://www.tesla.com
        tags:
          example:
          - nisi sint commodo amet
          - consequat
          type: array
          items:
            type: string
        dateOfBirth:
          type: string
          example: Date format YYYY-MM-DD
        dateAdded:
          type: string
          example: '2021-07-02T05:18:26.704Z'
        dateUpdated:
          type: string
          example: '2021-07-02T05:18:26.704Z'
        attachments:
          type: string
        ssn:
          type: string
        keyword:
          type: string
          example: test
        firstNameLowerCase:
          type: string
          example: rubika
        fullNameLowerCase:
          type: string
          example: rubika deo
        lastNameLowerCase:
          type: string
          example: deo
        lastActivity:
          type: string
          example: '2021-07-16T11:39:30.564Z'
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldSchema'
        businessId:
          type: string
          example: 641c094001436dbc2081e642
        attributionSource:
          $ref: '#/components/schemas/AttributionSource'
        lastAttributionSource:
          $ref: '#/components/schemas/AttributionSource'
        visitorId:
          type: string
          description: visitorId is the Unique ID assigned to each Live chat visitor.
          example: ve9EPM428h8vShlRW1KT
    ContactsSearchSchema:
      type: object
      properties:
        id:
          type: string
          example: ocQHyuzHvysMo5N5VsXc
        locationId:
          type: string
          example: C2QujeCh8ZnC7al2InWR
        email:
          type: string
          example: JohnDeo@gmail.com
        timezone:
          type: string
          example: Asia/Calcutta
        country:
          type: string
          example: DE
        source:
          type: string
          example: xyz form
        dateAdded:
          type: string
          example: '2020-10-29T09:31:30.255Z'
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldSchema'
        tags:
          example:
          - nisi sint commodo amet
          - consequat
          type: array
          items:
            type: string
        businessId:
          type: string
          example: 641c094001436dbc2081e642
        attributions:
          type: array
          items:
            $ref: '#/components/schemas/AttributionSource'
        followers:
          example: 641c094001436dbc2081e642
          type: array
          items:
            type: string
    UpsertContactDto:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
          example: Rosan
        lastName:
          type:
          - string
          - 'null'
          example: Deo
        name:
          type:
          - string
          - 'null'
          example: Rosan Deo
        email:
          type:
          - string
          - 'null'
          example: rosan@deos.com
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
        gender:
          type: string
          example: male
        phone:
          type:
          - string
          - 'null'
          example: +1 888-888-8888
        address1:
          type:
          - string
          - 'null'
          example: 3535 1st St N
        city:
          type:
          - string
          - 'null'
          example: Dolomite
        state:
          type:
          - string
          - 'null'
          example: AL
        postalCode:
          type: string
          example: '35061'
        website:
          type:
          - string
          - 'null'
          example: https://www.tesla.com
        timezone:
          type:
          - string
          - 'null'
          example: America/Chihuahua
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/DndSettingsSchema'
        inboundDndSettings:
          $ref: '#/components/schemas/InboundDndSettingsSchema'
        tags:
          example:
          - nisi sint commodo amet
          - consequat
          description: This field will overwrite all current tags associated with the contact. To update a tags, it is recommended to use the Add Tag or Remove Tag API instead.
          type: array
          items:
            type: string
        customFields:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/TextField'
            - $ref: '#/components/schemas/LargeTextField'
            - $ref: '#/components/schemas/SingleSelectField'
            - $ref: '#/components/schemas/RadioField'
            - $ref: '#/components/schemas/NumericField'
            - $ref: '#/components/schemas/MonetoryField'
            - $ref: '#/components/schemas/CheckboxField'
            - $ref: '#/components/schemas/MultiSelectField'
            - $ref: '#/components/schemas/FileField'
        source:
          type: string
          example: public api
        dateOfBirth:
          type:
          - object
          - 'null'
          description: 'The birth date of the contact. Supported formats: YYYY/MM/DD, MM/DD/YYYY, YYYY-MM-DD, MM-DD-YYYY, YYYY.MM.DD, MM.DD.YYYY, YYYY_MM_DD, MM_DD_YYYY'
          example: '1990-09-25'
        country:
          type: string
          example: US
        companyName:
          type:
          - string
          - 'null'
          example: DGS VolMAX
        assignedTo:
          type: string
          example: y0BeYjuRIlDwsDcOHOJo
          description: User's Id
        createNewIfDuplicateAllowed:
          type: boolean
          description: 'Controls whether to create a new contact or update an existing duplicate. **Scenario 1:** If this value is `true` and the location allows duplicate contacts, a new contact will be created immediately without checking for duplicates. **Scenario 2:** If this value is `true` but the location does not allow duplicate contacts, this field is ignored and the normal upsert behavior applies: the API will search for an existing duplicate contact, update it if found, or create a new contact if not found. **Scenario 3:** If this value is `false` or not provided, the normal upsert behavior applies regardless of the location''s duplicate contact setting.'
          example: false
          default: false
      required:
      - locationId
    UpdateContactDto:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
          example: rosan
        lastName:
          type:
          - string
          - 'null'
          example: Deo
        name:
          type:
          - string
          - 'null'
          example: rosan Deo
        email:
          type:
          - string
          - 'null'
          example: rosan@deos.com
        phone:
          type:
          - string
          - 'null'
          example: +1 888-888-8888
        address1:
          type:
          - string
          - 'null'
          example: 3535 1st St N
        city:
          type:
          - string
          - 'null'
          example: Dolomite
        state:
          type:
          - string
          - 'null'
          example: AL
        postalCode:
          type: string
          example: '35061'
        website:
          type:
          - string
          - 'null'
          example: https://www.tesla.com
        timezone:
          type:
          - string
          - 'null'
          example: America/Chihuahua
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/DndSettingsSchema'
        inboundDndSettings:
          $ref: '#/components/schemas/InboundDndSettingsSchema'
        tags:
          example:
          - nisi sint commodo amet
          - consequat
          description: This field will overwrite all current tags associated with the contact. To update a tags, it is recommended to use the Add Tag or Remove Tag API instead.
          type: array
          items:
            type: string
        customFields:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/TextField'
            - $ref: '#/components/schemas/LargeTextField'
            - $ref: '#/components/schemas/SingleSelectField'
            - $ref: '#/components/schemas/RadioField'
            - $ref: '#/components/schemas/NumericField'
            - $ref: '#/components/schemas/MonetoryField'
            - $ref: '#/components/schemas/CheckboxField'
            - $ref: '#/components/schemas/MultiSelectField'
            - $ref: '#/components/schemas/FileField'
        source:
          type:
          - string
          - 'null'
          example: public api
        dateOfBirth:
          type:
          - object
          - 'null'
          description: 'The birth date of the contact. Supported formats: YYYY/MM/DD, MM/DD/YYYY, YYYY-MM-DD, MM-DD-YYYY, YYYY.MM.DD, MM.DD.YYYY, YYYY_MM_DD, MM_DD_YYYY'
          example: '1990-09-25'
        country:
          type: string
          example: US
        assignedTo:
          type:
          - string
          - 'null'
          example: y0BeYjuRIlDwsDcOHOJo
          description: User's Id
    InboundDndSettingsSchema:
      type: object
      properties:
        all:
          $ref: '#/components/schemas/InboundDndSettingSchema'
    ContactsByIdSuccessfulResponseDto:
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/GetContectByIdSchema'
    MultiSelectField:
      type: object
      properties:
        id:
          type: string
          example: 6dvNaf7VhkQ9snc5vnjJ
        key:
          type: string
          example: my_custom_field
        field_value:
          example:
          - test
          - test2
          type: array
          items:
            type: string
      required:
      - id
    CreateContactSchema:
      type: object
      properties:
        id:
          type: string
          example: seD4PfOuKoVMLkEZqohJ
        dateAdded:
          type: string
          example: '2021-08-31T09:59:41.937Z'
        dateUpdated:
          type: string
          example: '2021-08-31T09:59:41.937Z'
        deleted:
          type: boolean
          example: false
        tags:
          example:
          - nisi sint commodo amet
          - consequat
          type: array
          items:
            type: string
        type:
          type: string
          example: read
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldSchema'
        locationId:
          type: string
          example: ve9EPM428h8vShlRW1KT
        firstName:
          type: string
          example: rubika
        firstNameLowerCase:
          type: string
          example: rubika
        fullNameLowerCase:
          type: string
          example: rubika deo
        lastName:
          type: string
          example: Deo
        lastNameLowerCase:
          type: string
          example: deo
        email:
          type: string
          example: rubika@deos.com
        emailLowerCase:
          type: string
          example: rubika@deos.com
        bounceEmail:
          type: boolean
          example: false
        unsubscribeEmail:
          type: boolean
          example: false
        dnd:
          type: boolean
          example: true
        dndSettings:
          $ref: '#/components/schemas/DndSettingsSchema'
        phone:
          type: string
          example: '+18832327657'
        address1:
          type: string
          example: 3535 1st St N
        city:
          type: string
          example: ruDolomitebika
        state:
          type: string
          example: AL
        country:
          type: string
          example: US
        postalCode:
          type: string
          example: '35061'
        website:
          type: string
          example: https://www.tesla.com
        source:
          type: string
          example: public api
        companyName:
          type: string
          example: DGS VolMAX
        dateOfBirth:
          type: string
          example: Date format will be  YYYY-MM-DDTHH:mm:ss.sssZ and  Example 1990-09-25T00:00:00.000Z
        birthMonth:
          type: number
          example: 8
        birthDay:
          type: number
          example: 25
        lastSessionActivityAt:
          type: string
          example: '2021-07-16T11:39:30.564Z'
        offers:
          example: []
          type: array
          items:
            type: string
        products:
          example: []
          type: array
          items:
            type: string
        businessId:
          type: string
          example: 641c094001436dbc2081e642
        assignedTo:
          type: string
          example: y0BeYjuRIlDwsDcOHOJo
          description: User's Id
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
    Agency-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency.
      type: http
x-tagGroups:
  name: Contacts
  tags:
  - Contacts
  - Tasks
  - Appointments
  - Tags
  - Notes
  - Campaigns
  - Workflow
  - Bulk
  - Search
  - Followers
