openapi: 3.2.0
info:
  title: Highlevel Search API
  version: '1.0'
  contact: {}
  description: 'Operations tagged Search across 5 of this provider''s published API definitions: highlevel-contacts-openapi.json, highlevel-conversations-openapi.json, highlevel-locations-openapi.json, highlevel-opportunities-openapi.json, highlevel-users-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Search
  description: Documentation for Contacts API
paths:
  /contacts/search:
    post:
      operationId: search-contacts-advanced
      summary: Search Contacts
      description: Search contacts based on combinations of advanced filters. Documentation Link - https://doc.clickup.com/8631005/d/h/87cpx-158396/6e629989abe7fad
      externalDocs:
        url: https://doc.clickup.com/8631005/d/h/87cpx-158396/6e629989abe7fad
        description: Click here for more information
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchBodyV2DTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Search
      security:
      - bearer:
        - contacts.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /contacts/search/duplicate:
    get:
      operationId: get-duplicate-contact
      summary: Get Duplicate Contact
      description: 'Get Duplicate Contact.


        If `Allow Duplicate Contact` is disabled under Settings, the global unique identifier will be used for searching the contact. If the setting is enabled, first priority for search is `email` and the second priority will be `phone`.'
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: locationId
        required: true
        in: query
        description: Location Id
        schema:
          example: sadadya1u12basyhasd
          type: string
      - name: number
        required: false
        in: query
        description: Phone Number - Pass in URL Encoded form. i.e +1423164516 will become `%2B1423164516`
        schema:
          example: '+1423164516'
          type: string
      - name: email
        required: false
        in: query
        description: Email - Pass in URL Encoded form. i.e test+abc@gmail.com will become `test%2Babc%40gmail.com`
        schema:
          example: abc@abc.com
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
      tags:
      - Search
      security:
      - bearer:
        - contacts.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /conversations/search:
    get:
      operationId: search-conversation
      summary: Search Conversations
      description: Returns a list of all conversations matching the search criteria along with the sort and filter options selected.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: locationId
        required: true
        in: query
        description: Location Id
        schema:
          example: ABCHkzuJQ8ZMd4Te84GK
          type: string
      - name: contactId
        required: false
        in: query
        description: Contact Id
        schema:
          example: 9VEmS0si86GW6gXWU89b
          type: string
      - name: assignedTo
        required: false
        in: query
        description: User IDs that conversations are assigned to. Multiple IDs can be provided as comma-separated values. Use "unassigned" to fetch conversations not assigned to any user.
        schema:
          example: ABCHkzuJQ8ZMd4Te84GK,fGiae4CHkzoskh8thsik
          type: string
      - name: followers
        required: false
        in: query
        description: User IDs of followers to filter conversations by. Multiple IDs can be provided as comma-separated values.
        schema:
          example: ABCHkzuJQ8ZMd4Te84GK,fGiae4CHkzoskh8thsik
          type: string
      - name: mentions
        required: false
        in: query
        description: User Id of the mention. Multiple values are comma separated.
        schema:
          example: ABCHkzuJQ8ZMd4Te84GK,fGiae4CHkzoskh8thsik
          type: string
      - name: query
        required: false
        in: query
        description: Search paramater as a string
        schema:
          example: Search string
          type: string
      - name: sort
        required: false
        in: query
        description: Sort paramater - asc or desc
        schema:
          example: asc
          enum:
          - asc
          - desc
          type: string
      - name: startAfterDate
        required: false
        in: query
        description: Search to begin after the specified date - should contain the sort value of the last document
        anyOf:
        - $ref: '#/components/schemas/StartAfterNumberSchema'
        - $ref: '#/components/schemas/StartAfterArrayNumberSchema'
        schema:
          example: 1600854
          type: any
      - name: id
        required: false
        in: query
        description: Id of the conversation
        schema:
          example: ABCHkzuJQ8ZMd4Te84GK
          type: string
      - name: limit
        required: false
        in: query
        description: Limit of conversations - Default is 20
        schema:
          example: 20
          type: number
      - name: lastMessageType
        required: false
        in: query
        description: Type of the last message in the conversation as a string
        schema:
          example: TYPE_SMS
          enum:
          - TYPE_CALL
          - TYPE_SMS
          - TYPE_RCS
          - TYPE_EMAIL
          - TYPE_SMS_REVIEW_REQUEST
          - TYPE_WEBCHAT
          - TYPE_SMS_NO_SHOW_REQUEST
          - TYPE_CAMPAIGN_SMS
          - TYPE_CAMPAIGN_CALL
          - TYPE_CAMPAIGN_EMAIL
          - TYPE_CAMPAIGN_VOICEMAIL
          - TYPE_FACEBOOK
          - TYPE_CAMPAIGN_FACEBOOK
          - TYPE_CAMPAIGN_MANUAL_CALL
          - TYPE_CAMPAIGN_MANUAL_SMS
          - TYPE_GMB
          - TYPE_CAMPAIGN_GMB
          - TYPE_REVIEW
          - TYPE_INSTAGRAM
          - TYPE_WHATSAPP
          - TYPE_CUSTOM_SMS
          - TYPE_CUSTOM_EMAIL
          - TYPE_CUSTOM_PROVIDER_SMS
          - TYPE_CUSTOM_PROVIDER_EMAIL
          - TYPE_IVR_CALL
          - TYPE_ACTIVITY_CONTACT
          - TYPE_ACTIVITY_INVOICE
          - TYPE_ACTIVITY_PAYMENT
          - TYPE_ACTIVITY_OPPORTUNITY
          - TYPE_LIVE_CHAT
          - TYPE_LIVE_CHAT_INFO_MESSAGE
          - TYPE_ACTIVITY_APPOINTMENT
          - TYPE_FACEBOOK_COMMENT
          - TYPE_INSTAGRAM_COMMENT
          - TYPE_CUSTOM_CALL
          - TYPE_INTERNAL_COMMENT
          - TYPE_ACTIVITY_EMPLOYEE_ACTION_LOG
          - TYPE_TIKTOK
          - TYPE_TIKTOK_COMMENT
          - TYPE_ACTIVITY_WHATSAPP
          - TYPE_FORM_SUBMISSION
          - TYPE_SMS_REACTION
          type: string
      - name: lastMessageAction
        required: false
        in: query
        description: Action of the last outbound message in the conversation as string.
        schema:
          example: manual
          enum:
          - automated
          - manual
          type: string
      - name: lastMessageDirection
        required: false
        in: query
        description: Direction of the last message in the conversation as string.
        schema:
          example: inbound
          enum:
          - inbound
          - outbound
          type: string
      - name: status
        required: false
        in: query
        description: 'The status of the conversation to be filtered - all, read, unread, starred '
        schema:
          example: all
          enum:
          - all
          - read
          - unread
          - starred
          - recents
          type: string
      - name: sortBy
        required: false
        in: query
        description: The sorting of the conversation to be filtered as - manual messages or all messages
        schema:
          example: last_message_date
          enum:
          - last_manual_message_date
          - last_message_date
          - score_profile
          - overdue_at
          - due_at
          type: string
      - name: sortScoreProfile
        required: false
        in: query
        description: Id of score profile on which sortBy.ScoreProfile should sort on
        schema:
          example: ABCHkzuJQ8ZMd4Te84GK
          type: string
      - name: scoreProfile
        required: false
        in: query
        description: Id of score profile on which conversations should get filtered out, works with scoreProfileMin & scoreProfileMax
        schema:
          example: ABCHkzuJQ8ZMd4Te84GK
          type: string
      - name: scoreProfileMin
        required: false
        in: query
        description: Minimum value for score
        schema:
          example: ABCHkzuJQ8ZMd4Te84GK
          type: number
      - name: scoreProfileMax
        required: false
        in: query
        description: Maximum value for score
        schema:
          example: ABCHkzuJQ8ZMd4Te84GK
          type: number
      - name: startDate
        required: false
        in: query
        description: Start date filter for dateAdded field (Unix timestamp in milliseconds)
        schema:
          example: 1640995200000
          type: number
      - name: endDate
        required: false
        in: query
        description: End date filter for dateAdded field (Unix timestamp in milliseconds)
        schema:
          example: 1672531199000
          type: number
      responses:
        '200':
          description: Successfully fetched the conversations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendConversationResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
      tags:
      - Search
      security:
      - bearer:
        - conversations.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /locations/search:
    get:
      operationId: search-locations
      summary: Search
      description: Search Sub-Account (Formerly Location)
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: companyId
        required: false
        in: query
        description: The company/agency id on which you want to perform the search
        example: 5DP4iH6HLkQsiKESj6rh
        schema:
          type: string
      - name: skip
        required: false
        in: query
        example: '1'
        description: The value by which the results should be skipped. Default will be 0
        schema:
          default: '0'
          type: string
      - name: limit
        required: false
        in: query
        example: '10'
        description: The value by which the results should be limited. Default will be 10
        schema:
          default: '10'
          type: string
      - name: order
        required: false
        in: query
        example: asc
        description: The order in which the results should be returned - Allowed values asc, desc. Default will be asc
        schema:
          default: asc
          type: string
      - name: email
        required: false
        in: query
        example: johndoe@mail.com
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Search
      security:
      - Agency-Access:
        - locations.readonly
      - Location-Access:
        - locations.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /opportunities/search:
    get:
      operationId: search-opportunity
      summary: Search Opportunity
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: q
        required: false
        in: query
        schema:
          example: john@deo.com
          type: string
      - name: location_id
        required: true
        in: query
        description: Location Id
        schema:
          example: i2SpAtBVHSVea1sL6oah
          type: string
      - name: pipeline_id
        required: false
        in: query
        description: Pipeline Id
        schema:
          example: bCkKGpDsyPP4peuKowkG
          type: string
      - name: pipeline_stage_id
        required: false
        in: query
        description: stage Id
        schema:
          example: 7915dedc-8f18-44d5-8bc3-77c04e994a10
          type: string
      - name: contact_id
        required: false
        in: query
        description: Contact Id
        schema:
          example: WFwVrSSjZ2CNHbZThQX2
          type: string
      - name: status
        required: false
        in: query
        schema:
          enum:
          - open
          - won
          - lost
          - abandoned
          - all
          type: string
      - name: assigned_to
        required: false
        in: query
        schema:
          example: 082goXVW3lIExEQPOnd3
          type: string
      - name: campaignId
        required: false
        in: query
        description: Campaign Id
        schema:
          example: Y2I9XM7aO1hncuSOlc9L
          type: string
      - name: id
        required: false
        in: query
        description: Opportunity Id
        schema:
          example: 123akv4LFn6C9frZoy3e
          type: string
      - name: order
        required: false
        in: query
        schema:
          example: added_asc
          type: string
      - name: endDate
        required: false
        in: query
        description: End date
        schema:
          example: mm-dd-yyyy
          type: string
      - name: startAfter
        required: false
        in: query
        description: Start After
        schema:
          example: '1628008053263'
          type: string
      - name: startAfterId
        required: false
        in: query
        description: Start After Id
        schema:
          example: UIaE1WjAwWKdlyD7osQI
          type: string
      - name: date
        required: false
        in: query
        description: Start date
        schema:
          example: mm-dd-yyyy
          type: string
      - name: country
        required: false
        in: query
        schema:
          example: US
          type: string
      - name: page
        required: false
        in: query
        schema:
          default: 1
          type: number
      - name: limit
        required: false
        in: query
        description: Limit Per Page records count. will allow maximum up to 100 and default will be 20
        schema:
          default: 20
          type: number
      - name: getTasks
        required: false
        in: query
        description: get Tasks in contact
        schema:
          example: false
          type: boolean
      - name: getNotes
        required: false
        in: query
        description: get Notes in contact
        schema:
          example: false
          type: boolean
      - name: getCalendarEvents
        required: false
        in: query
        description: get Calender event in contact
        schema:
          example: false
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSuccessfulResponseDto_2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Search
      security:
      - bearer:
        - opportunities.readonly
    post:
      operationId: search-opportunities-advanced
      summary: Search Opportunities
      description: Search Opportunities based on combinations of advanced filters. Documentation Link - https://doc.clickup.com/8631005/d/h/87cpx-424216/7bf11bc9b94f80f
      externalDocs:
        url: https://doc.clickup.com/8631005/d/h/87cpx-424216/7bf11bc9b94f80f
        description: Click here for more information
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunitySearchBodyDTO'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSearchSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Search
      security:
      - bearer:
        - opportunities.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /users/search:
    get:
      operationId: search-users
      summary: Search Users
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: companyId
        required: true
        in: query
        description: Company ID in which the search needs to be performed
        schema:
          example: 5DP41231LkQsiKESj6rh
          type: string
      - name: query
        required: false
        in: query
        description: The search term for the user is matched based on the user full name, email or phone
        schema:
          example: John
          type: string
      - name: skip
        required: false
        in: query
        description: No of results to be skipped before returning the result
        schema:
          default: '0'
          example: '1'
          type: string
      - name: limit
        required: false
        in: query
        description: No of results to be limited before returning the result
        schema:
          default: '25'
          example: '10'
          type: string
      - name: locationId
        required: false
        in: query
        description: Location ID in which the search needs to be performed
        schema:
          example: 5DP41231LkQsiKESj6rh
          type: string
      - name: type
        required: false
        in: query
        description: Type of the users to be filtered in the search
        schema:
          example: agency
          type: string
      - name: role
        required: false
        in: query
        description: Role of the users to be filtered in the search
        schema:
          example: admin
          type: string
      - name: ids
        required: false
        in: query
        description: List of User IDs to be filtered in the search
        schema:
          example: 5DP4iH6HLkQsiKESj6rh,5DP4iH6HLkQsiKESj34h
          type: string
      - name: sort
        required: false
        in: query
        description: The field on which sort is applied in which the results need to be sorted. Default is based on the first and last name
        schema:
          example: dateAdded
          type: string
      - name: sortDirection
        required: false
        in: query
        description: The direction in which the results need to be sorted
        schema:
          example: asc
          type: string
      - name: enabled2waySync
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchUserSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Search
      security:
      - Agency-Access:
        - users.readonly
      - Location-Access:
        - users.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /users/search/filter-by-email:
    post:
      operationId: filter-users-by-email
      summary: Filter Users by Email
      description: Filter users by company ID, deleted status, and email array
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterByEmailDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchUserSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Search
      security:
      - Agency-Access:
        - users.readonly
    servers:
    - url: https://services.leadconnectorhq.com
components:
  schemas:
    SearchBodyV2DTO:
      type: object
      properties: {}
    ConversationSchema:
      type: object
      properties:
        id:
          type: string
          description: Conversation Id
          example: ABCHkzuJQ8ZMd4Te84GK
        contactId:
          type: string
          description: Contact Id
          example: ABCHkzuJQ8ZMd4Te84GK
        locationId:
          type: string
          description: Location Id
          example: ABCHkzuJQ8ZMd4Te84GK
        lastMessageBody:
          type: string
          description: Content of the most recent message in the conversation
          example: This is a sample message body
        lastMessageType:
          type: string
          description: Channel/type of the most recent message (SMS, Email, Call, etc)
          example: TYPE_SMS
          enum:
          - TYPE_CALL
          - TYPE_SMS
          - TYPE_RCS
          - TYPE_EMAIL
          - TYPE_SMS_REVIEW_REQUEST
          - TYPE_WEBCHAT
          - TYPE_SMS_NO_SHOW_REQUEST
          - TYPE_CAMPAIGN_SMS
          - TYPE_CAMPAIGN_CALL
          - TYPE_CAMPAIGN_EMAIL
          - TYPE_CAMPAIGN_VOICEMAIL
          - TYPE_FACEBOOK
          - TYPE_CAMPAIGN_FACEBOOK
          - TYPE_CAMPAIGN_MANUAL_CALL
          - TYPE_CAMPAIGN_MANUAL_SMS
          - TYPE_GMB
          - TYPE_CAMPAIGN_GMB
          - TYPE_REVIEW
          - TYPE_INSTAGRAM
          - TYPE_WHATSAPP
          - TYPE_CUSTOM_SMS
          - TYPE_CUSTOM_EMAIL
          - TYPE_CUSTOM_PROVIDER_SMS
          - TYPE_CUSTOM_PROVIDER_EMAIL
          - TYPE_IVR_CALL
          - TYPE_ACTIVITY_CONTACT
          - TYPE_ACTIVITY_INVOICE
          - TYPE_ACTIVITY_PAYMENT
          - TYPE_ACTIVITY_OPPORTUNITY
          - TYPE_LIVE_CHAT
          - TYPE_LIVE_CHAT_INFO_MESSAGE
          - TYPE_ACTIVITY_APPOINTMENT
          - TYPE_FACEBOOK_COMMENT
          - TYPE_INSTAGRAM_COMMENT
          - TYPE_CUSTOM_CALL
          - TYPE_INTERNAL_COMMENT
          - TYPE_ACTIVITY_EMPLOYEE_ACTION_LOG
          - TYPE_TIKTOK
          - TYPE_TIKTOK_COMMENT
          - TYPE_ACTIVITY_WHATSAPP
          - TYPE_FORM_SUBMISSION
          - TYPE_SMS_REACTION
        type:
          type: string
          description: Primary channel/type of the conversation (Phone, Email, etc)
          example: TYPE_PHONE
          enum:
          - TYPE_PHONE
          - TYPE_EMAIL
          - TYPE_FB_MESSENGER
          - TYPE_REVIEW
          - TYPE_GROUP_SMS
        unreadCount:
          type: number
          description: Number of unread messages in this conversation
          example: 1
        fullName:
          type: string
          description: Complete name of the contact (first and last name)
          example: John Doe
        contactName:
          type: string
          description: Alternative display name for the contact - used when full name is not available
          example: John Doe Company
        email:
          type: string
          description: Primary email address of the contact
          example: johndoe@mailingdomain.com
        phone:
          type: string
          description: Primary phone number of the contact
          example: '+15550001234'
      required:
      - id
      - contactId
      - locationId
      - lastMessageBody
      - lastMessageType
      - type
      - unreadCount
      - fullName
      - contactName
      - email
      - phone
    SendConversationResponseDto:
      type: object
      properties:
        conversations:
          description: The list of all conversations found for the given query
          type: array
          items:
            $ref: '#/components/schemas/ConversationSchema'
        total:
          type: number
          description: Total Number of results found for the given query
          example: 100
      required:
      - conversations
      - total
    StartAfterArrayNumberSchema:
      type: object
      properties:
        startAfterDate:
          description: Search to begin after the specified date - should contain the sort value of the last document
          example:
          - 1600854
          - 1600851
          type: array
          items:
            type: string
    StartAfterNumberSchema:
      type: object
      properties:
        startAfterDate:
          type: number
          description: Search to begin after the specified date - should contain the sort value of the last document
          example: 1600854
    SocialSchema:
      type: object
      properties:
        facebookUrl:
          type: string
          description: Facebook URL
          example: https://www.facebook.com/
        googlePlus:
          type: string
          description: Googleplus URL
          example: https://www.googleplus.com/
        linkedIn:
          type: string
          description: LinkedIn URL
          example: https://www.linkedIn.com/
        foursquare:
          type: string
          description: Foursquare URL
          example: https://www.foursquare.com/
        twitter:
          type: string
          description: Twitter URL
          example: https://www.foutwitterrsquare.com/
        yelp:
          type: string
          description: Yelp URL
          example: https://www.yelp.com/
        instagram:
          type: string
          description: Instagram URL
          example: https://www.instagram.com/
        youtube:
          type: string
          description: Instagram URL
          example: https://www.youtube.com/
        pinterest:
          type: string
          description: Instagram URL
          example: https://www.pinterest.com/
        blogRss:
          type: string
          description: Instagram URL
          example: https://www.blogRss.com/
        googlePlacesId:
          type: string
          description: Google Business Places ID
          example: ChIJJGPdVbQTrjsRGUkefteUeFk
    SearchSuccessfulResponseDto:
      type: object
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/GetLocationSchema'
    GetLocationSchema:
      type: object
      properties:
        id:
          type: string
          description: Location Id
          example: ve9EPM428h8vShlRW1KT
        name:
          type: string
          example: Mark Shoes
          description: The name for the sub-account/location
        phone:
          type: string
          example: '+1410039940'
          description: The phone number of the business for which sub-account is created
        email:
          type: string
          example: john.doe@mail.com
          description: The email for the sub-account/location
        address:
          type: string
          example: 4th fleet street
          description: The address of the business for which sub-account is created
        city:
          type: string
          example: New York
          description: The city where the business is located for which sub-account is created
        state:
          type: string
          example: Illinois
          description: The state in which the business operates for which sub-account is created
        country:
          type: string
          example: US
          description: The country in which the business is present for which sub-account is created
        postalCode:
          type: string
          example: '567654'
          description: The postal code of the business for which sub-account is created
        website:
          type: string
          example: https://yourwebsite.com
          description: The website of the business for which sub-account is created
        timezone:
          type: string
          example: US/Central
          description: The timezone of the business for which sub-account is created
        settings:
          description: The default settings for location
          allOf:
          - $ref: '#/components/schemas/SettingsSchema'
        social:
          description: The social media links for location
          allOf:
          - $ref: '#/components/schemas/SocialSchema'
    SettingsSchema:
      type: object
      properties:
        allowDuplicateContact:
          type: boolean
          example: false
        allowDuplicateOpportunity:
          type: boolean
          example: false
        allowFacebookNameMerge:
          type: boolean
          example: false
        disableContactTimezone:
          type: boolean
          example: false
    OpportunitySearchBodyDTO:
      type: object
      properties:
        locationId:
          type: string
          description: Location Id
          example: i2SpAtBVHSVea1sL6oah
        query:
          type: string
        limit:
          type: number
        page:
          type: number
        searchAfter:
          type: array
          items:
            type: string
        additionalDetails:
          $ref: '#/components/schemas/AdditionalDetailsDTO'
      required:
      - locationId
      - query
      - limit
      - page
      - searchAfter
      - additionalDetails
    SearchOpportunitiesResponseSchema:
      type: object
      properties:
        id:
          type: string
          example: yWQobCRIhRguQtD2llvk
        name:
          type: string
          example: testing
        monetaryValue:
          type: number
          example: 500
        pipelineId:
          type: string
          example: VDm7RPYC2GLUvdpKmBfC
        pipelineStageId:
          type: string
          example: e93ba61a-53b3-45e7-985a-c7732dbcdb69
        assignedTo:
          type: string
          example: zT46WSCPbudrq4zhWMk6
        status:
          type: string
          example: open
        source:
          type: string
          example: ''
        lastStatusChangeAt:
          type: string
          example: '2021-08-03T04:55:17.355Z'
        lastStageChangeAt:
          type: string
          example: '2021-08-03T04:55:17.355Z'
        lastActionDate:
          type: string
          example: '2021-08-03T04:55:17.355Z'
        indexVersion:
          type: string
          example: 1
        createdAt:
          type: string
          example: '2021-08-03T04:55:17.355Z'
        updatedAt:
          type: string
          example: '2021-08-03T04:55:17.355Z'
        contactId:
          type: string
          example: zT46WSCPbudrq4zhWMk6
        locationId:
          type: string
          example: zT46WSCPbudrq4zhW
        contact:
          $ref: '#/components/schemas/SearchOpportunitiesContactResponseSchema'
        notes:
          type: array
          items:
            type: array
        tasks:
          type: array
          items:
            type: array
        calendarEvents:
          type: array
          items:
            type: array
        lostReasonId:
          type: string
          example: zT46WSCPbudrq4zhWMk6
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldResponseSchema'
        followers:
          type: array
          items:
            type: array
        externalObjectId:
          type: string
    SearchSuccessfulResponseDto_2:
      type: object
      properties:
        opportunities:
          type: array
          items:
            $ref: '#/components/schemas/SearchOpportunitiesResponseSchema'
        meta:
          $ref: '#/components/schemas/SearchMetaResponseSchema'
        aggregations:
          type: object
    PostSearchSuccessfulResponseDto:
      type: object
      properties:
        opportunities:
          type: array
          items:
            $ref: '#/components/schemas/SearchOpportunitiesResponseSchema'
        total:
          type: number
          example: 100
        aggregations:
          type: object
      required:
      - total
    CustomFieldResponseSchema:
      type: object
      properties:
        id:
          type: string
          example: MgobCB14YMVKuE4Ka8p1
        fieldValue:
          description: The value of the custom field
          oneOf:
          - type: string
          - type: object
          - type: array
            items:
              type: string
          - type: array
            items:
              type: object
      required:
      - id
      - fieldValue
    SearchMetaResponseSchema:
      type: object
      properties:
        total:
          type: number
          example: 1
        nextPageUrl:
          type: string
          example: http://localhost:5066/opportunities/search?q=&location_id=ve9EPM428h8vShlRW1KT&pipeline_id=&pipeline_stage_id=&status=&assigned_to+=&campaignId=&id=&order=&endDate=&startAfter=1625203104328&startAfterId=yWQobCRIhRguQtD2llvk&date=&limit=1&country=&page=1
        startAfterId:
          type: string
          example: yWQobCRIhRguQtD2llvk
        startAfter:
          type: number
          example: 1625203104328
        currentPage:
          type: number
          example: 2
        nextPage:
          type: number
          example: 3
        prevPage:
          type: number
          example: 1
    AdditionalDetailsDTO:
      type: object
      properties:
        notes:
          type: boolean
        tasks:
          type: boolean
        calendarEvents:
          type: boolean
        unReadConversations:
          type: boolean
      required:
      - notes
      - tasks
      - calendarEvents
      - unReadConversations
    SearchOpportunitiesContactResponseSchema:
      type: object
      properties:
        id:
          type: string
          example: byMEV0NQinDhq8ZfiOi2
        name:
          type: string
          example: John Deo
        companyName:
          type: string
          example: Tesla Inc
        email:
          type: string
          example: john@deo.com
        phone:
          type: string
          example: +1202-555-0107
        tags:
          type: array
          items:
            type: string
    FilterByEmailDto:
      type: object
      properties:
        companyId:
          type: string
          example: 5DP41231LkQsiKESj6rh
          description: Company ID to filter users
        emails:
          type: string
          example: user1@example.com,user2@example.com
          description: Comma-separated list of email addresses to filter users
        deleted:
          type: boolean
          example: false
          description: Filter deleted users
          default: false
        skip:
          type: string
          example: '1'
          default: '0'
          description: No of results to be skipped before returning the result
        limit:
          type: string
          example: '10'
          default: '25'
          description: No of results to be limited before returning the result
        projection:
          type: string
          example: all
          description: Projection fields to return. Use "all" for all fields, or specify comma-separated field names. Default returns only id and email
      required:
      - companyId
      - emails
    RoleSchema:
      type: object
      properties:
        type:
          type: string
          example: account
        role:
          type: string
          example: admin
        locationIds:
          example:
          - ve9EPM428h8vShlRW1KT
          type: array
          items:
            type: string
        restrictSubAccount:
          type: boolean
          example: true
    UserSchema:
      type: object
      properties:
        id:
          type: string
          example: 0IHuJvc2ofPAAA8GzTRi
        name:
          type: string
          example: John Deo
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Deo
        email:
          type: string
          example: john@deo.com
        phone:
          type: string
          example: +1 808-868-8888
        extension:
          type: string
          example: ''
        permissions:
          $ref: '#/components/schemas/PermissionsDto'
        scopes:
          type: string
          enum:
          - campaigns.readonly
          - campaigns.write
          - calendars.readonly
          - calendars/events.write
          - calendars/groups.write
          - calendars.write
          - contacts.write
          - contacts/bulkActions.write
          - workflows.readonly
          - workflows.write
          - triggers.write
          - funnels.write
          - forms.write
          - surveys.write
          - quizzes.write
          - websites.write
          - medias.write
          - medias.readonly
          - opportunities.write
          - opportunities/leadValue.readonly
          - opportunities/bulkActions.write
          - reporting/phone.readonly
          - reporting/adwords.readonly
          - reporting/facebookAds.readonly
          - reporting/attributions.readonly
          - prospecting/auditReport.write
          - reporting/reports.readonly
          - reporting/agent.readonly
          - reporting/reports.write
          - reporting/stats.export
          - payments.write
          - payments/records.write
          - payments/orders.readonly
          - payments/orders.export
          - payments/orders.import
          - payments/orders.collectPayment
          - payments/subscriptions.readonly
          - payments/subscriptions.write
          - payments/subscriptions.update
          - payments/subscriptions.export
          - payments/subscriptions.pauseResumeCancel
          - payments/subscriptions.sharePaymentMethod
          - payments/transactions.readonly
          - payments/transactions.export
          - payments/transactions.import
          - payments/transactions.refund
          - payments/transactions.viewReceipts
          - payments/taxesSettings.readonly
          - payments/settings.readonly
          - payments/taxesSettings.updateInclusiveExclusive
          - payments/taxesSettings.manageRates
          - payments/taxesSettings.configureAutomatic
          - products.readonly
          - products.write
          - products.delete
          - products.duplicate
          - products.bulkActions
          - payments/settings.write
          - payments/settings.configureReceipt
          - payments/settings.configureSubscription
          - invoices.write
          - invoices.readonly
          - invoices/schedule.readonly
          - invoices/schedule.write
          - invoices/template.readonly
          - invoices/template.write
          - reputation/review.write
          - reputation/listing.write
          - reputation/reviewsAIAgents.write
          - reputation/gbp.write
          - conversations.write
          - conversations.readonly
          - conversations/message.readonly
          - conversations/message.write
          - contentAI.write
          - dashboard/stats.readonly
          - locations/tags.write
          - locations/tags.readonly
          - marketing.write
          - eliza.write
          - settings.write
          - socialplanner/post.write
          - socialplanner/account.readonly
          - socialplanner/account.write
          - socialplanner/category.readonly
          - socialplanner/category.write
          - socialplanner/csv.readonly
          - socialplanner/csv.write
          - socialplanner/group.write
          - socialplanner/hashtag.readonly
          - socialplanner/hashtag.write
          - socialplanner/oauth.readonly
          - socialplanner/oauth.write
          - socialplanner/post.readonly
          - socialplanner/recurring.readonly
          - socialplanner/recurring.write
          - socialplanner/review.readonly
          - socialplanner/review.write
          - socialplanner/rss.readonly
          - socialplanner/rss.write
          - socialplanner/search.readonly
          - socialplanner/setting.readonly
          - socialplanner/setting.write
          - socialplanner/stat.readonly
          - socialplanner/tag.readonly
          - socialplanner/tag.write
          - socialplanner/filters.readonly
          - socialplanner/medias.readonly
          - socialplanner/medias.write
          - socialplanner/watermarks.readonly
          - socialplanner/watermarks.write
          - socialplanner/metatag.readonly
          - socialplanner/facebook.readonly
          - socialplanner/linkedin.readonly
          - socialplanner/twitter.readonly
          - socialplanner/notification.readonly
          - socialplanner/notification.write
          - socialplanner/snapshot.readonly
          - socialplanner/snapshot.write
          - marketing/affiliate.write
          - blogs.write
          - membership.write
          - communities.write
          - gokollab.write
          - certificates.write
          - certificates.readonly
          - adPublishing.write
          - adPublishing.readonly
          - prospecting.write
          - prospecting.readonly
          - prospecting/reports.readonly
          - private-integration-location.readonly
          - private-integration-location.write
          - private-integration-company.readonly
          - private-integration-company.write
          - native-integrations.readonly
          - native-integrations.write
          - wordpress.write
          - wordpress.read
          - custom-menu-link.write
          - qrcodes.write
          - users/team-management.write
          - users/team-management.readonly
          - loginas.write
          - users-sso-login-management.write
          - users-sso-login-management.readonly
          - sso-config.write
          - snapshots/api.readonly
          - snapshots/api.create
          - snapshots/api.edit
          - snapshots/api.push
          - snapshots/api.refresh
          - snapshots/api.share
          - snapshots/api.delete
          - internaltools.location-transfer.write
          - internaltools.location-transfer.readonly
          - affiliateportal.write
          - affiliateportal.readonly
          - companies.write
          - internaltools.billing.write
          - internaltools.billing.readonly
          - internaltools.billing-common.readonly
          - internaltools.billing-common.write
          - voice-ai-agents.write
          - voice-ai-agents.readonly
          - voice-ai-common.readonly
          - voice-ai-common.write
          - voice-ai-agent-goals.readonly
          - voice-ai-agent-goals.write
          - voice-ai-dashboard.readonly
          - agency/launchpad.write
          - agency/launchpad.readonly
          - launchpad/location.write
          - launchpad/location.readonly
          - text-ai-agents.write
          - text-ai-agent-goals.readonly
          - text-ai-agent-goals.write
          - text-ai-agent-training.write
          - text-ai-agents-dashboard.readonly
          - locations.create
          - locations.delete
          - locations.export.list
          - locations.features-limits.manage
          - locations.pause-resume
          - locations.agency-subaccounts.manage
          - locations.billing.manage
          - locations.details.manage
          - audit-logs.readonly
          - audit-logs.export
        roles:
          $ref: '#/components/schemas/RoleSchema'
        deleted:
          type: boolean
          example: false
        lcPhone:
          type: object
          example:
            locationId: '+1234556677'
          description: LC Phone Inbound Phone Numbers
        platformLanguage:
          type: string
          example: en_US
          description: Platform language preference for the user
          enum:
          - en_US
          - es
          - fr_CA
          - fr_FR
          - nl
          - de
          - pt_PT
          - pt_BR
          - it
          - sv
          - da
          - fi
          - 'no'
    SearchUserSuccessfulResponseDto:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserSchema'
        count:
          type: number
          example: 1231
    PermissionsDto:
      type: object
      properties:
        campaignsEnabled:
          type: boolean
          example: true
          default: true
        campaignsReadOnly:
          type: boolean
          example: false
          default: false
        contactsEnabled:
          type: boolean
          example: true
          default: true
        workflowsEnabled:
          type: boolean
          example: true
          default: true
        workflowsReadOnly:
          type: boolean
          example: true
          default: false
        triggersEnabled:
          type: boolean
          example: true
          default: true
        funnelsEnabled:
          type: boolean
          example: true
          default: true
        websitesEnabled:
          type: boolean
          example: false
          default: false
        opportunitiesEnabled:
          type: boolean
          example: true
          default: true
        dashboardStatsEnabled:
          type: boolean
          example: true
          default: true
        bulkRequestsEnabled:
          type: boolean
          example: true
          default: true
        appointmentsEnabled:
          type: boolean
          example: true
          default: true
        reviewsEnabled:
          type: boolean
          example: true
          default: true
        onlineListingsEnabled:
          type: boolean
          example: true
          default: true
        phoneCallEnabled:
          type: boolean
          example: true
          default: true
        conversationsEnabled:
          type: boolean
          example: true
          default: true
        assignedDataOnly:
          type: boolean
          example: false
          default: false
        adwordsReportingEnabled:
          type: boolean
          example: false
          default: false
        membershipEnabled:
          type: boolean
          example: false
          default: false
        facebookAdsReportingEnabled:
          type: boolean
          example: false
          default: false
        attributionsReportingEnabled:
          type: boolean
          example: false
          default: false
        settingsEnabled:
          type: boolean
          example: true
          default: true
        tagsEnabled:
          type: boolean
          example: true
          default: true
        leadValueEnabled:
          type: boolean
          example: true
          default: true
        marketingEnabled:
          type: boolean
          example: true
          default: true
        agentReportingEnabled:
          type: boolean
          example: true
          default: true
        botService:
          type: boolean
          example: false
          default: false
        socialPlanner:
          type: boolean
          example: true
          default: true
        bloggingEnabled:
          type: boolean
          example: true
          default: true
        invoiceEnabled:
          type: boolean
          example: true
          default: true
        affiliateManagerEnabled:
          type: boolean
          example: true
          default: true
        contentAiEnabled:
          type: boolean
          example: true
          default: true
        refundsEnabled:
          type: boolean
          example: true
          default: true
        recordPaymentEnabled:
          type: boolean
          example: true
          default: true
        cancelSubscriptionEnabled:
          type: boolean
          example: true
          default: true
        paymentsEnabled:
          type: boolean
          example: true
          default: true
        communitiesEnabled:
          type: boolean
          example: true
          default: true
        exportPaymentsEnabled:
          type: boolean
          example: true
          default: true
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
    Agency-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency.
      type: http
x-refined-from:
- highlevel-contacts-openapi.json
- highlevel-conversations-openapi.json
- highlevel-locations-openapi.json
- highlevel-opportunities-openapi.json
- highlevel-users-openapi.json
x-tagGroups:
  name: Ad Manager
  tags:
  - Facebook Integration
  - Facebook Ads
  - Facebook Reporting
  - Google Integration
  - Google Ads
  - Google Reporting
  - LinkedIn Integration
  - LinkedIn Ads
  - LinkedIn Reporting
  - Reselling
  - Snapshots
