openapi: 3.2.0
info:
  title: Contacts Notes API
  description: Documentation for Contacts API
  version: '1.0'
  contact: {}
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Notes
  description: Documentation for Contacts API
paths:
  /contacts/{contactId}/notes:
    get:
      operationId: get-all-notes
      summary: Get All Notes
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNotesListSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
      tags:
      - Notes
      security:
      - bearer:
        - contacts.readonly
    post:
      operationId: create-note
      summary: Create Note
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotesDTO'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCreateUpdateNoteSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Notes
      security:
      - bearer:
        - contacts.write
  /contacts/{contactId}/notes/{id}:
    get:
      operationId: get-note
      summary: Get Note
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      - name: id
        required: true
        in: path
        description: Note Id
        schema:
          example: ocQHyuzHvysMo5N5VsXc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCreateUpdateNoteSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Notes
      security:
      - bearer:
        - contacts.readonly
    put:
      operationId: update-note
      summary: Update Note
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      - name: id
        required: true
        in: path
        description: Note Id
        schema:
          example: ocQHyuzHvysMo5N5VsXc
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteDTO'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCreateUpdateNoteSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Notes
      security:
      - bearer:
        - contacts.write
    delete:
      operationId: delete-note
      summary: Delete Note
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-07-28'
      - name: contactId
        required: true
        in: path
        description: Contact Id
        schema:
          example: sx6wyHhbFdRXh302LLNR
          type: string
      - name: id
        required: true
        in: path
        description: Note Id
        schema:
          example: ocQHyuzHvysMo5N5VsXc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNoteSuccessfulResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Notes
      security:
      - bearer:
        - contacts.write
components:
  schemas:
    GetNoteSchema:
      type: object
      properties:
        id:
          type: string
          example: HGPcayliwcdoUFzvbTok
        body:
          type: string
          example: lorem ipsum
        userId:
          type: string
          example: TUcmRxWrjqzJS8EjkxNK
        dateAdded:
          type: string
          example: '2021-07-08T12:02:11.285Z'
        contactId:
          type: string
          example: TUcmRxWrjqzJS8EjkxNK
        title:
          type: string
          example: Follow-up summary
        color:
          type: string
          example: '#FFAA00'
        pinned:
          type: boolean
          example: false
    NotesDTO:
      type: object
      properties:
        userId:
          type: string
          example: GCs5KuzPqTls7vWclkEV
        body:
          type: string
          example: lorem ipsum
        title:
          type: string
          example: Follow-up summary
        color:
          type: string
          example: '#FFAA00'
        pinned:
          type: boolean
          example: false
      required:
      - body
    UpdateNoteDTO:
      type: object
      properties:
        userId:
          type: string
          example: GCs5KuzPqTls7vWclkEV
        body:
          type: string
          example: lorem ipsum
        title:
          type: string
          example: Follow-up summary
        color:
          type: string
          example: '#FFAA00'
        pinned:
          type: boolean
          example: false
    GetNotesListSuccessfulResponseDto:
      type: object
      properties:
        notes:
          type: array
          items:
            $ref: '#/components/schemas/GetNoteSchema'
    GetCreateUpdateNoteSuccessfulResponseDto:
      type: object
      properties:
        note:
          $ref: '#/components/schemas/GetNoteSchema'
    DeleteNoteSuccessfulResponseDto:
      type: object
      properties:
        succeded:
          type: boolean
          example: true
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.
      type: http
    Location-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Sub-Account.
      type: http
    Agency-Access:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency (OR) Private Integration Token of Agency.
      type: http
    Agency-Access-Only:
      scheme: bearer
      bearerFormat: JWT
      name: Authorization
      in: header
      description: Use the Access Token generated with user type as Agency.
      type: http
x-tagGroups:
  name: Contacts
  tags:
  - Contacts
  - Tasks
  - Appointments
  - Tags
  - Notes
  - Campaigns
  - Workflow
  - Bulk
  - Search
  - Followers
