openapi: 3.2.0
info:
  title: Highlevel Agents API
  version: '1.0'
  contact: {}
  description: 'Operations tagged Agents across 3 of this provider''s published API definitions: highlevel-agent-studio-openapi.json, highlevel-conversation-ai-openapi.json, highlevel-voice-ai-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://services.leadconnectorhq.com
tags:
- name: Agents
  description: Documentation for Agent Studio APIs
paths:
  /agent-studio/agent:
    post:
      operationId: createAgent
      summary: Create Agent
      description: Creates a new agent with staging version. The agent will be created with an initial staging version that can later be promoted to production.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublicAgentDTO'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePublicAgentResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.write
    get:
      operationId: getAgents
      summary: List Agents
      description: Lists all active agents for the specified location. locationId is required parameter to ensure optimal performance. Supports pagination using limit and offset. Optionally filter by isPublished=true to return only agents with a published production version.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: locationId
        required: true
        in: query
        schema:
          type: string
        example: C2QujeCh8ZnC7al2InWR
      - name: isPublished
        required: false
        in: query
        description: Optional filter to return only agents with a published production version
        schema:
          type: string
        example: 'true'
      - name: limit
        required: true
        in: query
        schema:
          type: string
        example: '20'
      - name: offset
        required: true
        in: query
        schema:
          type: string
        example: '0'
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      responses:
        '200':
          description: Agents retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishedAgentsResponseDTO'
        '400':
          description: Bad Request - locationId is required
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /agent-studio/agent/versions/{versionId}:
    patch:
      operationId: updateAgentVersion
      summary: Update Agent
      description: Updates a specific agent version by versionId. Supports updating nodes, edges, variables, and configuration.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: versionId
        required: true
        in: path
        schema:
          type: string
        example: v1a2b3c4d5e6f7g8h9i0
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePublicAgentVersionDTO'
      responses:
        '200':
          description: Version updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePublicAgentResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '404':
          description: Version not found
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.write
    servers:
    - url: https://services.leadconnectorhq.com
  /agent-studio/agent/{agentId}:
    patch:
      operationId: updateAgentMetadata
      summary: Update Agent Metadata
      description: Updates agent metadata such as name, description, and status.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        schema:
          type: string
        example: p1q2r3s4t5u6v7w8x9y0z1a2
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePublicAgentMetadataDTO'
      responses:
        '200':
          description: Agent metadata updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePublicAgentResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '404':
          description: Agent not found
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.write
    delete:
      operationId: deleteAgent
      summary: Delete Agent
      description: Deletes an agent and all its versions.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        schema:
          type: string
        example: p1q2r3s4t5u6v7w8x9y0z1a2
      - name: locationId
        required: true
        in: query
        schema:
          type: string
        example: C2QujeCh8ZnC7al2InWR
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      responses:
        '200':
          description: Agent deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePublicAgentResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '404':
          description: Agent not found
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.write
    get:
      operationId: getAgentById
      summary: Get Agent
      description: Gets a specific agent by its ID for the specified location with all its versions. Returns complete agent metadata and all non-deleted versions (draft, staging, production). locationId is required parameter. The agent must have active status.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        schema:
          type: string
        example: p1q2r3s4t5u6v7w8x9y0z1a2
      - name: locationId
        required: true
        in: query
        schema:
          type: string
        example: C2QujeCh8ZnC7al2InWR
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      responses:
        '200':
          description: Agent retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAgentByIdResponseDTO'
        '400':
          description: Bad Request - locationId is required
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '404':
          description: Agent not found or not available
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /agent-studio/agent/versions/{versionId}/publish:
    post:
      operationId: promoteAndPublish
      summary: Promote to Production
      description: Promotes a draft version to production.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: versionId
        required: true
        in: path
        schema:
          type: string
        example: v1a2b3c4d5e6f7g8h9i0
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoteAndPublishDTO'
      responses:
        '200':
          description: Version promoted and published successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoteAndPublishResponseDTO'
        '400':
          description: Bad Request - Only draft versions can be promoted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '404':
          description: Version not found
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.write
    servers:
    - url: https://services.leadconnectorhq.com
  /agent-studio/agent/{agentId}/execute:
    post:
      operationId: executeAgent
      summary: Execute Agent
      description: 'Executes the specified agent and returns a non-streaming JSON response with the complete agent output. The agent must be in active status and belong to the specified location. locationId is required in the request body.


        **Session Management:**

        - For the first message in a new session, do not include the `executionId` in the request payload.

        - The API will return an `executionId` along with the agent response, which uniquely identifies this conversation session.

        - To continue the conversation within the same session, include the `executionId` from the previous response in subsequent requests. This allows the agent to maintain conversation context and history across multiple interactions.'
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        schema:
          type: string
        example: p1q2r3s4t5u6v7w8x9y0z1a2
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutePublicAgentDTO'
      responses:
        '200':
          description: Agent executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutePublicAgentResponseDTO'
        '400':
          description: Agent is not active or invalid request - locationId is required
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '403':
          description: User does not have required scopes to execute this agent
        '404':
          description: Agent not found
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.write
    servers:
    - url: https://services.leadconnectorhq.com
  /agent-studio/public-api/agents:
    get:
      operationId: getAgents-deprecated
      summary: List Agents (Deprecated)
      description: '**Deprecated endpoint - use GET /agent instead.**


        Lists all active agents that have a published production version for the specified location. locationId is required parameter. Supports pagination using limit and offset.'
      deprecated: true
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: locationId
        required: true
        in: query
        schema:
          type: string
        example: C2QujeCh8ZnC7al2InWR
      - name: limit
        required: true
        in: query
        schema:
          type: string
        example: '20'
      - name: offset
        required: true
        in: query
        schema:
          type: string
        example: '0'
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      responses:
        '200':
          description: Agents retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishedAgentsResponseDTO'
        '400':
          description: Bad Request - locationId is required
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /agent-studio/public-api/agents/{agentId}:
    get:
      operationId: getAgentById-deprecated
      summary: Get Agent (Deprecated)
      description: '**Deprecated endpoint - use GET /agent/:agentId instead.**


        Gets a specific agent by its ID for the specified location with all its versions. locationId is required parameter. The agent must have active status.'
      deprecated: true
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        schema:
          type: string
        example: p1q2r3s4t5u6v7w8x9y0z1a2
      - name: locationId
        required: true
        in: query
        schema:
          type: string
        example: C2QujeCh8ZnC7al2InWR
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      responses:
        '200':
          description: Agent retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAgentByIdResponseDTO'
        '400':
          description: Bad Request - locationId is required
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '404':
          description: Agent not found or not available
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /agent-studio/public-api/agents/{agentId}/execute:
    post:
      operationId: executeAgent-deprecated
      summary: Execute Agent (Deprecated)
      description: '**Deprecated endpoint - use POST /agent/:agentId/execute instead.**


        Executes the specified agent and returns a non-streaming JSON response with the complete agent output. The agent must be in active status and belong to the specified location. locationId is required in the request body.


        **Session Management:**

        - For the first message in a new session, do not include the `executionId` in the request payload.

        - The API will return an `executionId` along with the agent response, which uniquely identifies this conversation session.

        - To continue the conversation within the same session, include the `executionId` from the previous response in subsequent requests.'
      deprecated: true
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        schema:
          type: string
        example: p1q2r3s4t5u6v7w8x9y0z1a2
      - name: source
        required: false
        in: query
        schema:
          type: string
        example: api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutePublicAgentDTO'
      responses:
        '200':
          description: Agent executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutePublicAgentResponseDTO'
        '400':
          description: Agent is not active or invalid request - locationId is required
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '403':
          description: User does not have required scopes to execute this agent
        '404':
          description: Agent not found
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorDTO'
      tags:
      - Agents
      security:
      - Location-Access:
        - agent-studio.write
    servers:
    - url: https://services.leadconnectorhq.com
  /conversation-ai/agents:
    post:
      operationId: create-agent
      summary: Create an Agent
      description: Creates a new AI agent for the location. The agent will be created with the specified configuration including name, role, actions, and behavior settings.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmployeeDto'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - conversation-ai.write
      tags:
      - Agents
    servers:
    - url: https://services.leadconnectorhq.com
  /conversation-ai/agents/search:
    get:
      operationId: search-agent
      summary: Search Agents
      description: Searches for AI agents based on various criteria including name, status, and configuration. Supports advanced filtering and full-text search capabilities.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: startAfter
        required: false
        in: query
        description: Start after is the agent id to start after, Serving as skip, send empty when first page
        schema:
          example: Exampleee123
          type: string
      - name: limit
        required: false
        in: query
        description: Records per page
        schema:
          example: 1
          type: number
      - name: query
        required: false
        in: query
        description: query to search on agent name, must be provided in lowercase
        schema:
          example: booking
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEmployeeResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - conversation-ai.readonly
      tags:
      - Agents
    servers:
    - url: https://services.leadconnectorhq.com
  /conversation-ai/agents/{agentId}:
    put:
      operationId: update-agent
      summary: Update Agent
      description: Updates an existing AI agent's configuration. All fields in the agent configuration can be updated including name, status, actions, and behavior settings.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        description: Conversations AI agent id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeDto'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - conversation-ai.write
      tags:
      - Agents
    get:
      operationId: get-agent
      summary: Get Agent
      description: Retrieves a specific AI agent by its ID. Returns the complete agent configuration including name, status, actions, and settings.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        description: Conversations AI agent id
        schema:
          example: EmployeeId123
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - conversation-ai.readonly
      tags:
      - Agents
    delete:
      operationId: delete-agent
      summary: Delete Agent
      description: Deletes an AI agent permanently. This action cannot be undone. All associated configurations and conversation history will be removed.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        description: Conversations AI agent id
        schema:
          example: EmployeeId123
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteEmployeeResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      security:
      - bearer:
        - conversation-ai.write
      tags:
      - Agents
    servers:
    - url: https://services.leadconnectorhq.com
  /voice-ai/agents:
    post:
      operationId: create-agent
      summary: Create Agent
      description: Create a new voice AI agent configuration and settings
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentCreationRequestDTO'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAgentResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Agents
      security:
      - bearer:
        - voice-ai-agents.write
    get:
      operationId: get-agents
      summary: List Agents
      description: Retrieve a paginated list of agents for given location.
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: page
        required: false
        in: query
        description: Page number starting from 1
        schema:
          minimum: 1
          maximum: 5000
          default: 1
          example: 1
          type: number
      - name: pageSize
        required: false
        in: query
        description: Number of items per page
        schema:
          minimum: 1
          maximum: 50
          default: 10
          example: 10
          type: number
      - name: locationId
        required: true
        in: query
        description: Location ID
        schema:
          type: string
      - name: query
        required: false
        in: query
        description: Query
        schema:
          type: string
      responses:
        '200':
          description: Agent list retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAgentsResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Agents
      security:
      - bearer:
        - voice-ai-agents.readonly
    servers:
    - url: https://services.leadconnectorhq.com
  /voice-ai/agents/{agentId}:
    patch:
      operationId: patch-agent
      summary: Patch Agent
      description: Partially update an existing voice AI agent
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        description: Unique agent identifier
        schema:
          example: 507f1f77bcf86cd799439011
          type: string
      - name: locationId
        required: true
        in: query
        description: Location ID
        schema:
          example: LOC123456789ABCDEF
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAgentDTO'
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAgentResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Agents
      security:
      - bearer:
        - voice-ai-agents.write
    get:
      operationId: get-agent
      summary: Get Agent
      description: Retrieve detailed configuration and settings for a specific voice AI agent
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        description: Unique agent identifier
        schema:
          example: 507f1f77bcf86cd799439011
          type: string
      - name: locationId
        required: true
        in: query
        description: Location ID
        schema:
          example: LOC123456789ABCDEF
          type: string
      responses:
        '200':
          description: Agent details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAgentResponseDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Agents
      security:
      - bearer:
        - voice-ai-agents.readonly
    delete:
      operationId: delete-agent
      summary: Delete Agent
      description: Delete a voice AI agent and all its configurations
      parameters:
      - name: Version
        in: header
        description: API Version
        required: true
        schema:
          type: string
          enum:
          - '2021-04-15'
      - name: agentId
        required: true
        in: path
        description: Unique agent identifier
        schema:
          example: 507f1f77bcf86cd799439011
          type: string
      - name: locationId
        required: true
        in: query
        description: Location ID
        schema:
          example: LOC123456789ABCDEF
          type: string
      responses:
        '204':
          description: Agent deleted successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/BadRequestDTO
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnauthorizedDTO
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: ../common/common-schemas.json#/components/schemas/UnprocessableDTO
      tags:
      - Agents
      security:
      - bearer:
        - voice-ai-agents.write
    servers:
    - url: https://services.leadconnectorhq.com
components:
  schemas:
    ExecutePublicAgentDTO:
      type: object
      properties:
        message:
          type: string
          description: Message to send to the agent
          example: How can you help me with my marketing?
        executionId:
          type: string
          description: Unique session identifier that maintains conversational context across multiple interactions within the same agent session. Omit this field for the first message in a new session. Include the executionId returned from the previous response to maintain context in subsequent messages.
          example: a1b2c3d4e5f6g7h8i9j0k1l2
        inputVariables:
          type: object
          description: Input variables to pass to the agent. These should match the input variables defined in the agent configuration.
          example:
            customerName: John Doe
            orderNumber: ORD-12345
        versionId:
          type: string
          description: Published version ID to execute. If not provided, the latest published production version will be used.
          example: b2b1c1d2-3e4f-5a6b-7c8d-9e0f1a2b3c4d
        attachments:
          description: Attachments for the message
          type: array
          items:
            $ref: '#/components/schemas/PublicAttachmentSchema'
        locationId:
          type: string
          description: Location ID
          example: C2QujeCh8ZnC7al2InWR
        contactId:
          type: string
          description: Contact ID to associate with this execution. When provided, contact data will be hydrated and made available to the agent.
          example: cid_abc123def456
      required:
      - message
      - locationId
    GetAgentByIdResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success status
          example: true
        message:
          type: string
          description: Response message
          example: Agent retrieved successfully
        agent:
          type: object
          description: Agent metadata with all active versions
          example:
            id: d6a6792d-0d50-4e8f-9c3b-ecd8096d0bdd
            agentId: AgfS2JXWsSN8aXb5c4d2
            name: Customer Support Agent
            description: AI agent for customer support
            agencyId: 5DP4iH6HLkQsiKESj6rh
            locationId: C2QujeCh8ZnC7al2InWR
            productSlug: agent_studio
            productId: agent_studio
            authorId: usr_123
            status: active
            folderId: vEoIigWSAw1BQA9DEchD
            folderName: Default Agents
            createdAt: '2026-03-06T10:37:01.013Z'
            updatedAt: '2026-03-06T10:37:01.014Z'
            deleted: false
            productionVersion:
              versionId: Ver1K8sSF2nC7al5InWz
              versionName: Content Creation Agent v1
              isPublished: true
              inputVariables: []
              updatedAt: '2026-03-02T06:53:40.570Z'
            versions:
            - id: 3f9d9ab7-5ca4-4e64-8472-eab9e77a0fe3
              versionId: Ver1K8sSF2nC7al5InWz
              agentId: AgfS2JXWsSN8aXb5c4d2
              agencyId: 5DP4iH6HLkQsiKESj6rh
              locationId: C2QujeCh8ZnC7al2InWR
              versionName: v1
              description: AI agent for customer support
              state: staging
              isPublished: false
              scopes: []
              nodes: []
              edges: []
              uiNodes: []
              uiEdges: []
              globalVariables: []
              inputVariables: []
              runtimeVariables: []
              viewport:
                x: 0
                y: 0
                zoom: 1
              globalConfig: {}
              createdAt: '2026-03-06T10:37:01.079Z'
              updatedAt: '2026-03-06T10:37:01.079Z'
              deleted: false
              storedInBucket: true
              bucketFilePath: agent-definitions/5DP4iH6HLkQsiKESj6rh/vEoIigWSAw1BQA9DEchD/d6a6792d-0d50-4e8f-9c3b-ecd8096d0bdd/3f9d9ab7-5ca4-4e64-8472-eab9e77a0fe3.json
        traceId:
          type: string
          description: Request trace ID for debugging
          example: 22dbda99-13d3-4b4d-a30e-c468334e2178
      required:
      - success
      - message
      - agent
    ExecutePublicAgentResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success status
          example: true
        executionId:
          type: string
          description: Unique session identifier that maintains conversational context across multiple interactions within the same agent session. Use this ID in subsequent requests to continue the conversation.
          example: a1b2c3d4e5f6g7h8i9j0k1l2
        interactionId:
          type: string
          description: Unique identifier for a single interaction cycle, consisting of one user input and the corresponding agent response. Each message exchange generates a new interactionId.
          example: m9n8o7p6q5r4s3t2u1v0w9x8
        response:
          type: string
          description: Agent response text
          example: I can help you with various tasks...
        type:
          type: string
          description: Response type
          example: text
        nextExpectedInput:
          type: string
          description: Expected input type for next interaction
          example: text
        goalCompletion:
          type: boolean
          description: When end node is added in the graph, this will be true if the agent reached the end node in the graph
          example: false
        executionStatus:
          type: string
          description: Execution status
          example: completed
        flowSwitch:
          type: boolean
          description: Whether flow was switched
          example: false
        attachments:
          type: array
          description: Response attachments
          example: []
        generativeOutputs:
          type: array
          description: Generated outputs
          example: []
      required:
      - success
      - executionId
      - interactionId
      - response
      - type
      - nextExpectedInput
      - goalCompletion
      - executionStatus
      - flowSwitch
      - attachments
      - generativeOutputs
    PromoteAndPublishDTO:
      type: object
      properties:
        locationId:
          type: string
          description: Location ID for authorization
          example: C2QujeCh8ZnC7al2InWR
        userId:
          type: string
          description: User ID performing the promotion action
          example: usr_abc123def456
        userName:
          type: string
          description: User name performing the promotion action
          example: John Doe
        userEmail:
          type: string
          description: User email performing the promotion action
          example: john.doe@example.com
      required:
      - locationId
    GetPublishedAgentsResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success status
          example: true
        message:
          type: string
          description: Response message
          example: Agents retrieved successfully
        agents:
          type: array
          description: List of agents with metadata
          example:
          - agentId: p1q2r3s4t5u6v7w8x9y0z1a2
            name: Marketing Assistant
            description: AI agent specialized in marketing strategy and content creation
            locationId: C2QujeCh8ZnC7al2InWR
            status: active
            createdAt: '2024-01-15T10:30:00.000Z'
            updatedAt: '2024-02-20T14:45:00.000Z'
          - agentId: b3c4d5e6f7g8h9i0j1k2l3m4
            name: Customer Support Bot
            description: AI agent for handling customer inquiries and support tickets
            locationId: C2QujeCh8ZnC7al2InWR
            status: active
            createdAt: '2024-01-10T09:15:00.000Z'
            updatedAt: '2024-02-18T16:20:00.000Z'
          items:
            type: object
            properties:
              agentId:
                type: string
                description: Agent ID
              name:
                type: string
                description: Agent name
              description:
                type: string
                description: Agent description
              locationId:
                type: string
                description: Location ID
              status:
                type: string
                description: Agent status (always "active")
              createdAt:
                type: string
                description: Creation timestamp
              updatedAt:
                type: string
                description: Last update timestamp
        pagination:
          type: object
          description: Pagination metadata
          example:
            total: 25
            limit: 20
            offset: 0
            hasMore: true
          properties:
            total:
              type: number
              description: Total number of agents
            limit:
              type: number
              description: Number of agents per page
            offset:
              type: number
              description: Starting position
            hasMore:
              type: boolean
              description: Whether more agents exist
      required:
      - success
      - message
      - agents
      - pagination
    UpdatePublicAgentVersionDTO:
      type: object
      properties:
        locationId:
          type: string
          description: Location ID for authorization
          example: C2QujeCh8ZnC7al2InWR
        versionName:
          type: string
          description: Version name
          example: Customer Support Agent v2
        description:
          type: string
          description: Description of the version
          example: Updated version with improved customer handling logic
        nodes:
          description: Complete array of nodes for the agent workflow. Provide all nodes including unchanged ones.
          example:
          - nodeId: node_1
            nodeName: Start
            type: start
            isStartNode: true
          - nodeId: node_2
            nodeName: LLM Node
            type: llm
            nodeConfig:
              prompt: How can I help you?
              llmProvider: openai
              llmModel: gpt-4
          type: array
          items:
            type: object
        edges:
          description: Complete array of edges connecting the nodes. Provide all edges including unchanged ones.
          example:
          - startNode: node_1
            endNode: node_2
          type: array
          items:
            type: object
        globalVariables:
          description: Global variables accessible throughout the agent workflow
          example:
          - key: apiKey
            type: string
            value: your-api-key
          type: array
          items:
            type: object
        inputVariables:
          description: Input variables required from user at execution time
          example:
          - key: customerName
            type: string
            description: Customer name for personalization
          type: array
          items:
            type: object
        runtimeVariables:
          description: Runtime variables generated during agent execution
          example:
          - key: sessionId
            type: string
            description: Current session identifier
          type: array
          items:
            type: object
        globalConfig:
          type: object
          description: Global configuration including prompts and settings
          example:
            globalPrompt:
              currentPrompt: You are a helpful customer support assistant.
              history: []
        userId:
          type: string
          description: User ID performing the update
          example: usr_abc123def456
        userName:
          type: string
          description: User name performing the update
          example: John Doe
      required:
      - locationId
    PublicAttachmentSchema:
      type: object
      properties:
        type:
          type: string
          description: Type of attachment
          example: image
        imageUrl:
          type: string
          description: URL of the image attachment
          example: https://example.com/image.png
      required:
      - type
      - imageUrl
    DeletePublicAgentResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success status
          example: true
        message:
          type: string
          description: Response message
          example: Agent deleted successfully
        agentId:
          type: string
          description: Deleted agent ID
          example: p1q2r3s4t5u6v7w8x9y0z1a2
      required:
      - success
      - message
    InternalServerErrorDTO:
      type: object
      properties:
        statusCode:
          type: number
          example: 500
        message:
          type: string
          example: Internal Server Error
    CreatePublicAgentDTO:
      type: object
      properties:
        locationId:
          type: string
          description: Location ID
          example: C2QujeCh8ZnC7al2InWR
        name:
          type: string
          description: Name of the agent
          example: Customer Support Agent
        description:
          type: string
          description: Description of the agent
          example: AI agent specialized in handling customer inquiries and support tickets
        agencyId:
          type: string
          description: Agency ID
          example: gjL2sFNXJfJYa3d2OYSN
        authorId:
          type: string
          description: Author ID
          example: usr_abc123def456
        authorName:
          type: string
          description: Author name
          example: John Doe
        authorEmail:
          type: string
          description: Author email
          example: john@example.com
        status:
          type: string
          description: Status of the agent
          enum:
          - active
          - inactive
          - archived
          example: active
        version:
          type: object
          description: Version data for the agent including nodes, edges, and configuration
          example:
            versionName: Version 1
            description: Initial version
            nodes: []
            edges: []
            uiNodes: []
            uiEdges: []
            globalVariables: []
            inputVariables: []
            runtimeVariables: []
            scopes: []
        nodes:
          description: Nodes array (deprecated, prefer using version.nodes)
          example: []
          type: array
          items:
            type: string
        edges:
          description: Edges array (deprecated, prefer using version.edges)
          example: []
          type: array
          items:
            type: string
      required:
      - locationId
      - status
      - version
    UpdatePublicAgentMetadataDTO:
      type: object
      properties:
        locationId:
          type: string
          description: Location ID for authorization (cannot be updated)
          example: C2QujeCh8ZnC7al2InWR
        name:
          type: string
          description: Name of the agent
          example: Updated Customer Support Agent
        description:
          type: string
          description: Description of the agent
          example: Updated AI agent with enhanced customer support capabilities
        status:
          type: string
          description: Status of the agent
          example: active
          enum:
          - active
          - inactive
          - archived
      required:
      - locationId
    UpdatePublicAgentResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success status
          example: true
        message:
          type: string
          description: Response message
          example: Agent updated successfully
        data:
          type: object
          description: Updated agent or version data
          example:
            agentId: p1q2r3s4t5u6v7w8x9y0z1a2
            versionId: v1a2b3c4d5e6f7g8h9i0
            name: Updated Customer Support Agent
            description: Updated AI agent with enhanced customer support capabilities
            status: active
            updatedAt: '2024-02-27T11:45:00.000Z'
      required:
      - success
      - message
      - data
    PromoteAndPublishResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success status
          example: true
        message:
          type: string
          description: Response message
          example: Draft published to production successfully. New draft version created for future edits.
        data:
          type: object
          description: Result data with production and new draft version details
          example:
            productionVersion:
              versionId: v1a2b3c4d5e6f7g8h9i0
              agentId: p1q2r3s4t5u6v7w8x9y0z1a2
              versionName: Customer Support Agent v2
              state: prod
              isPublished: true
              version: 2
              publishedAt: '2024-02-27T12:00:00.000Z'
              publishedBy: usr_abc123def456
              publishedByName: John Doe
              publishedByEmail: john.doe@example.com
            newDraftVersion:
              versionId: v2b3c4d5e6f7g8h9i0j1
              agentId: p1q2r3s4t5u6v7w8x9y0z1a2
              versionName: Customer Support Agent v3
              state: draft
              isPublished: false
              version: 3
              createdAt: '2024-02-27T12:00:00.000Z'
      required:
      - success
      - message
      - data
    CreatePublicAgentResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          description: Success status
          example: true
        message:
          type: string
          description: Response message
          example: Agent created successfully with staging version.
        agent:
          type: object
          description: Created agent data with metadata
          example:
            agentId: p1q2r3s4t5u6v7w8x9y0z1a2
            name: Customer Support Agent
            description: AI agent specialized in handling customer inquiries and support tickets
            locationId: C2QujeCh8ZnC7al2InWR
            agencyId: gjL2sFNXJfJYa3d2OYSN
            status: active
            authorId: usr_abc123def456
            folderId: C2QujeCh8ZnC7al2InWR
            folderName: null
            createdAt: '2024-02-27T10:30:00.000Z'
            updatedAt: '2024-02-27T10:30:00.000Z'
        versions:
          type: array
          description: Created versions array (initial staging version)
          example:
          - versionId: v1a2b3c4d5e6f7g8h9i0
            agentId: p1q2r3s4t5u6v7w8x9y0z1a2
            versionName: Customer Support Agent v1
            state: staging
            isPublished: false
            version: 1
            createdAt: '2024-02-27T10:30:00.000Z'
      required:
      - success
      - message
      - agent
      - versions
    EmployeeListItemDTO:
      type: object
      properties:
        id:
          type: string
          example: emp_123
          description: Unique identifier for the agent.
        name:
          type: string
          example: John Doe
          description: Name of the agent.
        businessName:
          type: string
          example: Tech Corp
          description: Name of the business the agent represents.
        mode:
          type: string
          enum:
          - 'off'
          - suggestive
          - auto-pilot
          example: auto-pilot
          description: Current operating mode of the agent.
        channels:
          example:
          - SMS
          - LIVE_CHAT
          description: Communication channels the agent operates on.
          type: array
          items:
            type: string
        waitTime:
          type: number
          example: 30
          description: Wait time before agent responds.
        waitTimeUnit:
          type: string
          enum:
          - minutes
          - seconds
          example: seconds
          description: Unit for wait time.
        sleepEnabled:
          type: boolean
          example: false
          description: Indicates if sleep functionality is enabled.
          deprecated: true
        sleepTime:
          type: number
          example: 2
          description: Duration of sleep period.
        sleepTimeUnit:
          type: string
          enum:
          - hours
          - minutes
          - seconds
          example: hours
          description: Unit of sleep time.
        actions:
          example:
          - id: action_123
            type: triggerWorkflow
          description: List of actions associated with this agent.
          type: array
          items:
            type: object
        isPrimary:
          type: boolean
          example: false
          description: Indicates if this agent is a primary agent. (First agent created for a location is primary by default)
        autoPilotMaxMessages:
          type: number
          example: 25
          description: Maximum number of messages in auto-pilot mode before requiring human intervention.
        goal:
          type: object
          example:
            prompt: Assist customers
            type: custom
            actionId: null
          description: Goal configuration for the agent.
        knowledgeBaseIds:
          example:
          - kb_123
          - kb_456
          description: Array of knowledge base IDs associated with this agent.
          type: array
          items:
            type: string
        createdAt:
          type: string
          example: '2024-01-01T00:00:00Z'
          description: Timestamp when the agent was created.
        updatedAt:
          type: string
          example: '2024-01-01T00:00:00Z'
          description: Timestamp when the agent was last updated.
        sleepOnManualMessage:
          type: boolean
          example: false
          description: Whether the bot sleeps on manual outbound messages.
        sleepOnWorkflowMessage:
          type: boolean
          example: false
          description: Whether the bot sleeps on workflow outbound messages.
      required:
      - id
      - name
      - mode
      - channels
      - waitTime
      - waitTimeUnit
      - sleepEnabled
      - actions
      - isPrimary
      - autoPilotMaxMessages
      - createdAt
      - updatedAt
    UpdateEmployeeDto:
      type: object
      properties:
        name:
          type: string
          example: John Doe
          description: Name of the agent.
        businessName:
          type: string
          example: Tech Corp
          description: Name of the business the agent represents.
        mode:
          type: string
          enum:
          - 'off'
          - suggestive
          - auto-pilot
          description: Mode of operation for the agent, required if primary is enabled.
        channels:
          type: array
          description: Channels the agent can use.
          items:
            type: string
            enum:
            - IG
            - FB
            - SMS
            - WebChat
            - WhatsApp
            - Live_Chat
        isPrimary:
          type: boolean
          example: true
          description: Indicates if this agent is a primary agent.
        waitTime:
          type: number
          example: 30
          description: Wait time before agent responds (max 5 for minutes, 300 for seconds).
        waitTimeUnit:
          type: string
          enum:
          - minutes
          - seconds
          example: seconds
          description: Unit for wait time - SECONDS or MINUTES
        sleepEnabled:
          type: boolean
          example: false
          description: Indicates if sleep functionality is enabled.
          deprecated: true
        sleepTime:
          type: number
          example: 10
          description: Duration of sleep period (required if sleepEnabled is true). Set to null for indefinite sleep. (max 2880 for minutes, 172800 for seconds, 48 for hours)
        sleepTimeUnit:
          type: string
          enum:
          - hours
          - minutes
          - seconds
          description: Unit of sleep time - HOURS, MINUTES, or SECONDS (required if sleepEnabled is true). Set to null for indefinite sleep.
        personality:
          type: string
          example: You re an AI assistant and you are friendly and helpful
          description: Personality traits of the agent.
        goal:
          type: string
          example: You are an AI assistant and you are helping customers with inquiries.
          description: The goal of the agent.
        instructions:
          type: string
          example: Provide excellent customer service.
          description: Instructions for the agent.
        autoPilotMaxMessages:
          type: number
          default: 75
          description: 'Maximum number of messages in auto-pilot mode before requiring human intervention. (max: 100, min: 1)'
        knowledgeBaseIds:
          description: Array of knowledge base IDs associated with this agent.
          type: array
          items:
            type: string
        respondToImages:
          type: boolean
          example: true
          default: false
          description: Allow agent to respond to images
        respondToAudio:
          type: boolean
          example: true
          default: false
          description: Allow agent to respond to audio
        sleepOnManualMessage:
          type: boolean
          example: false
          description: Enable sleep when a manual outbound message is sent.
        sleepOnWorkflowMessage:
          type: boolean
          example: false
          description: Enable sleep when a workflow outbound message is sent.
      required:
      - autoPilotMaxMessages
    ActionsIdDto:
      type: object
      properties:
        id:
          type: string
          example: actionId123
          description: Unique identifier for the action.
        type:
          type: string
          example: triggerWorkflow
          description: type of action.
          enum:
          - triggerWorkflow
          - updateContactField
          - appointmentBooking
          - stopBot
          - humanHandOver
          - advancedFollowup
          - transferBot
      required:
      - id
      - type
    SearchEmployeeResponseDTO:
      type: object
      properties:
        agents:
          description: List of agents matching the search criteria.
          type: array
          items:
            $ref: '#/components/schemas/EmployeeListItemDTO'
        totalCount:
          type: number
          example: 100
          description: Total number of agents in the location (unfiltered count).
        count:
          type: number
          example: 25
          description: Number of agents in the current response (filtered/paginated count).
      required:
      - agents
      - totalCount
      - count
    DeleteEmployeeResponseDTO:
      type: object
      properties:
        success:
          type: boolean
          example: true
          description: Indicates if the agent was deleted successfully.
        id:
          type: string
          example: emp_123
          description: Unique identifier of the deleted agent.
      required:
      - success
      - id
    EmployeeResponseDTO:
      type: object
      properties:
        id:
          type: string
          example: emp_123
          description: Unique identifier for the agent.
        name:
          type: string
          example: John Doe
          description: Name of the agent.
        businessName:
          type: string
          example: Tech Corp
          description: Name of the business the agent represents.
        mode:
          type: string
          enum:
          - 'off'
          - suggestive
          - auto-pilot
          example: auto-pilot
          description: Current operating mode of the agent.
        channels:
          type: array
          example:
          - SMS
          - Live_Chat
          description: Communication channels the agent operates on.
          items:
            type: string
            enum:
            - IG
            - FB
            - SMS
            - WebChat
            - WhatsApp
            - Live_Chat
        waitTime:
          type: number
          example: 30
          description: Wait time before agent responds.
        waitTimeUnit:
          type: string
          enum:
          - minutes
          - seconds
          example: seconds
          description: Unit for wait time.
        sleepEnabled:
          type: boolean
          example: false
          description: Indicates if sleep functionality is enabled.
          deprecated: true
        sleepTime:
          type: number
          example: 2
          description: Duration of sleep period.
        sleepTimeUnit:
          type: string
          enum:
          - hours
          - minutes
          - seconds
          example: hours
          description: Unit of sleep time.
        actions:
          description: List of actions associated with this agent.
          type: array
          items:
            $ref: '#/components/schemas/ActionsIdDto'
        isPrimary:
          type: boolean
          example: false
          description: Indicates if this agent is a primary agent.
        autoPilotMaxMessages:
          type: number
          example: 25
          description: Maximum number of messages in auto-pilot mode before requiring human intervention.
        goal:
          type: string
          example: Assist customers with inquiries
          description: The goal of the agent.
        personality:
          type: string
          example: Friendly and helpful
          description: Personality traits of the agent.
        instructions:
          type: string
          example: Provide excellent customer service
          description: Instructions for the agent.
        knowledgeBaseIds:
          example:
          - kb_123
          - kb_456
          description: Array of knowledge base IDs associated with this agent.
          type: array
          items:
            type: string
        sleepOnManualMessage:
          type: boolean
          example: false
          description: Whether the bot sleeps on manual outbound messages.
        sleepOnWorkflowMessage:
          type: boolean
          example: false
          description: Whether the bot sleeps on workflow outbound messages.
      required:
      - id
      - name
      - mode
      - channels
      - waitTime
      - waitTimeUnit
      - sleepEnabled
      - actions
      - isPrimary
      - autoPilotMaxMessages
    CreateEmployeeDto:
      type: object
      properties:
        name:
          type: string
          example: John Doe
          description: Name of the agent.
        businessName:
          type: string
          example: Tech Corp
          description: Name of the business the agent represents.
        mode:
          type: string
          enum:
          - 'off'
          - suggestive
          - auto-pilot
          example: auto-pilot
          default: 'off'
          description: Mode of operation - OFF, SUGGESTIVE, or AUTO_PILOT
        channels:
          type: array
          example:
          - SMS
          - Live_Chat
          - WhatsApp
          description: Communication channels the agent can operate on
          items:
            type: string
            enum:
            - IG
            - FB
            - SMS
            - WebChat
            - WhatsApp
            - Live_Chat
        isPrimary:
          type: boolean
          example: true
          default: false
          description: Indicates if this agent is a primary agent.
        waitTime:
          type: number
          example: 2
          default: 2
          description: Wait time before agent responds (max 5 for minutes, 300 for seconds)
        waitTimeUnit:
          type: string
          enum:
          - minutes
          - seconds
          example: seconds
          default: seconds
          description: Unit for wait time - SECONDS or MINUTES
        sleepEnabled:
          type: boolean
          example: false
          default: false
          description: Indicates if sleep functionality is enabled.
          deprecated: true
        sleepTime:
          type: number
          example: 2
          description: Duration of sleep period (required if sleepEnabled is true). Set to null for indefinite sleep. (max 2880 for minutes, 172800 for seconds, 48 for hours)
        sleepTimeUnit:
          type: string
          enum:
          - hours
          - minutes
          - seconds
          example: hours
          description: Unit of sleep time - HOURS, MINUTES, or SECONDS (required if sleepEnabled is true). Set to null for indefinite sleep.
        personality:
          type: string
          example: Friendly and helpful
          description: Personality traits of the agent.
        goal:
          type: string
          example: Assist customers with inquiries.
          description: The goal of the agent.
        instructions:
          type: string
          example: Provide  customer service.
          description: Instructions for the agent.
        autoPilotMaxMessages:
          type: number
          example: 75
          default: 75
          description: 'Maximum number of messages in auto-pilot mode before requiring human intervention. (max: 100, min: 1)'
        knowledgeBaseIds:
          description: Array of knowledge base IDs associated with this agent.
          type: array
          items:
            type: string
        respondToImages:
          type: boolean
          example: true
          default: false
          description: Allow agent to respond to images
        respondToAudio:
          type: boolean
          example: true
          default: false
          description: Allow agent to respond to audio
        sleepOnManualMessage:
          type: boolean
          example: false
          description: Enable sleep when a manual outbound message is sent.
        sleepOnWorkflowMessage:
          type: boolean
          example: false
          description: Enable sleep when a workflow outbound message is sent.
      required:
      - name
      - personality
      - goal
      - instructions
    CustomActionApiDetailsDTO:
      type: object
      properties:
        url:
          type: string
          description: API endpoint URL
          example: https://api.example.com/orders
        method:
          type: string
          description: HTTP method
          example: GET
          enum:
          - POST
          - GET
        authenticationRequired:
          type: boolean
          description: Whether authentication is required
          example: true
        authenticationValue:
          type: string
          description: Authentication token or API key (required if authenticationRequired is true)
          example: token123
        headers:
          description: HTTP headers to include
          type: array
          items:
            $ref: '#/components/schemas/CustomActionHeaderDTO'
        parameters:
          description: API parameters to send
          type: array
          items:
            $ref: '#/components/schemas/CustomActionParameterDTO'
      required:
      - url
      - method
    KnowledgeBaseParameters:
      type: object
      properties:
        triggerPrompt:
          type: string
          description: When to query the knowledge base
          example: When caller asks about pricing
        knowledgeBaseId:
          type: string
          description: Knowledge base ID to query
          example: 507f1f77bcf86cd799439011
      required:
      - triggerPrompt
      - knowledgeBaseId
    TranslationDTO:
      type: object
      properties:
        enabled:
          type: boolean
          description: 'Enables language translation for agent conversations. Default: false'
          example: false
        language:
          type: string
          description: Target language code for translation (e.g., "es" for Spanish, "fr" for French).
          example: es
      required:
      - enabled
    GetAgentsResponseDTO:
      type: object
      properties:
        total:
          type: number
          description: Total number of items
          example: 150
        page:
          type: number
          description: Page number starting from 1
          example: 2
        pageSize:
          type: number
          description: Number of items per page
          example: 10
        agents:
          type: array
          items:
            $ref: '#/components/schemas/GetAgentResponseDTO'
      required:
      - total
      - page
      - pageSize
      - agents
    PatienceLevel:
      type: string
      description: 'Tolerance level for caller response delays. Default: "high"'
      enum:
      - low
      - medium
      - high
    AppointmentBookingActionParameters:
      type: object
      properties:
        calendarId:
          type: string
          description: Calendar ID to book appointments in
          example: 507f1f77bcf86cd799439011
        daysOfOfferingDates:
          type: number
          description: Number of days ahead to offer booking dates
          example: 3
        slotsPerDay:
          type: number
          description: Number of available slots per day
          example: 3
        hoursBetweenSlots:
          type: number
          description: Hours between available slots
          example: 1
      required:
      - calendarId
      - daysOfOfferingDates
      - slotsPerDay
      - hoursBetweenSlots
    IntervalDTO:
      type: object
      properties:
        startHour:
          type: number
          description: Starting hour of the working interval in 24-hour format (0-23)
          example: 9
          minimum: 0
          maximum: 23
        endHour:
          type: number
          description: Ending hour of the working interval in 24-hour format (0-23)
          example: 17
          minimum: 0
          maximum: 23
        startMinute:
          type: number
          description: Starting minute of the working interval (0-59)
          example: 0
          minimum: 0
          maximum: 59
        endMinute:
          type: number
          description: Ending minute of the working interval (0-59)
          example: 30
          minimum: 0
          maximum: 59
      required:
      - startHour
      - endHour
      - startMinute
      - endMinute
    TranslationSchema:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether translation is enabled
          example: false
        language:
          type: string
          description: Translation language code
          example: es
    PatchAgentResponseDTO:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the created agent
          example: 507f1f77bcf86cd799439011
        locationId:
          type: string
          description: Unique identifier for the location where this agent operates
          example: LOC123456789ABCDEF
        agentName:
          type: string
          description: Display name of the voice AI agent
          example: Customer Support Agent
        businessName:
          type: string
          description: Name of the business this agent represents
          example: Acme Corporation
        welcomeMessage:
          type: string
          description: Greeting message spoken when the agent answers calls
          example: Hello! Thank you for calling. How can I assist you today?
        agentPrompt:
          type: string
          description: Custom instructions defining the agent's behavior
          example: You are a helpful customer service representative.
        voiceId:
          type: string
          description: Identifier for the speech synthesis voice being used
          example: 507f1f77bcf86cd799439011
        language:
          type: string
          description: Language code for the agent's speech and understanding
          example: en-US
        patienceLevel:
          type: string
          description: Current tolerance level for caller response delays
          example: medium
        maxCallDuration:
          type: number
          description: Maximum call duration in seconds, between 180-900
          example: 600
          minimum: 180
          maximum: 900
        sendUserIdleReminders:
          type: boolean
          description: Indicates whether automatic idle reminders are enabled
          example: true
        reminderAfterIdleTimeSeconds:
          type: number
          description: Seconds to wait before sending idle reminders, between 1-20
          example: 5
          minimum: 1
          maximum: 20
        inboundNumber:
          type: string
          description: Phone number for receiving inbound calls
          example: '+1234567890'
        numberPoolId:
          type: string
          description: Identifier for the number pool managing this agent's phone allocation
          example: pool_507f1f77bcf86cd799439011
        callEndWorkflowIds:
          description: Array of workflow IDs triggered automatically when calls end
          example: []
          type: array
          items:
            type: string
        sendPostCallNotificationTo:
          description: Current post-call notification settings including recipient configuration
          allOf:
          - $ref: '#/components/schemas/SendPostCallNotificationSchema'
        agentWorkingHours:
          description: Time intervals when the agent accepts calls, organized by day of week
          example: []
          type: array
          items:
            $ref: '#/components/schemas/AgentWorkingHoursDTO'
        timezone:
          type: string
          description: IANA timezone identifier for working hours and scheduling
          example: America/New_York
        isAgentAsBackupDisabled:
          type: boolean
          description: Indicates whether this agent is excluded from backup scenarios
          example: false
        translation:
          description: Current language translation settings including enablement status and target language
          allOf:
          - $ref: '#/components/schemas/TranslationSchema'
      required:
      - id
      - locationId
      - agentName
      - businessName
      - welcomeMessage
      - agentPrompt
      - voiceId
      - language
      - patienceLevel
      - maxCallDuration
      - sendUserIdleReminders
      - reminderAfterIdleTimeSeconds
      - timezone
      - isAgentAsBackupDisabled
    InCallDataExtractionActionParameters:
      type: object
      properties:
        contactFieldId:
          type: string
          description: ID of the contact field to be updated with the extracted data
          example: 507f1f77bcf86cd799439011
        description:
          type: string
          description: Description of what data to extract
          example: Caller's phone number
        examples:
          description: Example values to help Agent understand the expected format. At least one example is required, maximum 5 examples allowed.
          example:
          - '+1234567890'
          - '+9876543210'
          type: array
          items:
            type: string
        overwriteExistingValue:
          type: boolean
          description: Whether to overwrite existing field value if already set, default is false
          example: false
          default: false
      required:
      - contactFieldId
      - description
      - examples
    VoiceAILanguage:
      type: string
      description: 'Language code for the agent''s speech and understanding. Default: "en-US"'
      enum:
      - en-US
      - pt-BR
      - es
      - fr
      - de
      - it
      - nl-NL
      - multi
    SendPostCallNotificationSchema:
      type: object
      properties:
        admins:
          type: boolean
          description: Send notifications to admins
          example: true
        allUsers:
          type: boolean
          description: Send notifications to all users
          example: false
        contactAssignedUser:
          type: boolean
          description: Send notifications to contact assigned user
          example: false
        specificUsers:
          description: Specific user IDs to notify
          example: []
          type: array
          items:
            type: string
        customEmails:
          description: Custom email addresses to notify
          example: []
          type: array
          items:
            type: string
    GetAgentResponseDTO:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the created agent
          example: 507f1f77bcf86cd799439011
        locationId:
          type: string
          description: Unique identifier for the location where this agent operates
          example: LOC123456789ABCDEF
        agentName:
          type: string
          description: Display name of the voice AI agent
          example: Customer Support Agent
        businessName:
          type: string
          description: Name of the business this agent represents
          example: Acme Corporation
        welcomeMessage:
          type: string
          description: Greeting message spoken when the agent answers calls
          example: Hello! Thank you for calling. How can I assist you today?
        agentPrompt:
          type: string
          description: Custom instructions defining the agent's behavior
          example: You are a helpful customer service representative.
        voiceId:
          type: string
          description: Identifier for the speech synthesis voice being used
          example: 507f1f77bcf86cd799439011
        language:
          type: string
          description: Language code for the agent's speech and understanding
          example: en-US
        patienceLevel:
          type: string
          description: Current tolerance level for caller response delays
          example: medium
        maxCallDuration:
          type: number
          description: Maximum call duration in seconds, between 180-900
          example: 600
          minimum: 180
          maximum: 900
        sendUserIdleReminders:
          type: boolean
          description: Indicates whether automatic idle reminders are enabled
          example: true
        reminderAfterIdleTimeSeconds:
          type: number
          description: Seconds to wait before sending idle reminders, between 1-20
          example: 5
          minimum: 1
          maximum: 20
        inboundNumber:
          type: string
          description: Phone number for receiving inbound calls
          example: '+1234567890'
        numberPoolId:
          type: string
          description: Identifier for the number pool managing this agent's phone allocation
          example: pool_507f1f77bcf86cd799439011
        callEndWorkflowIds:
          description: Array of workflow IDs triggered automatically when calls end
          example: []
          type: array
          items:
            type: string
        sendPostCallNotificationTo:
          description: Current post-call notification settings including recipient configuration
          allOf:
          - $ref: '#/components/schemas/SendPostCallNotificationSchema'
        agentWorkingHours:
          description: Time intervals when the agent accepts calls, organized by day of week
          example: []
          type: array
          items:
            $ref: '#/components/schemas/AgentWorkingHoursDTO'
        timezone:
          type: string
          description: IANA timezone identifier for working hours and scheduling
          example: America/New_York
        isAgentAsBackupDisabled:
          type: boolean
          description: Indicates whether this agent is excluded from backup scenarios
          example: false
        translation:
          description: Current language translation settings including enablement status and target language
          allOf:
          - $ref: '#/components/schemas/TranslationSchema'
        actions:
          description: Raw actions configured for this agent with complete actionParameters structure
          example:
          - _id: 507f1f77bcf86cd799439011
            actionType: CALL_TRANSFER
            name: Transfer to Manager
            actionParameters:
              triggerPrompt: When caller asks for manager
              triggerMessage: Let me transfer you
              transferToType: number
              transferToValue: '+1234567890'
          type: array
          items:
            $ref: '#/components/schemas/AgentActionResponseDTO'
      required:
      - id
      - locationId
      - agentName
      - businessName
      - welcomeMessage
      - agentPrompt
      - voiceId
      - language
      - patienceLevel
      - maxCallDuration
      - sendUserIdleReminders
      - reminderAfterIdleTimeSeconds
      - timezone
      - isAgentAsBackupDisabled
      - actions
    WorkflowTriggerParameters:
      type: object
      properties:
        triggerPrompt:
          type: string
          description: When to trigger this workflow
          example: When caller requests a quote
        triggerMessage:
          type: string
          description: Message to tell the caller
          example: Let me start that process for you
        workflowId:
          type: string
          description: Workflow ID to trigger
          example: 507f1f77bcf86cd799439011
      required:
      - triggerPrompt
      - triggerMessage
      - workflowId
    CustomActionHeaderDTO:
      type: object
      properties:
        key:
          type: string
          description: HTTP header name
          example: id
        value:
          type: string
          description: HTTP header value
          example: '1234567890'
      required:
      - key
      - value
    DataExtractionActionParameters:
      type: object
      properties:
        contactFieldId:
          type: string
          description: ID of the contact field to be updated with the extracted data
          example: 507f1f77bcf86cd799439011
        description:
          type: string
          description: Description of what data to extract
          example: Caller's phone number
        examples:
          description: Example values to help Agent understand the expected format. At least one example is required, maximum 5 examples allowed.
          example:
          - '+1234567890'
          - '+9876543210'
          type: array
          items:
            type: string
        overwriteExistingValue:
          type: boolean
          description: Whether to overwrite existing field value if already set, default is false
          example: false
          default: false
      required:
      - contactFieldId
      - description
      - examples
    CreateAgentResponseDTO:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the created agent
          example: 507f1f77bcf86cd799439011
        locationId:
          type: string
          description: Unique identifier for the location where this agent operates
          example: LOC123456789ABCDEF
        agentName:
          type: string
          description: Display name of the voice AI agent
          example: Customer Support Agent
        businessName:
          type: string
          description: Name of the business this agent represents
          example: Acme Corporation
        welcomeMessage:
          type: string
          description: Greeting message spoken when the agent answers calls
          example: Hello! Thank you for calling. How can I assist you today?
        agentPrompt:
          type: string
          description: Custom instructions defining the agent's behavior
          example: You are a helpful customer service representative.
        voiceId:
          type: string
          description: Identifier for the speech synthesis voice being used
          example: 507f1f77bcf86cd799439011
        language:
          type: string
          description: Language code for the agent's speech and understanding
          example: en-US
        patienceLevel:
          type: string
          description: Current tolerance level for caller response delays
          example: medium
        maxCallDuration:
          type: number
          description: Maximum call duration in seconds, between 180-900
          example: 600
          minimum: 180
          maximum: 900
        sendUserIdleReminders:
          type: boolean
          description: Indicates whether automatic idle reminders are enabled
          example: true
        reminderAfterIdleTimeSeconds:
          type: number
          description: Seconds to wait before sending idle reminders, between 1-20
          example: 5
          minimum: 1
          maximum: 20
        inboundNumber:
          type: string
          description: Phone number for receiving inbound calls
          example: '+1234567890'
        numberPoolId:
          type: string
          description: Identifier for the number pool managing this agent's phone allocation
          example: pool_507f1f77bcf86cd799439011
        callEndWorkflowIds:
          description: Array of workflow IDs triggered automatically when calls end
          example: []
          type: array
          items:
            type: string
        sendPostCallNotificationTo:
          description: Current post-call notification settings including recipient configuration
          allOf:
          - $ref: '#/components/schemas/SendPostCallNotificationSchema'
        agentWorkingHours:
          description: Time intervals when the agent accepts calls, organized by day of week
          example: []
          type: array
          items:
            $ref: '#/components/schemas/AgentWorkingHoursDTO'
        timezone:
          type: string
          description: IANA timezone identifier for working hours and scheduling
          example: America/New_York
        isAgentAsBackupDisabled:
          type: boolean
          description: Indicates whether this agent is excluded from backup scenarios
          example: false
        translation:
          description: Current language translation settings including enablement status and target language
          allOf:
          - $ref: '#/components/schemas/TranslationSchema'
      required:
      - id
      - locationId
      - agentName
      - businessName
      - welcomeMessage
      - agentPrompt
      - voiceId
      - language
      - patienceLevel
      - maxCallDuration
      - sendUserIdleReminders
      - reminderAfterIdleTimeSeconds
      - timezone
      - isAgentAsBackupDisabled
    AgentActionResponseDTO:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this action
          example: 507f1f77bcf86cd799439011
        actionType:
          type: string
          description: Type of action
          enum:
          - CALL_TRANSFER
          - DATA_EXTRACTION
          - IN_CALL_DATA_EXTRACTION
          - WORKFLOW_TRIGGER
          - SMS
          - APPOINTMENT_BOOKING
          - CUSTOM_ACTION
          - KNOWLEDGE_BASE
          example: CALL_TRANSFER
        name:
          type: string
          description: Human-readable name for this action
          example: Transfer to Manager
        actionParameters:
          description: Action parameters - structure varies by actionType
          oneOf:
          - $ref: '#/components/schemas/CallTransferActionParameters'
          - $ref: '#/components/schemas/DataExtractionActionParameters'
          - $ref: '#/components/schemas/InCallDataExtractionActionParameters'
          - $ref: '#/components/schemas/WorkflowTriggerParameters'
          - $ref: '#/components/schemas/SMSParameters'
          - $ref: '#/components/schemas/AppointmentBookingActionParameters'
          - $ref: '#/components/schemas/CustomActionParameters'
          - $ref: '#/components/schemas/KnowledgeBaseParameters'
      required:
      - id
      - actionType
      - name
      - actionParameters
[...]
